bunkerni_test
[{"id":"2853a72.5965458","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"199a01a2.86d87e","type":"modbus-read","z":"2853a72.5965458","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"d52c7fa2.56e62","x":130,"y":140,"wires":[["450ee726.db7f08"],[]]},{"id":"450ee726.db7f08","type":"function","z":"2853a72.5965458","name":"","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[[]]},{"id":"68f2d4f.9145a2c","type":"modbus-read","z":"2853a72.5965458","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"500","rateUnit":"ms","server":"d52c7fa2.56e62","x":130,"y":200,"wires":[["f9c89191.1455c"],[]]},{"id":"35d60f21.1a751","type":"function","z":"2853a72.5965458","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":363.75000381469727,"y":181.25000286102295,"wires":[["8e8660ca.72a42","56682c7b.1cf754"]]},{"id":"8e8660ca.72a42","type":"function","z":"2853a72.5965458","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":576.5,"y":177,"wires":[["d5d4c96a.d9d5c8"]]},{"id":"d5d4c96a.d9d5c8","type":"debug","z":"2853a72.5965458","name":"","active":false,"console":"false","complete":"false","x":758.0000076293945,"y":175.75000190734863,"wires":[]},{"id":"1830df9b.ed492","type":"inject","z":"2853a72.5965458","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":227.25000762939453,"y":702.0000095367432,"wires":[["7443f7c1.24ee68","1e7dc6eb.88bef9"]]},{"id":"ae2beb53.b50138","type":"inject","z":"2853a72.5965458","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":228.25000762939453,"y":748.0000095367432,"wires":[["3e52dd28.5b1402"]]},{"id":"7443f7c1.24ee68","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":709.3750343322754,"y":717.5000095367432,"wires":[]},{"id":"3e52dd28.5b1402","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":705.0000114440918,"y":737.5000133514404,"wires":[]},{"id":"862eb188.d4b03","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":778.7500076293945,"y":477.5000047683716,"wires":[]},{"id":"4f8937ef.2fe108","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":205.6250114440918,"y":587.5000095367432,"wires":[]},{"id":"ef36a43b.cde428","type":"modbus-read","z":"2853a72.5965458","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"d52c7fa2.56e62","x":118.75,"y":477.5000057220459,"wires":[["d0d5e516.a31ad8","94d46c79.fc071","75241e1c.d47cc"],[]]},{"id":"40a9d2ba.c4a32c","type":"debug","z":"2853a72.5965458","name":"","active":false,"console":"true","complete":"payload","x":572.5000076293945,"y":547.5000057220459,"wires":[]},{"id":"d0d5e516.a31ad8","type":"function","z":"2853a72.5965458","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":354.37500381469727,"y":483.7500057220459,"wires":[["40a9d2ba.c4a32c","862eb188.d4b03","794894e7.3e32ec"]]},{"id":"2144fbad.80a764","type":"debug","z":"2853a72.5965458","name":"","active":false,"console":"true","complete":"payload","x":620.0000076293945,"y":590.0000076293945,"wires":[]},{"id":"94d46c79.fc071","type":"function","z":"2853a72.5965458","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nreturn msg;","outputs":1,"noerr":0,"x":326.25000381469727,"y":520.0000066757202,"wires":[["2144fbad.80a764"]]},{"id":"2bd2556c.c7bdaa","type":"function","z":"2853a72.5965458","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":331.87500381469727,"y":250.00000381469727,"wires":[["8778cdc.361ab3","d8e02604.1147c8"]]},{"id":"8778cdc.361ab3","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":723.7500114440918,"y":311.2500057220459,"wires":[]},{"id":"d8e02604.1147c8","type":"ui_chart","z":"2853a72.5965458","name":"","group":"31710f73.38dfd","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":710.6250114440918,"y":351.2500066757202,"wires":[[],[]]},{"id":"1e7dc6eb.88bef9","type":"ui_chart","z":"2853a72.5965458","name":"","group":"31710f73.38dfd","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":701.2500114440918,"y":675.0000114440918,"wires":[[],[]]},{"id":"7966d3ac.51978c","type":"http in","z":"2853a72.5965458","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":186.875,"y":940.0000190734863,"wires":[["d8419361.1b2bb"]]},{"id":"dbcbd8fe.6dd1a8","type":"http in","z":"2853a72.5965458","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":198.75,"y":1007.5000190734863,"wires":[["eef03611.9f3448"]]},{"id":"75241e1c.d47cc","type":"debug","z":"2853a72.5965458","name":"","active":false,"console":"true","complete":"payload","x":521.2500076293945,"y":151.25000286102295,"wires":[]},{"id":"5f252db.89b89d4","type":"ui_text","z":"2853a72.5965458","group":"f1abc85a.5e8a58","order":0,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":748.75,"y":271.25,"wires":[]},{"id":"56682c7b.1cf754","type":"function","z":"2853a72.5965458","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":553.125,"y":261.25,"wires":[["5f252db.89b89d4"]]},{"id":"f9c89191.1455c","type":"switch","z":"2853a72.5965458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":151.87500381469727,"y":310.00000381469727,"wires":[[],["49c2bade.4ca374"]]},{"id":"80d3aa46.2233b8","type":"function","z":"2853a72.5965458","name":"Fill weights table","func":"    var record = {\n                Date: flow.get(\"time\"),\n                Weight: 15,\n                TotalWeight:20\n            }     \n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":485.62500762939453,"y":342.50000381469727,"wires":[["e4d7714.1b91d9","feb9d6e6.805ab8"]]},{"id":"d8419361.1b2bb","type":"function","z":"2853a72.5965458","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":418.12500762939453,"y":940.0000133514404,"wires":[["e598c796.e704e8"]]},{"id":"e598c796.e704e8","type":"http response","z":"2853a72.5965458","name":"","x":568.125,"y":937.5,"wires":[]},{"id":"4b2cc97e.24dfd8","type":"inject","z":"2853a72.5965458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":268.125,"y":41.25,"wires":[["239e7a86.e81886"]]},{"id":"239e7a86.e81886","type":"function","z":"2853a72.5965458","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":410.625,"y":40,"wires":[[]]},{"id":"49c2bade.4ca374","type":"function","z":"2853a72.5965458","name":"","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":311.875,"y":365,"wires":[[]]},{"id":"794894e7.3e32ec","type":"ui_chart","z":"2853a72.5965458","name":"","group":"31710f73.38dfd","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":765,"y":523.75,"wires":[[],[]]},{"id":"eef03611.9f3448","type":"function","z":"2853a72.5965458","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":421.25,"y":1007.5,"wires":[["80d007ea.ab86b8"]]},{"id":"80d007ea.ab86b8","type":"http response","z":"2853a72.5965458","name":"","x":571.2499923706055,"y":1004.9999866485596,"wires":[]},{"id":"e4d7714.1b91d9","type":"file","z":"2853a72.5965458","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":649.375,"y":417.5,"wires":[]},{"id":"ac99ddc4.37de6","type":"file in","z":"2853a72.5965458","name":"","filename":"/bulkweights_data.json","format":"utf8","x":479.37500381469727,"y":1081.250012397766,"wires":[["dd9c8013.6cb1"]]},{"id":"7217405c.12a38","type":"http in","z":"2853a72.5965458","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":213.75,"y":1075,"wires":[["ac99ddc4.37de6"]]},{"id":"dd9c8013.6cb1","type":"http response","z":"2853a72.5965458","name":"","x":676.25,"y":1068.75,"wires":[]},{"id":"feb9d6e6.805ab8","type":"debug","z":"2853a72.5965458","name":"","active":true,"console":"false","complete":"false","x":583.125,"y":462.5,"wires":[]},{"id":"318b63e4.08920c","type":"http in","z":"2853a72.5965458","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":203.75,"y":883.75,"wires":[["fe35779d.5ed198","eab4d3b5.1857c"]]},{"id":"fe35779d.5ed198","type":"file","z":"2853a72.5965458","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":488.125,"y":886.25,"wires":[]},{"id":"eab4d3b5.1857c","type":"http response","z":"2853a72.5965458","name":"","x":606,"y":850,"wires":[]},{"id":"a050aad4.024158","type":"inject","z":"2853a72.5965458","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":128.5,"y":1220,"wires":[["30437c5a.b9ec64","decaf7e3.20cdd8"]]},{"id":"7032cd6.6abc334","type":"debug","z":"2853a72.5965458","name":"","active":false,"console":"false","complete":"false","x":352.5,"y":1214,"wires":[]},{"id":"30437c5a.b9ec64","type":"function","z":"2853a72.5965458","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":230.5,"y":1281,"wires":[["7032cd6.6abc334"]]},{"id":"decaf7e3.20cdd8","type":"function","z":"2853a72.5965458","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":228,"y":1332,"wires":[["7032cd6.6abc334"]]},{"id":"261be713.dafdb8","type":"inject","z":"2853a72.5965458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.1666717529297,"y":395.3333444595337,"wires":[["80d3aa46.2233b8"]]},{"id":"d52c7fa2.56e62","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"f1abc85a.5e8a58","type":"ui_group","z":"","name":"Default2","tab":"d3aac7f5.8f4dd8","disp":true,"width":"6"},{"id":"31710f73.38dfd","type":"ui_group","z":"","name":"Default","tab":"d3aac7f5.8f4dd8","disp":true,"width":"6"},{"id":"d3aac7f5.8f4dd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
