bunkerni_otladka
[{"id":"78e1f388.18e1cc","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"f113ac9e.96716","type":"tab","label":"Flow 1"},{"id":"8d7c192a.e9a878","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":100,"clientTimeout":1000,"reconnectTimeout":5000},{"id":"3d4a4951.4b66a6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"eeaa24d.b7e6fd8","type":"ui_group","z":"","name":"Default2","tab":"3d4a4951.4b66a6","disp":true,"width":"6"},{"id":"d45e020c.367e3","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"d73bfc26.f54fa","type":"ui_group","z":"","name":"Default","tab":"3d4a4951.4b66a6","disp":true,"width":"6"},{"id":"8852e50c.c29fd8","type":"modbus-read","z":"78e1f388.18e1cc","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"8d7c192a.e9a878","x":115,"y":139,"wires":[["ebf69dac.562b6","f0f17e7.5427e8"],[]]},{"id":"ebf69dac.562b6","type":"function","z":"78e1f388.18e1cc","name":"","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":134,"wires":[[]]},{"id":"ff872cea.a43b3","type":"modbus-read","z":"78e1f388.18e1cc","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"500","rateUnit":"ms","server":"8d7c192a.e9a878","x":95,"y":205.55556201934814,"wires":[["a18341d5.05acf","a3e4d0ad.cdeb9","729583ba.2e064c","cf8503d9.0078c"],[]]},{"id":"41a5bf55.2d062","type":"function","z":"78e1f388.18e1cc","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":363.75000381469727,"y":181.25000286102295,"wires":[["1228c755.5004a9","57d394ab.542fbc"]]},{"id":"1228c755.5004a9","type":"function","z":"78e1f388.18e1cc","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":576.5,"y":177,"wires":[["adc30a6d.ff34d8"]]},{"id":"adc30a6d.ff34d8","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"false","complete":"false","x":758.0000076293945,"y":175.75000190734863,"wires":[]},{"id":"a0869639.0177a8","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":87.25,"y":768,"wires":[["1881e5c6.d8853a","c9795dc4.b5d19"]]},{"id":"da8df4b8.260a38","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":88.25,"y":814,"wires":[["29b88e26.c08852"]]},{"id":"1881e5c6.d8853a","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":268.3750534057617,"y":767.4999904632568,"wires":[]},{"id":"29b88e26.c08852","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":241.99999237060547,"y":812.4999904632568,"wires":[]},{"id":"a26c8127.99546","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":566.75,"y":560.5,"wires":[]},{"id":"d20d0340.bce44","type":"modbus-read","z":"78e1f388.18e1cc","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"8d7c192a.e9a878","x":113.75,"y":587.5000057220459,"wires":[["f537c526.6897b8","3039a4c9.4903fc","7aa9d654.c018c8"],[]]},{"id":"63c1ade4.868f84","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"true","complete":"payload","x":567.5000076293945,"y":657.5000057220459,"wires":[]},{"id":"f537c526.6897b8","type":"function","z":"78e1f388.18e1cc","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":349.37500381469727,"y":593.7500057220459,"wires":[["63c1ade4.868f84","a26c8127.99546","88aec589.b7dcc8"]]},{"id":"b0853776.48aaa8","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"true","complete":"payload","x":568,"y":697,"wires":[]},{"id":"3039a4c9.4903fc","type":"function","z":"78e1f388.18e1cc","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nreturn msg;","outputs":1,"noerr":0,"x":321.25000381469727,"y":630.0000066757202,"wires":[["b0853776.48aaa8","2be586dd.a2c73a"]]},{"id":"a3e4d0ad.cdeb9","type":"function","z":"78e1f388.18e1cc","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":370.875,"y":223,"wires":[["8fdab6a.0d0b348","e97e4b0f.4b64e8"]]},{"id":"8fdab6a.0d0b348","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":727.75,"y":246.25,"wires":[]},{"id":"e97e4b0f.4b64e8","type":"ui_chart","z":"78e1f388.18e1cc","name":"","group":"d73bfc26.f54fa","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":714.625,"y":286.2500009536743,"wires":[[],[]]},{"id":"c9795dc4.b5d19","type":"ui_chart","z":"78e1f388.18e1cc","name":"","group":"d73bfc26.f54fa","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":267.24999237060547,"y":731.9999904632568,"wires":[[],[]]},{"id":"419d823f.80c3ac","type":"http in","z":"78e1f388.18e1cc","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":114.87499618530273,"y":1017.0000066757202,"wires":[["54ba30cf.3ddca"]]},{"id":"d25f8e3c.8561f","type":"http in","z":"78e1f388.18e1cc","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":126.74999618530273,"y":1084.5000066757202,"wires":[["be9b8653.1ad9a8"]]},{"id":"729583ba.2e064c","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"true","complete":"payload","x":499.25,"y":135.25,"wires":[]},{"id":"9f6ff003.93c52","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":757.75,"y":209.25,"wires":[]},{"id":"57d394ab.542fbc","type":"function","z":"78e1f388.18e1cc","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":571.125,"y":214.25,"wires":[["9f6ff003.93c52"]]},{"id":"a18341d5.05acf","type":"switch","z":"78e1f388.18e1cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":151.875,"y":277,"wires":[["b3401dc8.9cced"],["bf404d86.53811","422a5253.aa1bec"]]},{"id":"54ba30cf.3ddca","type":"function","z":"78e1f388.18e1cc","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":346.12500381469727,"y":1017.0000009536743,"wires":[["c7ccc81f.a60438"]]},{"id":"c7ccc81f.a60438","type":"http response","z":"78e1f388.18e1cc","name":"","x":496.12499618530273,"y":1014.4999876022339,"wires":[]},{"id":"298261b0.ac043e","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":268.125,"y":41.25,"wires":[["99b0b7b6.2914a8"]]},{"id":"99b0b7b6.2914a8","type":"function","z":"78e1f388.18e1cc","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nflow.set(\"trigger_hand\", false);\nreturn msg;","outputs":1,"noerr":0,"x":410.625,"y":40,"wires":[[]]},{"id":"b3401dc8.9cced","type":"switch","z":"78e1f388.18e1cc","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":304.375,"y":272.25,"wires":[["1c944df9.d11e82"]]},{"id":"88aec589.b7dcc8","type":"ui_chart","z":"78e1f388.18e1cc","name":"","group":"d73bfc26.f54fa","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":538,"y":607.75,"wires":[[],[]]},{"id":"be9b8653.1ad9a8","type":"function","z":"78e1f388.18e1cc","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":349.24999618530273,"y":1084.499987602234,"wires":[["a88a5817.f8a6a8"]]},{"id":"a88a5817.f8a6a8","type":"http response","z":"78e1f388.18e1cc","name":"","x":499.2499885559082,"y":1081.9999742507935,"wires":[]},{"id":"5f7a4eec.af1b3","type":"file","z":"78e1f388.18e1cc","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":848.4861297607422,"y":356.2777690887451,"wires":[]},{"id":"b5f18801.53d638","type":"file in","z":"78e1f388.18e1cc","name":"","filename":"/bulkweights_data.json","format":"utf8","x":407.375,"y":1158.25,"wires":[["f38cfc2b.09ff4"]]},{"id":"b907ba45.713a98","type":"http in","z":"78e1f388.18e1cc","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":141.74999618530273,"y":1151.999987602234,"wires":[["b5f18801.53d638"]]},{"id":"f38cfc2b.09ff4","type":"http response","z":"78e1f388.18e1cc","name":"","x":604.2499961853027,"y":1145.749987602234,"wires":[]},{"id":"5d0ad712.b8bae8","type":"http in","z":"78e1f388.18e1cc","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":131.74999618530273,"y":960.7499876022339,"wires":[["e71ca4d.9d91158","1594ea3.4986a16"]]},{"id":"e71ca4d.9d91158","type":"file","z":"78e1f388.18e1cc","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":416.12499618530273,"y":963.2499876022339,"wires":[]},{"id":"1594ea3.4986a16","type":"http response","z":"78e1f388.18e1cc","name":"","x":361.7777862548828,"y":900.3333568572998,"wires":[]},{"id":"b8bb9a65.2004e8","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":113,"y":1417.000023841858,"wires":[["18202f5b.c7c8b1"]]},{"id":"7e42aae6.e18c64","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"false","complete":"false","x":472,"y":1417.000023841858,"wires":[]},{"id":"18202f5b.c7c8b1","type":"function","z":"78e1f388.18e1cc","name":"час місцевий","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate);\nreturn msg;\n","outputs":1,"noerr":0,"x":298,"y":1417.000023841858,"wires":[["7e42aae6.e18c64"]]},{"id":"f0f17e7.5427e8","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"true","complete":"payload","x":198.55555725097656,"y":87.22221851348877,"wires":[]},{"id":"2be586dd.a2c73a","type":"ui_text","z":"78e1f388.18e1cc","group":"eeaa24d.b7e6fd8","order":0,"width":0,"height":0,"name":"","label":"Лічильник порцій","format":"{{msg.payload}}","layout":"row-spread","x":306,"y":685,"wires":[]},{"id":"7aa9d654.c018c8","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"false","complete":"false","x":340.3333282470703,"y":555.7777729034424,"wires":[]},{"id":"f1a4b110.0eb88","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":99.75000381469727,"y":1548,"wires":[["20430370.64a9bc"]]},{"id":"20430370.64a9bc","type":"function","z":"78e1f388.18e1cc","name":"prev_total_netto","func":"msg.payload = flow.get('prev_total_netto');\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":247.75001525878906,"y":1552,"wires":[["ec77a54d.7f3fa8"]]},{"id":"ec77a54d.7f3fa8","type":"debug","z":"78e1f388.18e1cc","name":"","active":true,"console":"false","complete":"false","x":422.75001525878906,"y":1550.0000019073486,"wires":[]},{"id":"289e0f7.f7acbf","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":98.75004959106445,"y":1469,"wires":[["70f8ffb2.9c6fd"]]},{"id":"70f8ffb2.9c6fd","type":"function","z":"78e1f388.18e1cc","name":"сумарний вес","func":"msg.payload = flow.get('total_netto');\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":256.5833511352539,"y":1461.6666688919067,"wires":[["f13f4592.7cc9f8"]]},{"id":"f13f4592.7cc9f8","type":"debug","z":"78e1f388.18e1cc","name":"","active":true,"console":"false","complete":"false","x":432.7500419616699,"y":1466.333339691162,"wires":[]},{"id":"7e60ac10.433004","type":"inject","z":"f113ac9e.96716","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":142.50000762939453,"y":164.00001430511475,"wires":[["cee539d0.0bc428"]]},{"id":"cee539d0.0bc428","type":"function","z":"f113ac9e.96716","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nvar povtor_0 = flow.get(\"povtor_0\");\n\nif(prev_total_netto){\n    var record = {\n                Date: new Date(),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight: flow.get('total_netto')\n            }     \n    flow.set('trigger',false);\n    flow.set('replay', 2);\n    \n} else if(prev_total_netto === 0){\n    var record = {\n                Date: new Date(),\n                Weight: 123,\n                TotalWeight:123\n                \n    }\n    flow.set('replay', 2);\n   \n} else {\n    flow.set('replay',1);\n    \n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":335.50001525878906,"y":162.99999380111694,"wires":[["24901794.a1b278"]]},{"id":"24901794.a1b278","type":"debug","z":"f113ac9e.96716","name":"","active":false,"console":"false","complete":"false","x":534.5001831054688,"y":144.99999475479126,"wires":[]},{"id":"5944025e.85289c","type":"switch","z":"f113ac9e.96716","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":291.4999122619629,"y":292.7499723434448,"wires":[["f8e849f1.0ec318"],[]]},{"id":"287c4cf3.37c1e4","type":"inject","z":"f113ac9e.96716","name":"","topic":"","payload":"replay","payloadType":"flow","repeat":"1","crontab":"","once":false,"x":144.49990844726562,"y":294.7499723434448,"wires":[["5944025e.85289c"]]},{"id":"f8e849f1.0ec318","type":"debug","z":"f113ac9e.96716","name":"","active":false,"console":"false","complete":"false","x":495.49991607666016,"y":283.74997329711914,"wires":[]},{"id":"89e18fdf.f0388","type":"function","z":"f113ac9e.96716","name":"","func":"var prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\nvar record = {\n     Date: new Date(),\n     Weight: cur_total_netto-prev_total_netto,\n     TotalWeight: flow.get('total_netto')\n       }     \n    \nflow.set('trigger',false);\nflow.set('replay', 2);\n   \n}  \nif(prev_total_netto === 0)\n{\n    var record = {\n    Date: new Date(),\n    Weight: flow.get('total_netto'),\n    TotalWeight: flow.get('total_netto')\n    \n} \n     flow.set('replay', 2); \n     flow.set('trigger',false);\n} \n\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":202.5,"y":376,"wires":[[]]},{"id":"8f276d1.e03509","type":"function","z":"f113ac9e.96716","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\n\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":207,"wires":[[]]},{"id":"cf8503d9.0078c","type":"switch","z":"78e1f388.18e1cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":140.72207641601562,"y":408.8888874053955,"wires":[["287e827a.1c01ce"],["ad962fb1.badb2"]]},{"id":"287e827a.1c01ce","type":"switch","z":"78e1f388.18e1cc","name":"","property":"trigger_hand","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":352.66659927368164,"y":400.36112213134766,"wires":[["1c944df9.d11e82","f11c4225.b435e"]]},{"id":"ad962fb1.badb2","type":"function","z":"78e1f388.18e1cc","name":"3","func":"flow.set('trigger_hand',true);\nreturn msg;","outputs":1,"noerr":0,"x":346.05540466308594,"y":440.44441986083984,"wires":[[]]},{"id":"422a5253.aa1bec","type":"function","z":"78e1f388.18e1cc","name":"2 false 3","func":"flow.set('trigger',true);\nflow.set('trigger_hand',false);\nreturn msg;","outputs":1,"noerr":0,"x":298.5553169250488,"y":307.861120223999,"wires":[[]]},{"id":"1c944df9.d11e82","type":"function","z":"78e1f388.18e1cc","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"avto\"\n            }  \n           \n    flow.set('trigger',false);\n    flow.set('trigger_hand',false);\n} else {\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"avto\"\n            }  \n           \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":544.9443740844727,"y":304.11111640930176,"wires":[["5f7a4eec.af1b3"]]},{"id":"1fc5367a.e63f5a","type":"function","z":"78e1f388.18e1cc","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }  \n           \n    flow.set('trigger',false);\n    flow.set('trigger_hand',false);\n} \n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":642.6110916137695,"y":452.4444398880005,"wires":[["5f7a4eec.af1b3"]]},{"id":"bf404d86.53811","type":"function","z":"78e1f388.18e1cc","name":"обнулення prev_weight","func":"var to = flow.get('total_netto');\nif (to === 0){\n    flow.set(\"prev_total_netto\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":305.00001525878906,"y":355.0002212524414,"wires":[["9bac27fc.6b7b28"]]},{"id":"9bac27fc.6b7b28","type":"debug","z":"78e1f388.18e1cc","name":"","active":false,"console":"false","complete":"false","x":567.8332672119141,"y":347.7781276702881,"wires":[]},{"id":"16a07801.fe9528","type":"inject","z":"78e1f388.18e1cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":120,"y":478.88887786865234,"wires":[[]]},{"id":"f11c4225.b435e","type":"delay","z":"78e1f388.18e1cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510.00000762939453,"y":402.2222270965576,"wires":[["1fc5367a.e63f5a"]]}]
