form_hand_otves.js
[{"id":"4b417845.3149f8","type":"ui_form","z":"af5ec57c.46b2d8","name":"","label":"","group":"268ba90f.c12116","order":0,"width":"6","height":"11","options":[{"label":"Дата формату 2021-08-28 13:40:49","value":"Date","type":"text","required":true},{"label":"Вага","value":"Weight","type":"number","required":true},{"label":"Загальна Вага","value":"TotalWeight","type":"number","required":false},{"label":"Пароль адміністратора","value":"Password","type":"password","required":true}],"formValue":{"Date":"","Weight":"","TotalWeight":"","Password":""},"payload":"","topic":"","x":130.71429824829102,"y":127.32143592834473,"wires":[["791b43da.d5ba9c","acf60355.fa3fb"]]},{"id":"791b43da.d5ba9c","type":"debug","z":"af5ec57c.46b2d8","name":"","active":true,"console":"true","complete":"true","x":449.1071548461914,"y":125.0000171661377,"wires":[]},{"id":"1a60eaf5.220e05","type":"ui_template","z":"af5ec57c.46b2d8","group":"36549dc5.4aa652","name":"","order":0,"width":"6","height":"3","format":"<style>\n    .RED {\n        color: red;\n        color:#fa8e47;\n    }\n    .GREEN {\n        color: green;\n    }\n</style>\n\n\n<style>\n   p.green {\n    color: green;\n    font-size:30px;\n    font-weight:bold;\n   }\n   p.red {\n    color: red;\n    font-size:30px;\n    font-weight:bold;  \n   }\n \n</style>\n\n<p class=\"red\" ng-bind-html=\"msg.infoStringRed\"></p>\n<p class=\"green\" ng-bind-html=\"msg.infoStringGreen\"></p>\n","storeOutMessages":true,"fwdInMessages":true,"x":456.96427154541016,"y":226.60715103149414,"wires":[[]]},{"id":"f5968c7e.2f0bb","type":"function","z":"af5ec57c.46b2d8","name":"write","func":"var date = msg.payload.Date\n\nif(msg.write){\n    msg.payload = {\n        Date: new Date(date),\n        Weight: msg.payload.Weight,\n        TotalWeight: msg.payload.TotalWeight\n    }\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":445.0000686645508,"y":170.89286994934082,"wires":[["9db5ddad.7c3de","589778d6.d9d958"]]},{"id":"acf60355.fa3fb","type":"function","z":"af5ec57c.46b2d8","name":"check","func":"var password = msg.payload.Password;\nvar dateForm = msg.payload.Date;\n\nvar adminPassword = '1111';\nvar validDate = Date.parse(dateForm);\nif(validDate > 0){\n    validDate = true\n}else {\n    validDate = false\n}\n\nif(password === adminPassword && validDate){\n    msg.infoStringGreen = 'Пароль прийнятий, запис відбувся';\n    msg.write = true;\n}else if(password === adminPassword && !validDate){\n    msg.infoStringRed = 'Дата не валідна';\n}else if(password !== adminPassword && validDate){\n    msg.infoStringRed = 'Невірний пароль';\n}else {\n    msg.infoStringRed = 'Невірний пароль, дата не валідна';\n}\n\n\n\n\nmsg.validDate = validDate;\nreturn msg;","outputs":1,"noerr":0,"x":201.60713958740234,"y":167.1428861618042,"wires":[["1a60eaf5.220e05","c2af74fd.131d58","f5968c7e.2f0bb"]]},{"id":"f70c2a00.a71fd8","type":"delay","z":"af5ec57c.46b2d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":198.75,"y":337.50000619888306,"wires":[["4f4eb113.f87cd"]]},{"id":"4f4eb113.f87cd","type":"function","z":"af5ec57c.46b2d8","name":"clear","func":"msg.payload = '';\ndelete msg.infoStringRed;\ndelete msg.infoStringGreen;\n\nreturn msg;","outputs":1,"noerr":0,"x":355.00000381469727,"y":337.5000057220459,"wires":[["1a60eaf5.220e05"]]},{"id":"c2af74fd.131d58","type":"delay","z":"af5ec57c.46b2d8","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":205,"y":288.7500057220459,"wires":[["f70c2a00.a71fd8"]]},{"id":"268ba90f.c12116","type":"ui_group","z":"","name":"Форма відвісу","tab":"2e464211.0b901e","disp":true,"width":"6"},{"id":"36549dc5.4aa652","type":"ui_group","z":"","name":"Статус","tab":"2e464211.0b901e","order":2,"disp":true,"width":"6"},{"id":"2e464211.0b901e","type":"ui_tab","z":"","name":"Tesla Form","icon":"dashboard"}]
