Kamyanka/test_bunkernu.js

[{"id":"6ef4c562.c6f8bc","type":"tab","label":"vesa"},{"id":"c8d11d94.4d1d9","type":"tab","label":"Flow 1"},{"id":"71005e31.cc51","type":"tab","label":"Interface"},{"id":"4db183c7.b990bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7ed72488.408e3c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0123","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"false","out":"time","addchar":true},{"id":"8b363cfb.33568","type":"socket-io-event","z":"","addr":"getWeight"},{"id":"939e2f2f.f248d","type":"socket-io-server","z":"","port":"4001"},{"id":"45516e85.612dc","type":"ui_group","z":"","name":"Scales 1","tab":"1d0a43e6.e29e6c","order":1,"disp":true,"width":"6"},{"id":"56c2514f.8451d","type":"ui_group","z":"","name":"Logger","tab":"1d0a43e6.e29e6c","disp":true,"width":"6"},{"id":"1d0a43e6.e29e6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5d031c95.f8e3d4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"10","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"1bfb9c78.1bd874","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.5.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"605a3005.9580d","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.5.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"f1067c26.80109","type":"inject","z":"6ef4c562.c6f8bc","name":"","topic":"","payload":"inputString","payloadType":"flow","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[[]]},{"id":"8c40fdfd.53bb5","type":"function","z":"6ef4c562.c6f8bc","name":"GET WEIGHT","func":"var payload = msg.payload;\nvar parser = flow.get('parser');\nvar currentWeight = parser(payload);\n\nflow.set('currentWeight',currentWeight);\n\nmsg.payload       = currentWeight;\n\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":218,"wires":[["bec8ccfd.35584","b531d76c.6965d8","bf7c094a.1a3e08","13909284.37636d","370b603.90110a","43283027.290c6"]]},{"id":"cb4888a3.ccebe8","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getWeight/status","method":"get","swaggerDoc":"","x":160,"y":440,"wires":[["a0f7f0da.ed9cd"]]},{"id":"125df5a7.53b58a","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getWeight","method":"get","swaggerDoc":"","x":130,"y":480,"wires":[["cbec8104.921e5"]]},{"id":"cbec8104.921e5","type":"function","z":"6ef4c562.c6f8bc","name":"FAST WEIGHT","func":"msg.payload = {\n    weight: flow.get('currentWeight'),\n    status:true,\n    stable:true,    \n    perimetr:true\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["f6ef2a6d.0eb3a8"]]},{"id":"f6ef2a6d.0eb3a8","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":570,"y":480,"wires":[]},{"id":"e8ca477d.3bbfc8","type":"comment","z":"6ef4c562.c6f8bc","name":"Device level","info":"","x":90,"y":140,"wires":[]},{"id":"2791a85f.ee2f68","type":"comment","z":"6ef4c562.c6f8bc","name":"INTEGRATION LEVEL (API)","info":"","x":140,"y":400,"wires":[]},{"id":"8da2ab93.ff1678","type":"socket-io-out","z":"6ef4c562.c6f8bc","name":"getWeight","event":"8b363cfb.33568","server":"939e2f2f.f248d","x":750,"y":200,"wires":[]},{"id":"f761f723.831b18","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/socket","method":"get","swaggerDoc":"","x":110,"y":520,"wires":[["521610f3.1058d"]]},{"id":"521610f3.1058d","type":"template","z":"6ef4c562.c6f8bc","name":"socket page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n     \n  <body>\n    <h1><p id='weight'></p></h1>\n    \n     <script>\n    setTimeout(function() {\n       ;(function(f){if(typeof exports===\"object\"&&typeof module!==\"undefined\"){module.exports=f()}else if(typeof define===\"function\"&&define.amd){define([],f)}else{var g;if(typeof window!==\"undefined\"){g=window}else if(typeof global!==\"undefined\"){g=global}else if(typeof self!==\"undefined\"){g=self}else{g=this}g.io=f()}})(function(){var define,module,exports;return function e(t,n,r){function s(o,u){if(!n[o]){if(!t[o]){var a=typeof require==\"function\"&&require;if(!u&&a)return a(o,!0);if(i)return i(o,!0);var f=new Error(\"Cannot find module '\"+o+\"'\");throw f.code=\"MODULE_NOT_FOUND\",f}var l=n[o]={exports:{}};t[o][0].call(l.exports,function(e){var n=t[o][1][e];return s(n?n:e)},l,l.exports,e,t,n,r)}return n[o].exports}var i=typeof require==\"function\"&&require;for(var o=0;o<r.length;o++)s(r[o]);return s}({1:[function(_dereq_,module,exports){module.exports=_dereq_(\"./lib/\")},{\"./lib/\":2}],2:[function(_dereq_,module,exports){module.exports=_dereq_(\"./socket\");module.exports.parser=_dereq_(\"engine.io-parser\")},{\"./socket\":3,\"engine.io-parser\":19}],3:[function(_dereq_,module,exports){(function(global){var transports=_dereq_(\"./transports\");var Emitter=_dereq_(\"component-emitter\");var debug=_dereq_(\"debug\")(\"engine.io-client:socket\");var index=_dereq_(\"indexof\");var parser=_dereq_(\"engine.io-parser\");var parseuri=_dereq_(\"parseuri\");var parsejson=_dereq_(\"parsejson\");var parseqs=_dereq_(\"parseqs\");module.exports=Socket;function noop(){}function Socket(uri,opts){if(!(this instanceof Socket))return new Socket(uri,opts);opts=opts||{};if(uri&&\"object\"==typeof uri){opts=uri;uri=null}if(uri){uri=parseuri(uri);opts.hostname=uri.host;opts.secure=uri.protocol==\"https\"||uri.protocol==\"wss\";opts.port=uri.port;if(uri.query)opts.query=uri.query}else if(opts.host){opts.hostname=parseuri(opts.host).host}this.secure=null!=opts.secure?opts.secure:global.location&&\"https:\"==location.protocol;if(opts.hostname&&!opts.port){opts.port=this.secure?\"443\":\"80\"}this.agent=opts.agent||false;this.hostname=opts.hostname||(global.location?location.hostname:\"localhost\");this.port=opts.port||(global.location&&location.port?location.port:this.secure?443:80);this.query=opts.query||{};if(\"string\"==typeof this.query)this.query=parseqs.decode(this.query);this.upgrade=false!==opts.upgrade;this.path=(opts.path||\"/engine.io\").replace(/\\/$/,\"\")+\"/\";this.forceJSONP=!!opts.forceJSONP;this.jsonp=false!==opts.jsonp;this.forceBase64=!!opts.forceBase64;this.enablesXDR=!!opts.enablesXDR;this.timestampParam=opts.timestampParam||\"t\";this.timestampRequests=opts.timestampRequests;this.transports=opts.transports||[\"polling\",\"websocket\"];this.readyState=\"\";this.writeBuffer=[];this.policyPort=opts.policyPort||843;this.rememberUpgrade=opts.rememberUpgrade||false;this.binaryType=null;this.onlyBinaryUpgrades=opts.onlyBinaryUpgrades;this.perMessageDeflate=false!==opts.perMessageDeflate?opts.perMessageDeflate||{}:false;if(true===this.perMessageDeflate)this.perMessageDeflate={};if(this.perMessageDeflate&&null==this.perMessageDeflate.threshold){this.perMessageDeflate.threshold=1024}this.pfx=opts.pfx||null;this.key=opts.key||null;this.passphrase=opts.passphrase||null;this.cert=opts.cert||null;this.ca=opts.ca||null;this.ciphers=opts.ciphers||null;this.rejectUnauthorized=opts.rejectUnauthorized===undefined?null:opts.rejectUnauthorized;var freeGlobal=typeof global==\"object\"&&global;if(freeGlobal.global===freeGlobal){if(opts.extraHeaders&&Object.keys(opts.extraHeaders).length>0){this.extraHeaders=opts.extraHeaders}}this.open()}Socket.priorWebsocketSuccess=false;Emitter(Socket.prototype);Socket.protocol=parser.protocol;Socket.Socket=Socket;Socket.Transport=_dereq_(\"./transport\");Socket.transports=_dereq_(\"./transports\");Socket.parser=_dereq_(\"engine.io-parser\");Socket.prototype.createTransport=function(name){debug('creating transport \"%s\"',name);var query=clone(this.query);query.EIO=parser.protocol;query.transport=name;if(this.id)query.sid=this.id;var transport=new transports[name]({agent:this.agent,hostname:this.hostname,port:this.port,secure:this.secure,path:this.path,query:query,forceJSONP:this.forceJSONP,jsonp:this.jsonp,forceBase64:this.forceBase64,enablesXDR:this.enablesXDR,timestampRequests:this.timestampRequests,timestampParam:this.timestampParam,policyPort:this.policyPort,socket:this,pfx:this.pfx,key:this.key,passphrase:this.passphrase,cert:this.cert,ca:this.ca,ciphers:this.ciphers,rejectUnauthorized:this.rejectUnauthorized,perMessageDeflate:this.perMessageDeflate,extraHeaders:this.extraHeaders});return transport};function clone(obj){var o={};for(var i in obj){if(obj.hasOwnProperty(i)){o[i]=obj[i]}}return o}Socket.prototype.open=function(){var transport;if(this.rememberUpgrade&&Socket.priorWebsocketSuccess&&this.transports.indexOf(\"websocket\")!=-1){transport=\"websocket\"}else if(0===this.transports.length){var self=this;setTimeout(function(){self.emit(\"error\",\"No transports available\")},0);return}else{transport=this.transports[0]}this.readyState=\"opening\";try{transport=this.createTransport(transport)}catch(e){this.transports.shift();this.open();return}transport.open();this.setTransport(transport)};Socket.prototype.setTransport=function(transport){debug(\"setting transport %s\",transport.name);var self=this;if(this.transport){debug(\"clearing existing transport %s\",this.transport.name);this.transport.removeAllListeners()}this.transport=transport;transport.on(\"drain\",function(){self.onDrain()}).on(\"packet\",function(packet){self.onPacket(packet)}).on(\"error\",function(e){self.onError(e)}).on(\"close\",function(){self.onClose(\"transport close\")})};Socket.prototype.probe=function(name){debug('probing transport \"%s\"',name);var transport=this.createTransport(name,{probe:1}),failed=false,self=this;Socket.priorWebsocketSuccess=false;function onTransportOpen(){if(self.onlyBinaryUpgrades){var upgradeLosesBinary=!this.supportsBinary&&self.transport.supportsBinary;failed=failed||upgradeLosesBinary}if(failed)return;debug('probe transport \"%s\" opened',name);transport.send([{type:\"ping\",data:\"probe\"}]);transport.once(\"packet\",function(msg){if(failed)return;if(\"pong\"==msg.type&&\"probe\"==msg.data){debug('probe transport \"%s\" pong',name);self.upgrading=true;self.emit(\"upgrading\",transport);if(!transport)return;Socket.priorWebsocketSuccess=\"websocket\"==transport.name;debug('pausing current transport \"%s\"',self.transport.name);self.transport.pause(function(){if(failed)return;if(\"closed\"==self.readyState)return;debug(\"changing transport and sending upgrade packet\");cleanup();self.setTransport(transport);transport.send([{type:\"upgrade\"}]);self.emit(\"upgrade\",transport);transport=null;self.upgrading=false;self.flush()})}else{debug('probe transport \"%s\" failed',name);var err=new Error(\"probe error\");err.transport=transport.name;self.emit(\"upgradeError\",err)}})}function freezeTransport(){if(failed)return;failed=true;cleanup();transport.close();transport=null}function onerror(err){var error=new Error(\"probe error: \"+err);error.transport=transport.name;freezeTransport();debug('probe transport \"%s\" failed because of error: %s',name,err);self.emit(\"upgradeError\",error)}function onTransportClose(){onerror(\"transport closed\")}function onclose(){onerror(\"socket closed\")}function onupgrade(to){if(transport&&to.name!=transport.name){debug('\"%s\" works - aborting \"%s\"',to.name,transport.name);freezeTransport()}}function cleanup(){transport.removeListener(\"open\",onTransportOpen);transport.removeListener(\"error\",onerror);transport.removeListener(\"close\",onTransportClose);self.removeListener(\"close\",onclose);self.removeListener(\"upgrading\",onupgrade)}transport.once(\"open\",onTransportOpen);transport.once(\"error\",onerror);transport.once(\"close\",onTransportClose);this.once(\"close\",onclose);this.once(\"upgrading\",onupgrade);transport.open()};Socket.prototype.onOpen=function(){debug(\"socket open\");this.readyState=\"open\";Socket.priorWebsocketSuccess=\"websocket\"==this.transport.name;this.emit(\"open\");this.flush();if(\"open\"==this.readyState&&this.upgrade&&this.transport.pause){debug(\"starting upgrade probes\");for(var i=0,l=this.upgrades.length;i<l;i++){this.probe(this.upgrades[i])}}};Socket.prototype.onPacket=function(packet){if(\"opening\"==this.readyState||\"open\"==this.readyState){debug('socket receive: type \"%s\", data \"%s\"',packet.type,packet.data);this.emit(\"packet\",packet);this.emit(\"heartbeat\");switch(packet.type){case\"open\":this.onHandshake(parsejson(packet.data));break;case\"pong\":this.setPing();this.emit(\"pong\");break;case\"error\":var err=new Error(\"server error\");err.code=packet.data;this.onError(err);break;case\"message\":this.emit(\"data\",packet.data);this.emit(\"message\",packet.data);break}}else{debug('packet received with socket readyState \"%s\"',this.readyState)}};Socket.prototype.onHandshake=function(data){this.emit(\"handshake\",data);this.id=data.sid;this.transport.query.sid=data.sid;this.upgrades=this.filterUpgrades(data.upgrades);this.pingInterval=data.pingInterval;this.pingTimeout=data.pingTimeout;this.onOpen();if(\"closed\"==this.readyState)return;this.setPing();this.removeListener(\"heartbeat\",this.onHeartbeat);this.on(\"heartbeat\",this.onHeartbeat)};Socket.prototype.onHeartbeat=function(timeout){clearTimeout(this.pingTimeoutTimer);var self=this;self.pingTimeoutTimer=setTimeout(function(){if(\"closed\"==self.readyState)return;self.onClose(\"ping timeout\")},timeout||self.pingInterval+self.pingTimeout)};Socket.prototype.setPing=function(){var self=this;clearTimeout(self.pingIntervalTimer);self.pingIntervalTimer=setTimeout(function(){debug(\"writing ping packet - expecting pong within %sms\",self.pingTimeout);self.ping();self.onHeartbeat(self.pingTimeout)},self.pingInterval)};Socket.prototype.ping=function(){var self=this;this.sendPacket(\"ping\",function(){self.emit(\"ping\")})};Socket.prototype.onDrain=function(){this.writeBuffer.splice(0,this.prevBufferLen);this.prevBufferLen=0;if(0===this.writeBuffer.length){this.emit(\"drain\")}else{this.flush()}};Socket.prototype.flush=function(){if(\"closed\"!=this.readyState&&this.transport.writable&&!this.upgrading&&this.writeBuffer.length){debug(\"flushing %d packets in socket\",this.writeBuffer.length);this.transport.send(this.writeBuffer);this.prevBufferLen=this.writeBuffer.length;this.emit(\"flush\")}};Socket.prototype.write=Socket.prototype.send=function(msg,options,fn){this.sendPacket(\"message\",msg,options,fn);return this};Socket.prototype.sendPacket=function(type,data,options,fn){if(\"function\"==typeof data){fn=data;data=undefined}if(\"function\"==typeof options){fn=options;options=null}if(\"closing\"==this.readyState||\"closed\"==this.readyState){return}options=options||{};options.compress=false!==options.compress;var packet={type:type,data:data,options:options};this.emit(\"packetCreate\",packet);this.writeBuffer.push(packet);if(fn)this.once(\"flush\",fn);this.flush()};Socket.prototype.close=function(){if(\"opening\"==this.readyState||\"open\"==this.readyState){this.readyState=\"closing\";var self=this;if(this.writeBuffer.length){this.once(\"drain\",function(){if(this.upgrading){waitForUpgrade()}else{close()}})}else if(this.upgrading){waitForUpgrade()}else{close()}}function close(){self.onClose(\"forced close\");debug(\"socket closing - telling transport to close\");self.transport.close()}function cleanupAndClose(){self.removeListener(\"upgrade\",cleanupAndClose);self.removeListener(\"upgradeError\",cleanupAndClose);close()}function waitForUpgrade(){self.once(\"upgrade\",cleanupAndClose);self.once(\"upgradeError\",cleanupAndClose)}return this};Socket.prototype.onError=function(err){debug(\"socket error %j\",err);Socket.priorWebsocketSuccess=false;this.emit(\"error\",err);this.onClose(\"transport error\",err)};Socket.prototype.onClose=function(reason,desc){if(\"opening\"==this.readyState||\"open\"==this.readyState||\"closing\"==this.readyState){debug('socket close with reason: \"%s\"',reason);var self=this;clearTimeout(this.pingIntervalTimer);clearTimeout(this.pingTimeoutTimer);this.transport.removeAllListeners(\"close\");this.transport.close();this.transport.removeAllListeners();this.readyState=\"closed\";this.id=null;this.emit(\"close\",reason,desc);self.writeBuffer=[];self.prevBufferLen=0}};Socket.prototype.filterUpgrades=function(upgrades){var filteredUpgrades=[];for(var i=0,j=upgrades.length;i<j;i++){if(~index(this.transports,upgrades[i]))filteredUpgrades.push(upgrades[i])}return filteredUpgrades}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./transport\":4,\"./transports\":5,\"component-emitter\":15,debug:17,\"engine.io-parser\":19,indexof:23,parsejson:26,parseqs:27,parseuri:28}],4:[function(_dereq_,module,exports){var parser=_dereq_(\"engine.io-parser\");var Emitter=_dereq_(\"component-emitter\");module.exports=Transport;function Transport(opts){this.path=opts.path;this.hostname=opts.hostname;this.port=opts.port;this.secure=opts.secure;this.query=opts.query;this.timestampParam=opts.timestampParam;this.timestampRequests=opts.timestampRequests;this.readyState=\"\";this.agent=opts.agent||false;this.socket=opts.socket;this.enablesXDR=opts.enablesXDR;this.pfx=opts.pfx;this.key=opts.key;this.passphrase=opts.passphrase;this.cert=opts.cert;this.ca=opts.ca;this.ciphers=opts.ciphers;this.rejectUnauthorized=opts.rejectUnauthorized;this.extraHeaders=opts.extraHeaders}Emitter(Transport.prototype);Transport.prototype.onError=function(msg,desc){var err=new Error(msg);err.type=\"TransportError\";err.description=desc;this.emit(\"error\",err);return this};Transport.prototype.open=function(){if(\"closed\"==this.readyState||\"\"==this.readyState){this.readyState=\"opening\";this.doOpen()}return this};Transport.prototype.close=function(){if(\"opening\"==this.readyState||\"open\"==this.readyState){this.doClose();this.onClose()}return this};Transport.prototype.send=function(packets){if(\"open\"==this.readyState){this.write(packets)}else{throw new Error(\"Transport not open\")}};Transport.prototype.onOpen=function(){this.readyState=\"open\";this.writable=true;this.emit(\"open\")};Transport.prototype.onData=function(data){var packet=parser.decodePacket(data,this.socket.binaryType);this.onPacket(packet)};Transport.prototype.onPacket=function(packet){this.emit(\"packet\",packet)};Transport.prototype.onClose=function(){this.readyState=\"closed\";this.emit(\"close\")}},{\"component-emitter\":15,\"engine.io-parser\":19}],5:[function(_dereq_,module,exports){(function(global){var XMLHttpRequest=_dereq_(\"xmlhttprequest-ssl\");var XHR=_dereq_(\"./polling-xhr\");var JSONP=_dereq_(\"./polling-jsonp\");var websocket=_dereq_(\"./websocket\");exports.polling=polling;exports.websocket=websocket;function polling(opts){var xhr;var xd=false;var xs=false;var jsonp=false!==opts.jsonp;if(global.location){var isSSL=\"https:\"==location.protocol;var port=location.port;if(!port){port=isSSL?443:80}xd=opts.hostname!=location.hostname||port!=opts.port;xs=opts.secure!=isSSL}opts.xdomain=xd;opts.xscheme=xs;xhr=new XMLHttpRequest(opts);if(\"open\"in xhr&&!opts.forceJSONP){return new XHR(opts)}else{if(!jsonp)throw new Error(\"JSONP disabled\");return new JSONP(opts)}}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./polling-jsonp\":6,\"./polling-xhr\":7,\"./websocket\":9,\"xmlhttprequest-ssl\":10}],6:[function(_dereq_,module,exports){(function(global){var Polling=_dereq_(\"./polling\");var inherit=_dereq_(\"component-inherit\");module.exports=JSONPPolling;var rNewline=/\\n/g;var rEscapedNewline=/\\\\n/g;var callbacks;var index=0;function empty(){}function JSONPPolling(opts){Polling.call(this,opts);this.query=this.query||{};if(!callbacks){if(!global.___eio)global.___eio=[];callbacks=global.___eio}this.index=callbacks.length;var self=this;callbacks.push(function(msg){self.onData(msg)});this.query.j=this.index;if(global.document&&global.addEventListener){global.addEventListener(\"beforeunload\",function(){if(self.script)self.script.onerror=empty},false)}}inherit(JSONPPolling,Polling);JSONPPolling.prototype.supportsBinary=false;JSONPPolling.prototype.doClose=function(){if(this.script){this.script.parentNode.removeChild(this.script);this.script=null}if(this.form){this.form.parentNode.removeChild(this.form);this.form=null;this.iframe=null}Polling.prototype.doClose.call(this)};JSONPPolling.prototype.doPoll=function(){var self=this;var script=document.createElement(\"script\");if(this.script){this.script.parentNode.removeChild(this.script);this.script=null}script.async=true;script.src=this.uri();script.onerror=function(e){self.onError(\"jsonp poll error\",e)};var insertAt=document.getElementsByTagName(\"script\")[0];if(insertAt){insertAt.parentNode.insertBefore(script,insertAt)}else{(document.head||document.body).appendChild(script)}this.script=script;var isUAgecko=\"undefined\"!=typeof navigator&&/gecko/i.test(navigator.userAgent);if(isUAgecko){setTimeout(function(){var iframe=document.createElement(\"iframe\");document.body.appendChild(iframe);document.body.removeChild(iframe)},100)}};JSONPPolling.prototype.doWrite=function(data,fn){var self=this;if(!this.form){var form=document.createElement(\"form\");var area=document.createElement(\"textarea\");var id=this.iframeId=\"eio_iframe_\"+this.index;var iframe;form.className=\"socketio\";form.style.position=\"absolute\";form.style.top=\"-1000px\";form.style.left=\"-1000px\";form.target=id;form.method=\"POST\";form.setAttribute(\"accept-charset\",\"utf-8\");area.name=\"d\";form.appendChild(area);document.body.appendChild(form);this.form=form;this.area=area}this.form.action=this.uri();function complete(){initIframe();fn()}function initIframe(){if(self.iframe){try{self.form.removeChild(self.iframe)}catch(e){self.onError(\"jsonp polling iframe removal error\",e)}}try{var html='<iframe src=\"javascript:0\" name=\"'+self.iframeId+'\">';iframe=document.createElement(html)}catch(e){iframe=document.createElement(\"iframe\");iframe.name=self.iframeId;iframe.src=\"javascript:0\"}iframe.id=self.iframeId;self.form.appendChild(iframe);self.iframe=iframe}initIframe();data=data.replace(rEscapedNewline,\"\\\\\\n\");this.area.value=data.replace(rNewline,\"\\\\n\");try{this.form.submit()}catch(e){}if(this.iframe.attachEvent){this.iframe.onreadystatechange=function(){if(self.iframe.readyState==\"complete\"){complete()}}}else{this.iframe.onload=complete}}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./polling\":8,\"component-inherit\":16}],7:[function(_dereq_,module,exports){(function(global){var XMLHttpRequest=_dereq_(\"xmlhttprequest-ssl\");var Polling=_dereq_(\"./polling\");var Emitter=_dereq_(\"component-emitter\");var inherit=_dereq_(\"component-inherit\");var debug=_dereq_(\"debug\")(\"engine.io-client:polling-xhr\");module.exports=XHR;module.exports.Request=Request;function empty(){}function XHR(opts){Polling.call(this,opts);if(global.location){var isSSL=\"https:\"==location.protocol;var port=location.port;if(!port){port=isSSL?443:80}this.xd=opts.hostname!=global.location.hostname||port!=opts.port;this.xs=opts.secure!=isSSL}else{this.extraHeaders=opts.extraHeaders}}inherit(XHR,Polling);XHR.prototype.supportsBinary=true;XHR.prototype.request=function(opts){opts=opts||{};opts.uri=this.uri();opts.xd=this.xd;opts.xs=this.xs;opts.agent=this.agent||false;opts.supportsBinary=this.supportsBinary;opts.enablesXDR=this.enablesXDR;opts.pfx=this.pfx;opts.key=this.key;opts.passphrase=this.passphrase;opts.cert=this.cert;opts.ca=this.ca;opts.ciphers=this.ciphers;opts.rejectUnauthorized=this.rejectUnauthorized;opts.extraHeaders=this.extraHeaders;return new Request(opts)};XHR.prototype.doWrite=function(data,fn){var isBinary=typeof data!==\"string\"&&data!==undefined;var req=this.request({method:\"POST\",data:data,isBinary:isBinary});var self=this;req.on(\"success\",fn);req.on(\"error\",function(err){self.onError(\"xhr post error\",err)});this.sendXhr=req};XHR.prototype.doPoll=function(){debug(\"xhr poll\");var req=this.request();var self=this;req.on(\"data\",function(data){self.onData(data)});req.on(\"error\",function(err){self.onError(\"xhr poll error\",err)});this.pollXhr=req};function Request(opts){this.method=opts.method||\"GET\";this.uri=opts.uri;this.xd=!!opts.xd;this.xs=!!opts.xs;this.async=false!==opts.async;this.data=undefined!=opts.data?opts.data:null;this.agent=opts.agent;this.isBinary=opts.isBinary;this.supportsBinary=opts.supportsBinary;this.enablesXDR=opts.enablesXDR;this.pfx=opts.pfx;this.key=opts.key;this.passphrase=opts.passphrase;this.cert=opts.cert;this.ca=opts.ca;this.ciphers=opts.ciphers;this.rejectUnauthorized=opts.rejectUnauthorized;this.extraHeaders=opts.extraHeaders;this.create()}Emitter(Request.prototype);Request.prototype.create=function(){var opts={agent:this.agent,xdomain:this.xd,xscheme:this.xs,enablesXDR:this.enablesXDR};opts.pfx=this.pfx;opts.key=this.key;opts.passphrase=this.passphrase;opts.cert=this.cert;opts.ca=this.ca;opts.ciphers=this.ciphers;opts.rejectUnauthorized=this.rejectUnauthorized;var xhr=this.xhr=new XMLHttpRequest(opts);var self=this;try{debug(\"xhr open %s: %s\",this.method,this.uri);xhr.open(this.method,this.uri,this.async);try{if(this.extraHeaders){xhr.setDisableHeaderCheck(true);for(var i in this.extraHeaders){if(this.extraHeaders.hasOwnProperty(i)){xhr.setRequestHeader(i,this.extraHeaders[i])}}}}catch(e){}if(this.supportsBinary){xhr.responseType=\"arraybuffer\"}if(\"POST\"==this.method){try{if(this.isBinary){xhr.setRequestHeader(\"Content-type\",\"application/octet-stream\")}else{xhr.setRequestHeader(\"Content-type\",\"text/plain;charset=UTF-8\")}}catch(e){}}if(\"withCredentials\"in xhr){xhr.withCredentials=true}if(this.hasXDR()){xhr.onload=function(){self.onLoad()};xhr.onerror=function(){self.onError(xhr.responseText)}}else{xhr.onreadystatechange=function(){if(4!=xhr.readyState)return;if(200==xhr.status||1223==xhr.status){self.onLoad()}else{setTimeout(function(){self.onError(xhr.status)},0)}}}debug(\"xhr data %s\",this.data);xhr.send(this.data)}catch(e){setTimeout(function(){self.onError(e)},0);return}if(global.document){this.index=Request.requestsCount++;Request.requests[this.index]=this}};Request.prototype.onSuccess=function(){this.emit(\"success\");this.cleanup()};Request.prototype.onData=function(data){this.emit(\"data\",data);this.onSuccess()};Request.prototype.onError=function(err){this.emit(\"error\",err);this.cleanup(true)};Request.prototype.cleanup=function(fromError){if(\"undefined\"==typeof this.xhr||null===this.xhr){return}if(this.hasXDR()){this.xhr.onload=this.xhr.onerror=empty}else{this.xhr.onreadystatechange=empty}if(fromError){try{this.xhr.abort()}catch(e){}}if(global.document){delete Request.requests[this.index]}this.xhr=null};Request.prototype.onLoad=function(){var data;try{var contentType;try{contentType=this.xhr.getResponseHeader(\"Content-Type\").split(\";\")[0]}catch(e){}if(contentType===\"application/octet-stream\"){data=this.xhr.response}else{if(!this.supportsBinary){data=this.xhr.responseText}else{try{data=String.fromCharCode.apply(null,new Uint8Array(this.xhr.response))}catch(e){var ui8Arr=new Uint8Array(this.xhr.response);var dataArray=[];for(var idx=0,length=ui8Arr.length;idx<length;idx++){dataArray.push(ui8Arr[idx])}data=String.fromCharCode.apply(null,dataArray)}}}}catch(e){this.onError(e)}if(null!=data){this.onData(data)}};Request.prototype.hasXDR=function(){return\"undefined\"!==typeof global.XDomainRequest&&!this.xs&&this.enablesXDR};Request.prototype.abort=function(){this.cleanup()};if(global.document){Request.requestsCount=0;Request.requests={};if(global.attachEvent){global.attachEvent(\"onunload\",unloadHandler)}else if(global.addEventListener){global.addEventListener(\"beforeunload\",unloadHandler,false)}}function unloadHandler(){for(var i in Request.requests){if(Request.requests.hasOwnProperty(i)){Request.requests[i].abort()}}}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./polling\":8,\"component-emitter\":15,\"component-inherit\":16,debug:17,\"xmlhttprequest-ssl\":10}],8:[function(_dereq_,module,exports){var Transport=_dereq_(\"../transport\");var parseqs=_dereq_(\"parseqs\");var parser=_dereq_(\"engine.io-parser\");var inherit=_dereq_(\"component-inherit\");var yeast=_dereq_(\"yeast\");var debug=_dereq_(\"debug\")(\"engine.io-client:polling\");module.exports=Polling;var hasXHR2=function(){var XMLHttpRequest=_dereq_(\"xmlhttprequest-ssl\");var xhr=new XMLHttpRequest({xdomain:false});return null!=xhr.responseType}();function Polling(opts){var forceBase64=opts&&opts.forceBase64;if(!hasXHR2||forceBase64){this.supportsBinary=false}Transport.call(this,opts)}inherit(Polling,Transport);Polling.prototype.name=\"polling\";Polling.prototype.doOpen=function(){this.poll()};Polling.prototype.pause=function(onPause){var pending=0;var self=this;this.readyState=\"pausing\";function pause(){debug(\"paused\");self.readyState=\"paused\";onPause()}if(this.polling||!this.writable){var total=0;if(this.polling){debug(\"we are currently polling - waiting to pause\");total++;this.once(\"pollComplete\",function(){debug(\"pre-pause polling complete\");--total||pause()})}if(!this.writable){debug(\"we are currently writing - waiting to pause\");total++;this.once(\"drain\",function(){debug(\"pre-pause writing complete\");--total||pause()})}}else{pause()}};Polling.prototype.poll=function(){debug(\"polling\");this.polling=true;this.doPoll();this.emit(\"poll\")};Polling.prototype.onData=function(data){var self=this;debug(\"polling got data %s\",data);var callback=function(packet,index,total){if(\"opening\"==self.readyState){self.onOpen()}if(\"close\"==packet.type){self.onClose();return false}self.onPacket(packet)};parser.decodePayload(data,this.socket.binaryType,callback);if(\"closed\"!=this.readyState){this.polling=false;this.emit(\"pollComplete\");if(\"open\"==this.readyState){this.poll()}else{debug('ignoring poll - transport state \"%s\"',this.readyState)}}};Polling.prototype.doClose=function(){var self=this;function close(){debug(\"writing close packet\");self.write([{type:\"close\"}])}if(\"open\"==this.readyState){debug(\"transport open - closing\");close()}else{debug(\"transport not open - deferring close\");this.once(\"open\",close)}};Polling.prototype.write=function(packets){var self=this;this.writable=false;var callbackfn=function(){self.writable=true;self.emit(\"drain\")};var self=this;parser.encodePayload(packets,this.supportsBinary,function(data){self.doWrite(data,callbackfn)})};Polling.prototype.uri=function(){var query=this.query||{};var schema=this.secure?\"https\":\"http\";var port=\"\";if(false!==this.timestampRequests){query[this.timestampParam]=yeast()}if(!this.supportsBinary&&!query.sid){query.b64=1}query=parseqs.encode(query);if(this.port&&(\"https\"==schema&&this.port!=443||\"http\"==schema&&this.port!=80)){port=\":\"+this.port}if(query.length){query=\"?\"+query}var ipv6=this.hostname.indexOf(\":\")!==-1;return schema+\"://\"+(ipv6?\"[\"+this.hostname+\"]\":this.hostname)+port+this.path+query}},{\"../transport\":4,\"component-inherit\":16,debug:17,\"engine.io-parser\":19,parseqs:27,\"xmlhttprequest-ssl\":10,yeast:30}],9:[function(_dereq_,module,exports){(function(global){var Transport=_dereq_(\"../transport\");var parser=_dereq_(\"engine.io-parser\");var parseqs=_dereq_(\"parseqs\");var inherit=_dereq_(\"component-inherit\");var yeast=_dereq_(\"yeast\");var debug=_dereq_(\"debug\")(\"engine.io-client:websocket\");var BrowserWebSocket=global.WebSocket||global.MozWebSocket;var WebSocket=BrowserWebSocket;if(!WebSocket&&typeof window===\"undefined\"){try{WebSocket=_dereq_(\"ws\")}catch(e){}}module.exports=WS;function WS(opts){var forceBase64=opts&&opts.forceBase64;if(forceBase64){this.supportsBinary=false}this.perMessageDeflate=opts.perMessageDeflate;Transport.call(this,opts)}inherit(WS,Transport);WS.prototype.name=\"websocket\";WS.prototype.supportsBinary=true;WS.prototype.doOpen=function(){if(!this.check()){return}var self=this;var uri=this.uri();var protocols=void 0;var opts={agent:this.agent,perMessageDeflate:this.perMessageDeflate};opts.pfx=this.pfx;opts.key=this.key;opts.passphrase=this.passphrase;opts.cert=this.cert;opts.ca=this.ca;opts.ciphers=this.ciphers;opts.rejectUnauthorized=this.rejectUnauthorized;if(this.extraHeaders){opts.headers=this.extraHeaders}this.ws=BrowserWebSocket?new WebSocket(uri):new WebSocket(uri,protocols,opts);if(this.ws.binaryType===undefined){this.supportsBinary=false}if(this.ws.supports&&this.ws.supports.binary){this.supportsBinary=true;this.ws.binaryType=\"buffer\"}else{this.ws.binaryType=\"arraybuffer\"}this.addEventListeners()};WS.prototype.addEventListeners=function(){var self=this;this.ws.onopen=function(){self.onOpen()};this.ws.onclose=function(){self.onClose()};this.ws.onmessage=function(ev){self.onData(ev.data)};this.ws.onerror=function(e){self.onError(\"websocket error\",e)}};if(\"undefined\"!=typeof navigator&&/iPad|iPhone|iPod/i.test(navigator.userAgent)){WS.prototype.onData=function(data){var self=this;setTimeout(function(){Transport.prototype.onData.call(self,data)},0)}}WS.prototype.write=function(packets){var self=this;this.writable=false;var total=packets.length;for(var i=0,l=total;i<l;i++){(function(packet){parser.encodePacket(packet,self.supportsBinary,function(data){if(!BrowserWebSocket){var opts={};if(packet.options){opts.compress=packet.options.compress}if(self.perMessageDeflate){var len=\"string\"==typeof data?global.Buffer.byteLength(data):data.length;if(len<self.perMessageDeflate.threshold){opts.compress=false}}}try{if(BrowserWebSocket){self.ws.send(data)}else{self.ws.send(data,opts)}}catch(e){debug(\"websocket closed before onclose event\")}--total||done()})})(packets[i])}function done(){self.emit(\"flush\");setTimeout(function(){self.writable=true;self.emit(\"drain\")},0)}};WS.prototype.onClose=function(){Transport.prototype.onClose.call(this)};WS.prototype.doClose=function(){if(typeof this.ws!==\"undefined\"){this.ws.close()}};WS.prototype.uri=function(){var query=this.query||{};var schema=this.secure?\"wss\":\"ws\";var port=\"\";if(this.port&&(\"wss\"==schema&&this.port!=443||\"ws\"==schema&&this.port!=80)){port=\":\"+this.port}if(this.timestampRequests){query[this.timestampParam]=yeast()}if(!this.supportsBinary){query.b64=1}query=parseqs.encode(query);if(query.length){query=\"?\"+query}var ipv6=this.hostname.indexOf(\":\")!==-1;return schema+\"://\"+(ipv6?\"[\"+this.hostname+\"]\":this.hostname)+port+this.path+query};WS.prototype.check=function(){return!!WebSocket&&!(\"__initialize\"in WebSocket&&this.name===WS.prototype.name)}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"../transport\":4,\"component-inherit\":16,debug:17,\"engine.io-parser\":19,parseqs:27,ws:undefined,yeast:30}],10:[function(_dereq_,module,exports){var hasCORS=_dereq_(\"has-cors\");module.exports=function(opts){var xdomain=opts.xdomain;var xscheme=opts.xscheme;var enablesXDR=opts.enablesXDR;try{if(\"undefined\"!=typeof XMLHttpRequest&&(!xdomain||hasCORS)){return new XMLHttpRequest}}catch(e){}try{if(\"undefined\"!=typeof XDomainRequest&&!xscheme&&enablesXDR){return new XDomainRequest}}catch(e){}if(!xdomain){try{return new ActiveXObject(\"Microsoft.XMLHTTP\")}catch(e){}}}},{\"has-cors\":22}],11:[function(_dereq_,module,exports){module.exports=after;function after(count,callback,err_cb){var bail=false;err_cb=err_cb||noop;proxy.count=count;return count===0?callback():proxy;function proxy(err,result){if(proxy.count<=0){throw new Error(\"after called too many times\")}--proxy.count;if(err){bail=true;callback(err);callback=err_cb}else if(proxy.count===0&&!bail){callback(null,result)}}}function noop(){}},{}],12:[function(_dereq_,module,exports){module.exports=function(arraybuffer,start,end){var bytes=arraybuffer.byteLength;start=start||0;end=end||bytes;if(arraybuffer.slice){return arraybuffer.slice(start,end)}if(start<0){start+=bytes}if(end<0){end+=bytes}if(end>bytes){end=bytes}if(start>=bytes||start>=end||bytes===0){return new ArrayBuffer(0)}var abv=new Uint8Array(arraybuffer);var result=new Uint8Array(end-start);for(var i=start,ii=0;i<end;i++,ii++){result[ii]=abv[i]}return result.buffer}},{}],13:[function(_dereq_,module,exports){(function(chars){\"use strict\";exports.encode=function(arraybuffer){var bytes=new Uint8Array(arraybuffer),i,len=bytes.length,base64=\"\";for(i=0;i<len;i+=3){base64+=chars[bytes[i]>>2];\nbase64+=chars[(bytes[i]&3)<<4|bytes[i+1]>>4];base64+=chars[(bytes[i+1]&15)<<2|bytes[i+2]>>6];base64+=chars[bytes[i+2]&63]}if(len%3===2){base64=base64.substring(0,base64.length-1)+\"=\"}else if(len%3===1){base64=base64.substring(0,base64.length-2)+\"==\"}return base64};exports.decode=function(base64){var bufferLength=base64.length*.75,len=base64.length,i,p=0,encoded1,encoded2,encoded3,encoded4;if(base64[base64.length-1]===\"=\"){bufferLength--;if(base64[base64.length-2]===\"=\"){bufferLength--}}var arraybuffer=new ArrayBuffer(bufferLength),bytes=new Uint8Array(arraybuffer);for(i=0;i<len;i+=4){encoded1=chars.indexOf(base64[i]);encoded2=chars.indexOf(base64[i+1]);encoded3=chars.indexOf(base64[i+2]);encoded4=chars.indexOf(base64[i+3]);bytes[p++]=encoded1<<2|encoded2>>4;bytes[p++]=(encoded2&15)<<4|encoded3>>2;bytes[p++]=(encoded3&3)<<6|encoded4&63}return arraybuffer}})(\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/\")},{}],14:[function(_dereq_,module,exports){(function(global){var BlobBuilder=global.BlobBuilder||global.WebKitBlobBuilder||global.MSBlobBuilder||global.MozBlobBuilder;var blobSupported=function(){try{var a=new Blob([\"hi\"]);return a.size===2}catch(e){return false}}();var blobSupportsArrayBufferView=blobSupported&&function(){try{var b=new Blob([new Uint8Array([1,2])]);return b.size===2}catch(e){return false}}();var blobBuilderSupported=BlobBuilder&&BlobBuilder.prototype.append&&BlobBuilder.prototype.getBlob;function mapArrayBufferViews(ary){for(var i=0;i<ary.length;i++){var chunk=ary[i];if(chunk.buffer instanceof ArrayBuffer){var buf=chunk.buffer;if(chunk.byteLength!==buf.byteLength){var copy=new Uint8Array(chunk.byteLength);copy.set(new Uint8Array(buf,chunk.byteOffset,chunk.byteLength));buf=copy.buffer}ary[i]=buf}}}function BlobBuilderConstructor(ary,options){options=options||{};var bb=new BlobBuilder;mapArrayBufferViews(ary);for(var i=0;i<ary.length;i++){bb.append(ary[i])}return options.type?bb.getBlob(options.type):bb.getBlob()}function BlobConstructor(ary,options){mapArrayBufferViews(ary);return new Blob(ary,options||{})}module.exports=function(){if(blobSupported){return blobSupportsArrayBufferView?global.Blob:BlobConstructor}else if(blobBuilderSupported){return BlobBuilderConstructor}else{return undefined}}()}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{}],15:[function(_dereq_,module,exports){module.exports=Emitter;function Emitter(obj){if(obj)return mixin(obj)}function mixin(obj){for(var key in Emitter.prototype){obj[key]=Emitter.prototype[key]}return obj}Emitter.prototype.on=Emitter.prototype.addEventListener=function(event,fn){this._callbacks=this._callbacks||{};(this._callbacks[event]=this._callbacks[event]||[]).push(fn);return this};Emitter.prototype.once=function(event,fn){var self=this;this._callbacks=this._callbacks||{};function on(){self.off(event,on);fn.apply(this,arguments)}on.fn=fn;this.on(event,on);return this};Emitter.prototype.off=Emitter.prototype.removeListener=Emitter.prototype.removeAllListeners=Emitter.prototype.removeEventListener=function(event,fn){this._callbacks=this._callbacks||{};if(0==arguments.length){this._callbacks={};return this}var callbacks=this._callbacks[event];if(!callbacks)return this;if(1==arguments.length){delete this._callbacks[event];return this}var cb;for(var i=0;i<callbacks.length;i++){cb=callbacks[i];if(cb===fn||cb.fn===fn){callbacks.splice(i,1);break}}return this};Emitter.prototype.emit=function(event){this._callbacks=this._callbacks||{};var args=[].slice.call(arguments,1),callbacks=this._callbacks[event];if(callbacks){callbacks=callbacks.slice(0);for(var i=0,len=callbacks.length;i<len;++i){callbacks[i].apply(this,args)}}return this};Emitter.prototype.listeners=function(event){this._callbacks=this._callbacks||{};return this._callbacks[event]||[]};Emitter.prototype.hasListeners=function(event){return!!this.listeners(event).length}},{}],16:[function(_dereq_,module,exports){module.exports=function(a,b){var fn=function(){};fn.prototype=b.prototype;a.prototype=new fn;a.prototype.constructor=a}},{}],17:[function(_dereq_,module,exports){exports=module.exports=_dereq_(\"./debug\");exports.log=log;exports.formatArgs=formatArgs;exports.save=save;exports.load=load;exports.useColors=useColors;exports.storage=\"undefined\"!=typeof chrome&&\"undefined\"!=typeof chrome.storage?chrome.storage.local:localstorage();exports.colors=[\"lightseagreen\",\"forestgreen\",\"goldenrod\",\"dodgerblue\",\"darkorchid\",\"crimson\"];function useColors(){return\"WebkitAppearance\"in document.documentElement.style||window.console&&(console.firebug||console.exception&&console.table)||navigator.userAgent.toLowerCase().match(/firefox\\/(\\d+)/)&&parseInt(RegExp.$1,10)>=31}exports.formatters.j=function(v){return JSON.stringify(v)};function formatArgs(){var args=arguments;var useColors=this.useColors;args[0]=(useColors?\"%c\":\"\")+this.namespace+(useColors?\" %c\":\" \")+args[0]+(useColors?\"%c \":\" \")+\"+\"+exports.humanize(this.diff);if(!useColors)return args;var c=\"color: \"+this.color;args=[args[0],c,\"color: inherit\"].concat(Array.prototype.slice.call(args,1));var index=0;var lastC=0;args[0].replace(/%[a-z%]/g,function(match){if(\"%%\"===match)return;index++;if(\"%c\"===match){lastC=index}});args.splice(lastC,0,c);return args}function log(){return\"object\"===typeof console&&console.log&&Function.prototype.apply.call(console.log,console,arguments)}function save(namespaces){try{if(null==namespaces){exports.storage.removeItem(\"debug\")}else{exports.storage.debug=namespaces}}catch(e){}}function load(){var r;try{r=exports.storage.debug}catch(e){}return r}exports.enable(load());function localstorage(){try{return window.localStorage}catch(e){}}},{\"./debug\":18}],18:[function(_dereq_,module,exports){exports=module.exports=debug;exports.coerce=coerce;exports.disable=disable;exports.enable=enable;exports.enabled=enabled;exports.humanize=_dereq_(\"ms\");exports.names=[];exports.skips=[];exports.formatters={};var prevColor=0;var prevTime;function selectColor(){return exports.colors[prevColor++%exports.colors.length]}function debug(namespace){function disabled(){}disabled.enabled=false;function enabled(){var self=enabled;var curr=+new Date;var ms=curr-(prevTime||curr);self.diff=ms;self.prev=prevTime;self.curr=curr;prevTime=curr;if(null==self.useColors)self.useColors=exports.useColors();if(null==self.color&&self.useColors)self.color=selectColor();var args=Array.prototype.slice.call(arguments);args[0]=exports.coerce(args[0]);if(\"string\"!==typeof args[0]){args=[\"%o\"].concat(args)}var index=0;args[0]=args[0].replace(/%([a-z%])/g,function(match,format){if(match===\"%%\")return match;index++;var formatter=exports.formatters[format];if(\"function\"===typeof formatter){var val=args[index];match=formatter.call(self,val);args.splice(index,1);index--}return match});if(\"function\"===typeof exports.formatArgs){args=exports.formatArgs.apply(self,args)}var logFn=enabled.log||exports.log||console.log.bind(console);logFn.apply(self,args)}enabled.enabled=true;var fn=exports.enabled(namespace)?enabled:disabled;fn.namespace=namespace;return fn}function enable(namespaces){exports.save(namespaces);var split=(namespaces||\"\").split(/[\\s,]+/);var len=split.length;for(var i=0;i<len;i++){if(!split[i])continue;namespaces=split[i].replace(/\\*/g,\".*?\");if(namespaces[0]===\"-\"){exports.skips.push(new RegExp(\"^\"+namespaces.substr(1)+\"$\"))}else{exports.names.push(new RegExp(\"^\"+namespaces+\"$\"))}}}function disable(){exports.enable(\"\")}function enabled(name){var i,len;for(i=0,len=exports.skips.length;i<len;i++){if(exports.skips[i].test(name)){return false}}for(i=0,len=exports.names.length;i<len;i++){if(exports.names[i].test(name)){return true}}return false}function coerce(val){if(val instanceof Error)return val.stack||val.message;return val}},{ms:25}],19:[function(_dereq_,module,exports){(function(global){var keys=_dereq_(\"./keys\");var hasBinary=_dereq_(\"has-binary\");var sliceBuffer=_dereq_(\"arraybuffer.slice\");var base64encoder=_dereq_(\"base64-arraybuffer\");var after=_dereq_(\"after\");var utf8=_dereq_(\"utf8\");var isAndroid=navigator.userAgent.match(/Android/i);var isPhantomJS=/PhantomJS/i.test(navigator.userAgent);var dontSendBlobs=isAndroid||isPhantomJS;exports.protocol=3;var packets=exports.packets={open:0,close:1,ping:2,pong:3,message:4,upgrade:5,noop:6};var packetslist=keys(packets);var err={type:\"error\",data:\"parser error\"};var Blob=_dereq_(\"blob\");exports.encodePacket=function(packet,supportsBinary,utf8encode,callback){if(\"function\"==typeof supportsBinary){callback=supportsBinary;supportsBinary=false}if(\"function\"==typeof utf8encode){callback=utf8encode;utf8encode=null}var data=packet.data===undefined?undefined:packet.data.buffer||packet.data;if(global.ArrayBuffer&&data instanceof ArrayBuffer){return encodeArrayBuffer(packet,supportsBinary,callback)}else if(Blob&&data instanceof global.Blob){return encodeBlob(packet,supportsBinary,callback)}if(data&&data.base64){return encodeBase64Object(packet,callback)}var encoded=packets[packet.type];if(undefined!==packet.data){encoded+=utf8encode?utf8.encode(String(packet.data)):String(packet.data)}return callback(\"\"+encoded)};function encodeBase64Object(packet,callback){var message=\"b\"+exports.packets[packet.type]+packet.data.data;return callback(message)}function encodeArrayBuffer(packet,supportsBinary,callback){if(!supportsBinary){return exports.encodeBase64Packet(packet,callback)}var data=packet.data;var contentArray=new Uint8Array(data);var resultBuffer=new Uint8Array(1+data.byteLength);resultBuffer[0]=packets[packet.type];for(var i=0;i<contentArray.length;i++){resultBuffer[i+1]=contentArray[i]}return callback(resultBuffer.buffer)}function encodeBlobAsArrayBuffer(packet,supportsBinary,callback){if(!supportsBinary){return exports.encodeBase64Packet(packet,callback)}var fr=new FileReader;fr.onload=function(){packet.data=fr.result;exports.encodePacket(packet,supportsBinary,true,callback)};return fr.readAsArrayBuffer(packet.data)}function encodeBlob(packet,supportsBinary,callback){if(!supportsBinary){return exports.encodeBase64Packet(packet,callback)}if(dontSendBlobs){return encodeBlobAsArrayBuffer(packet,supportsBinary,callback)}var length=new Uint8Array(1);length[0]=packets[packet.type];var blob=new Blob([length.buffer,packet.data]);return callback(blob)}exports.encodeBase64Packet=function(packet,callback){var message=\"b\"+exports.packets[packet.type];if(Blob&&packet.data instanceof global.Blob){var fr=new FileReader;fr.onload=function(){var b64=fr.result.split(\",\")[1];callback(message+b64)};return fr.readAsDataURL(packet.data)}var b64data;try{b64data=String.fromCharCode.apply(null,new Uint8Array(packet.data))}catch(e){var typed=new Uint8Array(packet.data);var basic=new Array(typed.length);for(var i=0;i<typed.length;i++){basic[i]=typed[i]}b64data=String.fromCharCode.apply(null,basic)}message+=global.btoa(b64data);return callback(message)};exports.decodePacket=function(data,binaryType,utf8decode){if(typeof data==\"string\"||data===undefined){if(data.charAt(0)==\"b\"){return exports.decodeBase64Packet(data.substr(1),binaryType)}if(utf8decode){try{data=utf8.decode(data)}catch(e){return err}}var type=data.charAt(0);if(Number(type)!=type||!packetslist[type]){return err}if(data.length>1){return{type:packetslist[type],data:data.substring(1)}}else{return{type:packetslist[type]}}}var asArray=new Uint8Array(data);var type=asArray[0];var rest=sliceBuffer(data,1);if(Blob&&binaryType===\"blob\"){rest=new Blob([rest])}return{type:packetslist[type],data:rest}};exports.decodeBase64Packet=function(msg,binaryType){var type=packetslist[msg.charAt(0)];if(!global.ArrayBuffer){return{type:type,data:{base64:true,data:msg.substr(1)}}}var data=base64encoder.decode(msg.substr(1));if(binaryType===\"blob\"&&Blob){data=new Blob([data])}return{type:type,data:data}};exports.encodePayload=function(packets,supportsBinary,callback){if(typeof supportsBinary==\"function\"){callback=supportsBinary;supportsBinary=null}var isBinary=hasBinary(packets);if(supportsBinary&&isBinary){if(Blob&&!dontSendBlobs){return exports.encodePayloadAsBlob(packets,callback)}return exports.encodePayloadAsArrayBuffer(packets,callback)}if(!packets.length){return callback(\"0:\")}function setLengthHeader(message){return message.length+\":\"+message}function encodeOne(packet,doneCallback){exports.encodePacket(packet,!isBinary?false:supportsBinary,true,function(message){doneCallback(null,setLengthHeader(message))})}map(packets,encodeOne,function(err,results){return callback(results.join(\"\"))})};function map(ary,each,done){var result=new Array(ary.length);var next=after(ary.length,done);var eachWithIndex=function(i,el,cb){each(el,function(error,msg){result[i]=msg;cb(error,result)})};for(var i=0;i<ary.length;i++){eachWithIndex(i,ary[i],next)}}exports.decodePayload=function(data,binaryType,callback){if(typeof data!=\"string\"){return exports.decodePayloadAsBinary(data,binaryType,callback)}if(typeof binaryType===\"function\"){callback=binaryType;binaryType=null}var packet;if(data==\"\"){return callback(err,0,1)}var length=\"\",n,msg;for(var i=0,l=data.length;i<l;i++){var chr=data.charAt(i);if(\":\"!=chr){length+=chr}else{if(\"\"==length||length!=(n=Number(length))){return callback(err,0,1)}msg=data.substr(i+1,n);if(length!=msg.length){return callback(err,0,1)}if(msg.length){packet=exports.decodePacket(msg,binaryType,true);if(err.type==packet.type&&err.data==packet.data){return callback(err,0,1)}var ret=callback(packet,i+n,l);if(false===ret)return}i+=n;length=\"\"}}if(length!=\"\"){return callback(err,0,1)}};exports.encodePayloadAsArrayBuffer=function(packets,callback){if(!packets.length){return callback(new ArrayBuffer(0))}function encodeOne(packet,doneCallback){exports.encodePacket(packet,true,true,function(data){return doneCallback(null,data)})}map(packets,encodeOne,function(err,encodedPackets){var totalLength=encodedPackets.reduce(function(acc,p){var len;if(typeof p===\"string\"){len=p.length}else{len=p.byteLength}return acc+len.toString().length+len+2},0);var resultArray=new Uint8Array(totalLength);var bufferIndex=0;encodedPackets.forEach(function(p){var isString=typeof p===\"string\";var ab=p;if(isString){var view=new Uint8Array(p.length);for(var i=0;i<p.length;i++){view[i]=p.charCodeAt(i)}ab=view.buffer}if(isString){resultArray[bufferIndex++]=0}else{resultArray[bufferIndex++]=1}var lenStr=ab.byteLength.toString();for(var i=0;i<lenStr.length;i++){resultArray[bufferIndex++]=parseInt(lenStr[i])}resultArray[bufferIndex++]=255;var view=new Uint8Array(ab);for(var i=0;i<view.length;i++){resultArray[bufferIndex++]=view[i]}});return callback(resultArray.buffer)})};exports.encodePayloadAsBlob=function(packets,callback){function encodeOne(packet,doneCallback){exports.encodePacket(packet,true,true,function(encoded){var binaryIdentifier=new Uint8Array(1);binaryIdentifier[0]=1;if(typeof encoded===\"string\"){var view=new Uint8Array(encoded.length);for(var i=0;i<encoded.length;i++){view[i]=encoded.charCodeAt(i)}encoded=view.buffer;binaryIdentifier[0]=0}var len=encoded instanceof ArrayBuffer?encoded.byteLength:encoded.size;var lenStr=len.toString();var lengthAry=new Uint8Array(lenStr.length+1);for(var i=0;i<lenStr.length;i++){lengthAry[i]=parseInt(lenStr[i])}lengthAry[lenStr.length]=255;if(Blob){var blob=new Blob([binaryIdentifier.buffer,lengthAry.buffer,encoded]);doneCallback(null,blob)}})}map(packets,encodeOne,function(err,results){return callback(new Blob(results))})};exports.decodePayloadAsBinary=function(data,binaryType,callback){if(typeof binaryType===\"function\"){callback=binaryType;binaryType=null}var bufferTail=data;var buffers=[];var numberTooLong=false;while(bufferTail.byteLength>0){var tailArray=new Uint8Array(bufferTail);var isString=tailArray[0]===0;var msgLength=\"\";for(var i=1;;i++){if(tailArray[i]==255)break;if(msgLength.length>310){numberTooLong=true;break}msgLength+=tailArray[i]}if(numberTooLong)return callback(err,0,1);bufferTail=sliceBuffer(bufferTail,2+msgLength.length);msgLength=parseInt(msgLength);var msg=sliceBuffer(bufferTail,0,msgLength);if(isString){try{msg=String.fromCharCode.apply(null,new Uint8Array(msg))}catch(e){var typed=new Uint8Array(msg);msg=\"\";for(var i=0;i<typed.length;i++){msg+=String.fromCharCode(typed[i])}}}buffers.push(msg);bufferTail=sliceBuffer(bufferTail,msgLength)}var total=buffers.length;buffers.forEach(function(buffer,i){callback(exports.decodePacket(buffer,binaryType,true),i,total)})}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./keys\":20,after:11,\"arraybuffer.slice\":12,\"base64-arraybuffer\":13,blob:14,\"has-binary\":21,utf8:29}],20:[function(_dereq_,module,exports){module.exports=Object.keys||function keys(obj){var arr=[];var has=Object.prototype.hasOwnProperty;for(var i in obj){if(has.call(obj,i)){arr.push(i)}}return arr}},{}],21:[function(_dereq_,module,exports){(function(global){var isArray=_dereq_(\"isarray\");module.exports=hasBinary;function hasBinary(data){function _hasBinary(obj){if(!obj)return false;if(global.Buffer&&global.Buffer.isBuffer(obj)||global.ArrayBuffer&&obj instanceof ArrayBuffer||global.Blob&&obj instanceof Blob||global.File&&obj instanceof File){return true}if(isArray(obj)){for(var i=0;i<obj.length;i++){if(_hasBinary(obj[i])){return true}}}else if(obj&&\"object\"==typeof obj){if(obj.toJSON){obj=obj.toJSON()}for(var key in obj){if(Object.prototype.hasOwnProperty.call(obj,key)&&_hasBinary(obj[key])){return true}}}return false}return _hasBinary(data)}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{isarray:24}],22:[function(_dereq_,module,exports){try{module.exports=typeof XMLHttpRequest!==\"undefined\"&&\"withCredentials\"in new XMLHttpRequest}catch(err){module.exports=false}},{}],23:[function(_dereq_,module,exports){var indexOf=[].indexOf;module.exports=function(arr,obj){if(indexOf)return arr.indexOf(obj);for(var i=0;i<arr.length;++i){if(arr[i]===obj)return i}return-1}},{}],24:[function(_dereq_,module,exports){module.exports=Array.isArray||function(arr){return Object.prototype.toString.call(arr)==\"[object Array]\"}},{}],25:[function(_dereq_,module,exports){var s=1e3;var m=s*60;var h=m*60;var d=h*24;var y=d*365.25;module.exports=function(val,options){options=options||{};if(\"string\"==typeof val)return parse(val);return options.long?long(val):short(val)};function parse(str){str=\"\"+str;if(str.length>1e4)return;var match=/^((?:\\d+)?\\.?\\d+) *(milliseconds?|msecs?|ms|seconds?|secs?|s|minutes?|mins?|m|hours?|hrs?|h|days?|d|years?|yrs?|y)?$/i.exec(str);if(!match)return;var n=parseFloat(match[1]);var type=(match[2]||\"ms\").toLowerCase();switch(type){case\"years\":case\"year\":case\"yrs\":case\"yr\":case\"y\":return n*y;case\"days\":case\"day\":case\"d\":return n*d;case\"hours\":case\"hour\":case\"hrs\":case\"hr\":case\"h\":return n*h;case\"minutes\":case\"minute\":case\"mins\":case\"min\":case\"m\":return n*m;case\"seconds\":case\"second\":case\"secs\":case\"sec\":case\"s\":return n*s;case\"milliseconds\":case\"millisecond\":case\"msecs\":case\"msec\":case\"ms\":return n}}function short(ms){if(ms>=d)return Math.round(ms/d)+\"d\";if(ms>=h)return Math.round(ms/h)+\"h\";if(ms>=m)return Math.round(ms/m)+\"m\";if(ms>=s)return Math.round(ms/s)+\"s\";return ms+\"ms\"}function long(ms){return plural(ms,d,\"day\")||plural(ms,h,\"hour\")||plural(ms,m,\"minute\")||plural(ms,s,\"second\")||ms+\" ms\"}function plural(ms,n,name){if(ms<n)return;if(ms<n*1.5)return Math.floor(ms/n)+\" \"+name;return Math.ceil(ms/n)+\" \"+name+\"s\"}},{}],26:[function(_dereq_,module,exports){(function(global){var rvalidchars=/^[\\],:{}\\s]*$/;var rvalidescape=/\\\\(?:[\"\\\\\\/bfnrt]|u[0-9a-fA-F]{4})/g;var rvalidtokens=/\"[^\"\\\\\\n\\r]*\"|true|false|null|-?\\d+(?:\\.\\d*)?(?:[eE][+\\-]?\\d+)?/g;var rvalidbraces=/(?:^|:|,)(?:\\s*\\[)+/g;var rtrimLeft=/^\\s+/;var rtrimRight=/\\s+$/;module.exports=function parsejson(data){if(\"string\"!=typeof data||!data){return null}data=data.replace(rtrimLeft,\"\").replace(rtrimRight,\"\");if(global.JSON&&JSON.parse){return JSON.parse(data)}if(rvalidchars.test(data.replace(rvalidescape,\"@\").replace(rvalidtokens,\"]\").replace(rvalidbraces,\"\"))){return new Function(\"return \"+data)()}}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{}],27:[function(_dereq_,module,exports){exports.encode=function(obj){var str=\"\";for(var i in obj){if(obj.hasOwnProperty(i)){if(str.length)str+=\"&\";str+=encodeURIComponent(i)+\"=\"+encodeURIComponent(obj[i])}}return str};exports.decode=function(qs){var qry={};var pairs=qs.split(\"&\");for(var i=0,l=pairs.length;i<l;i++){var pair=pairs[i].split(\"=\");qry[decodeURIComponent(pair[0])]=decodeURIComponent(pair[1])}return qry}},{}],28:[function(_dereq_,module,exports){var re=/^(?:(?![^:@]+:[^:@\\/]*@)(http|https|ws|wss):\\/\\/)?((?:(([^:@]*)(?::([^:@]*))?)?@)?((?:[a-f0-9]{0,4}:){2,7}[a-f0-9]{0,4}|[^:\\/?#]*)(?::(\\d*))?)(((\\/(?:[^?#](?![^?#\\/]*\\.[^?#\\/.]+(?:[?#]|$)))*\\/?)?([^?#\\/]*))(?:\\?([^#]*))?(?:#(.*))?)/;var parts=[\"source\",\"protocol\",\"authority\",\"userInfo\",\"user\",\"password\",\"host\",\"port\",\"relative\",\"path\",\"directory\",\"file\",\"query\",\"anchor\"];module.exports=function parseuri(str){var src=str,b=str.indexOf(\"[\"),e=str.indexOf(\"]\");if(b!=-1&&e!=-1){str=str.substring(0,b)+str.substring(b,e).replace(/:/g,\";\")+str.substring(e,str.length)}var m=re.exec(str||\"\"),uri={},i=14;while(i--){uri[parts[i]]=m[i]||\"\"}if(b!=-1&&e!=-1){uri.source=src;uri.host=uri.host.substring(1,uri.host.length-1).replace(/;/g,\":\");uri.authority=uri.authority.replace(\"[\",\"\").replace(\"]\",\"\").replace(/;/g,\":\");uri.ipv6uri=true}return uri}},{}],29:[function(_dereq_,module,exports){(function(global){(function(root){var freeExports=typeof exports==\"object\"&&exports;var freeModule=typeof module==\"object\"&&module&&module.exports==freeExports&&module;var freeGlobal=typeof global==\"object\"&&global;if(freeGlobal.global===freeGlobal||freeGlobal.window===freeGlobal){root=freeGlobal}var stringFromCharCode=String.fromCharCode;function ucs2decode(string){var output=[];var counter=0;var length=string.length;var value;var extra;while(counter<length){value=string.charCodeAt(counter++);if(value>=55296&&value<=56319&&counter<length){extra=string.charCodeAt(counter++);if((extra&64512)==56320){output.push(((value&1023)<<10)+(extra&1023)+65536)}else{output.push(value);counter--}}else{output.push(value)}}return output}function ucs2encode(array){var length=array.length;var index=-1;var value;var output=\"\";while(++index<length){value=array[index];if(value>65535){value-=65536;output+=stringFromCharCode(value>>>10&1023|55296);value=56320|value&1023}output+=stringFromCharCode(value)}return output}function checkScalarValue(codePoint){if(codePoint>=55296&&codePoint<=57343){throw Error(\"Lone surrogate U+\"+codePoint.toString(16).toUpperCase()+\" is not a scalar value\")}}function createByte(codePoint,shift){return stringFromCharCode(codePoint>>shift&63|128)}function encodeCodePoint(codePoint){if((codePoint&4294967168)==0){return stringFromCharCode(codePoint)}var symbol=\"\";if((codePoint&4294965248)==0){symbol=stringFromCharCode(codePoint>>6&31|192)}else if((codePoint&4294901760)==0){checkScalarValue(codePoint);symbol=stringFromCharCode(codePoint>>12&15|224);symbol+=createByte(codePoint,6)}else if((codePoint&4292870144)==0){symbol=stringFromCharCode(codePoint>>18&7|240);symbol+=createByte(codePoint,12);symbol+=createByte(codePoint,6)}symbol+=stringFromCharCode(codePoint&63|128);return symbol}function utf8encode(string){var codePoints=ucs2decode(string);var length=codePoints.length;var index=-1;var codePoint;var byteString=\"\";while(++index<length){codePoint=codePoints[index];byteString+=encodeCodePoint(codePoint)}return byteString}function readContinuationByte(){if(byteIndex>=byteCount){throw Error(\"Invalid byte index\")}var continuationByte=byteArray[byteIndex]&255;byteIndex++;if((continuationByte&192)==128){return continuationByte&63}throw Error(\"Invalid continuation byte\")}function decodeSymbol(){var byte1;var byte2;var byte3;var byte4;var codePoint;if(byteIndex>byteCount){throw Error(\"Invalid byte index\")}if(byteIndex==byteCount){return false}byte1=byteArray[byteIndex]&255;byteIndex++;if((byte1&128)==0){return byte1}if((byte1&224)==192){var byte2=readContinuationByte();codePoint=(byte1&31)<<6|byte2;if(codePoint>=128){return codePoint}else{throw Error(\"Invalid continuation byte\")}}if((byte1&240)==224){byte2=readContinuationByte();byte3=readContinuationByte();codePoint=(byte1&15)<<12|byte2<<6|byte3;if(codePoint>=2048){checkScalarValue(codePoint);return codePoint}else{throw Error(\"Invalid continuation byte\")}}if((byte1&248)==240){byte2=readContinuationByte();byte3=readContinuationByte();byte4=readContinuationByte();codePoint=(byte1&15)<<18|byte2<<12|byte3<<6|byte4;if(codePoint>=65536&&codePoint<=1114111){return codePoint}}throw Error(\"Invalid UTF-8 detected\")}var byteArray;var byteCount;var byteIndex;function utf8decode(byteString){byteArray=ucs2decode(byteString);byteCount=byteArray.length;byteIndex=0;var codePoints=[];var tmp;while((tmp=decodeSymbol())!==false){codePoints.push(tmp)}return ucs2encode(codePoints)}var utf8={version:\"2.0.0\",encode:utf8encode,decode:utf8decode};if(typeof define==\"function\"&&typeof define.amd==\"object\"&&define.amd){define(function(){return utf8})}else if(freeExports&&!freeExports.nodeType){if(freeModule){freeModule.exports=utf8}else{var object={};var hasOwnProperty=object.hasOwnProperty;for(var key in utf8){hasOwnProperty.call(utf8,key)&&(freeExports[key]=utf8[key])}}}else{root.utf8=utf8}})(this)}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{}],30:[function(_dereq_,module,exports){\"use strict\";var alphabet=\"0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-_\".split(\"\"),length=64,map={},seed=0,i=0,prev;function encode(num){var encoded=\"\";do{encoded=alphabet[num%length]+encoded;num=Math.floor(num/length)}while(num>0);return encoded}function decode(str){var decoded=0;for(i=0;i<str.length;i++){decoded=decoded*length+map[str.charAt(i)]}return decoded}function yeast(){var now=encode(+new Date);if(now!==prev)return seed=0,prev=now;return now+\".\"+encode(seed++)}for(;i<length;i++)map[alphabet[i]]=i;yeast.encode=encode;yeast.decode=decode;module.exports=yeast},{}],31:[function(_dereq_,module,exports){var url=_dereq_(\"./url\");var parser=_dereq_(\"socket.io-parser\");var Manager=_dereq_(\"./manager\");var debug=_dereq_(\"debug\")(\"socket.io-client\");module.exports=exports=lookup;var cache=exports.managers={};function lookup(uri,opts){if(typeof uri==\"object\"){opts=uri;uri=undefined}opts=opts||{};var parsed=url(uri);var source=parsed.source;var id=parsed.id;var path=parsed.path;var sameNamespace=cache[id]&&path in cache[id].nsps;var newConnection=opts.forceNew||opts[\"force new connection\"]||false===opts.multiplex||sameNamespace;var io;if(newConnection){debug(\"ignoring socket cache for %s\",source);io=Manager(source,opts)}else{if(!cache[id]){debug(\"new io instance for %s\",source);cache[id]=Manager(source,opts)}io=cache[id]}return io.socket(parsed.path)}exports.protocol=parser.protocol;exports.connect=lookup;exports.Manager=_dereq_(\"./manager\");exports.Socket=_dereq_(\"./socket\")},{\"./manager\":32,\"./socket\":34,\"./url\":35,debug:39,\"socket.io-parser\":47}],32:[function(_dereq_,module,exports){var eio=_dereq_(\"engine.io-client\");var Socket=_dereq_(\"./socket\");var Emitter=_dereq_(\"component-emitter\");var parser=_dereq_(\"socket.io-parser\");var on=_dereq_(\"./on\");var bind=_dereq_(\"component-bind\");var debug=_dereq_(\"debug\")(\"socket.io-client:manager\");var indexOf=_dereq_(\"indexof\");var Backoff=_dereq_(\"backo2\");var has=Object.prototype.hasOwnProperty;module.exports=Manager;function Manager(uri,opts){if(!(this instanceof Manager))return new Manager(uri,opts);if(uri&&\"object\"==typeof uri){opts=uri;uri=undefined}opts=opts||{};opts.path=opts.path||\"/socket.io\";this.nsps={};this.subs=[];this.opts=opts;this.reconnection(opts.reconnection!==false);this.reconnectionAttempts(opts.reconnectionAttempts||Infinity);this.reconnectionDelay(opts.reconnectionDelay||1e3);this.reconnectionDelayMax(opts.reconnectionDelayMax||5e3);this.randomizationFactor(opts.randomizationFactor||.5);this.backoff=new Backoff({min:this.reconnectionDelay(),max:this.reconnectionDelayMax(),jitter:this.randomizationFactor()});this.timeout(null==opts.timeout?2e4:opts.timeout);this.readyState=\"closed\";this.uri=uri;this.connecting=[];this.lastPing=null;this.encoding=false;this.packetBuffer=[];this.encoder=new parser.Encoder;this.decoder=new parser.Decoder;this.autoConnect=opts.autoConnect!==false;if(this.autoConnect)this.open()}Manager.prototype.emitAll=function(){this.emit.apply(this,arguments);for(var nsp in this.nsps){if(has.call(this.nsps,nsp)){this.nsps[nsp].emit.apply(this.nsps[nsp],arguments)}}};Manager.prototype.updateSocketIds=function(){for(var nsp in this.nsps){if(has.call(this.nsps,nsp)){this.nsps[nsp].id=this.engine.id}}};Emitter(Manager.prototype);Manager.prototype.reconnection=function(v){if(!arguments.length)return this._reconnection;this._reconnection=!!v;return this};Manager.prototype.reconnectionAttempts=function(v){if(!arguments.length)return this._reconnectionAttempts;this._reconnectionAttempts=v;return this};Manager.prototype.reconnectionDelay=function(v){if(!arguments.length)return this._reconnectionDelay;this._reconnectionDelay=v;this.backoff&&this.backoff.setMin(v);return this};Manager.prototype.randomizationFactor=function(v){if(!arguments.length)return this._randomizationFactor;this._randomizationFactor=v;this.backoff&&this.backoff.setJitter(v);return this};Manager.prototype.reconnectionDelayMax=function(v){if(!arguments.length)return this._reconnectionDelayMax;this._reconnectionDelayMax=v;this.backoff&&this.backoff.setMax(v);return this};Manager.prototype.timeout=function(v){if(!arguments.length)return this._timeout;this._timeout=v;return this};Manager.prototype.maybeReconnectOnOpen=function(){if(!this.reconnecting&&this._reconnection&&this.backoff.attempts===0){this.reconnect()}};Manager.prototype.open=Manager.prototype.connect=function(fn){debug(\"readyState %s\",this.readyState);if(~this.readyState.indexOf(\"open\"))return this;debug(\"opening %s\",this.uri);this.engine=eio(this.uri,this.opts);var socket=this.engine;var self=this;this.readyState=\"opening\";this.skipReconnect=false;var openSub=on(socket,\"open\",function(){self.onopen();fn&&fn()});var errorSub=on(socket,\"error\",function(data){debug(\"connect_error\");self.cleanup();self.readyState=\"closed\";self.emitAll(\"connect_error\",data);if(fn){var err=new Error(\"Connection error\");err.data=data;fn(err)}else{self.maybeReconnectOnOpen()}});if(false!==this._timeout){var timeout=this._timeout;debug(\"connect attempt will timeout after %d\",timeout);var timer=setTimeout(function(){debug(\"connect attempt timed out after %d\",timeout);openSub.destroy();socket.close();socket.emit(\"error\",\"timeout\");self.emitAll(\"connect_timeout\",timeout)},timeout);this.subs.push({destroy:function(){clearTimeout(timer)}})}this.subs.push(openSub);this.subs.push(errorSub);return this};Manager.prototype.onopen=function(){debug(\"open\");this.cleanup();this.readyState=\"open\";this.emit(\"open\");var socket=this.engine;this.subs.push(on(socket,\"data\",bind(this,\"ondata\")));this.subs.push(on(socket,\"ping\",bind(this,\"onping\")));this.subs.push(on(socket,\"pong\",bind(this,\"onpong\")));this.subs.push(on(socket,\"error\",bind(this,\"onerror\")));this.subs.push(on(socket,\"close\",bind(this,\"onclose\")));this.subs.push(on(this.decoder,\"decoded\",bind(this,\"ondecoded\")))};Manager.prototype.onping=function(){this.lastPing=new Date;this.emitAll(\"ping\")};Manager.prototype.onpong=function(){this.emitAll(\"pong\",new Date-this.lastPing)};Manager.prototype.ondata=function(data){this.decoder.add(data)};Manager.prototype.ondecoded=function(packet){this.emit(\"packet\",packet)};Manager.prototype.onerror=function(err){debug(\"error\",err);this.emitAll(\"error\",err)};Manager.prototype.socket=function(nsp){var socket=this.nsps[nsp];if(!socket){socket=new Socket(this,nsp);this.nsps[nsp]=socket;var self=this;socket.on(\"connecting\",onConnecting);\nsocket.on(\"connect\",function(){socket.id=self.engine.id});if(this.autoConnect){onConnecting()}}function onConnecting(){if(!~indexOf(self.connecting,socket)){self.connecting.push(socket)}}return socket};Manager.prototype.destroy=function(socket){var index=indexOf(this.connecting,socket);if(~index)this.connecting.splice(index,1);if(this.connecting.length)return;this.close()};Manager.prototype.packet=function(packet){debug(\"writing packet %j\",packet);var self=this;if(!self.encoding){self.encoding=true;this.encoder.encode(packet,function(encodedPackets){for(var i=0;i<encodedPackets.length;i++){self.engine.write(encodedPackets[i],packet.options)}self.encoding=false;self.processPacketQueue()})}else{self.packetBuffer.push(packet)}};Manager.prototype.processPacketQueue=function(){if(this.packetBuffer.length>0&&!this.encoding){var pack=this.packetBuffer.shift();this.packet(pack)}};Manager.prototype.cleanup=function(){debug(\"cleanup\");var sub;while(sub=this.subs.shift())sub.destroy();this.packetBuffer=[];this.encoding=false;this.lastPing=null;this.decoder.destroy()};Manager.prototype.close=Manager.prototype.disconnect=function(){debug(\"disconnect\");this.skipReconnect=true;this.reconnecting=false;if(\"opening\"==this.readyState){this.cleanup()}this.backoff.reset();this.readyState=\"closed\";if(this.engine)this.engine.close()};Manager.prototype.onclose=function(reason){debug(\"onclose\");this.cleanup();this.backoff.reset();this.readyState=\"closed\";this.emit(\"close\",reason);if(this._reconnection&&!this.skipReconnect){this.reconnect()}};Manager.prototype.reconnect=function(){if(this.reconnecting||this.skipReconnect)return this;var self=this;if(this.backoff.attempts>=this._reconnectionAttempts){debug(\"reconnect failed\");this.backoff.reset();this.emitAll(\"reconnect_failed\");this.reconnecting=false}else{var delay=this.backoff.duration();debug(\"will wait %dms before reconnect attempt\",delay);this.reconnecting=true;var timer=setTimeout(function(){if(self.skipReconnect)return;debug(\"attempting reconnect\");self.emitAll(\"reconnect_attempt\",self.backoff.attempts);self.emitAll(\"reconnecting\",self.backoff.attempts);if(self.skipReconnect)return;self.open(function(err){if(err){debug(\"reconnect attempt error\");self.reconnecting=false;self.reconnect();self.emitAll(\"reconnect_error\",err.data)}else{debug(\"reconnect success\");self.onreconnect()}})},delay);this.subs.push({destroy:function(){clearTimeout(timer)}})}};Manager.prototype.onreconnect=function(){var attempt=this.backoff.attempts;this.reconnecting=false;this.backoff.reset();this.updateSocketIds();this.emitAll(\"reconnect\",attempt)}},{\"./on\":33,\"./socket\":34,backo2:36,\"component-bind\":37,\"component-emitter\":38,debug:39,\"engine.io-client\":1,indexof:42,\"socket.io-parser\":47}],33:[function(_dereq_,module,exports){module.exports=on;function on(obj,ev,fn){obj.on(ev,fn);return{destroy:function(){obj.removeListener(ev,fn)}}}},{}],34:[function(_dereq_,module,exports){var parser=_dereq_(\"socket.io-parser\");var Emitter=_dereq_(\"component-emitter\");var toArray=_dereq_(\"to-array\");var on=_dereq_(\"./on\");var bind=_dereq_(\"component-bind\");var debug=_dereq_(\"debug\")(\"socket.io-client:socket\");var hasBin=_dereq_(\"has-binary\");module.exports=exports=Socket;var events={connect:1,connect_error:1,connect_timeout:1,connecting:1,disconnect:1,error:1,reconnect:1,reconnect_attempt:1,reconnect_failed:1,reconnect_error:1,reconnecting:1,ping:1,pong:1};var emit=Emitter.prototype.emit;function Socket(io,nsp){this.io=io;this.nsp=nsp;this.json=this;this.ids=0;this.acks={};this.receiveBuffer=[];this.sendBuffer=[];this.connected=false;this.disconnected=true;if(this.io.autoConnect)this.open()}Emitter(Socket.prototype);Socket.prototype.subEvents=function(){if(this.subs)return;var io=this.io;this.subs=[on(io,\"open\",bind(this,\"onopen\")),on(io,\"packet\",bind(this,\"onpacket\")),on(io,\"close\",bind(this,\"onclose\"))]};Socket.prototype.open=Socket.prototype.connect=function(){if(this.connected)return this;this.subEvents();this.io.open();if(\"open\"==this.io.readyState)this.onopen();this.emit(\"connecting\");return this};Socket.prototype.send=function(){var args=toArray(arguments);args.unshift(\"message\");this.emit.apply(this,args);return this};Socket.prototype.emit=function(ev){if(events.hasOwnProperty(ev)){emit.apply(this,arguments);return this}var args=toArray(arguments);var parserType=parser.EVENT;if(hasBin(args)){parserType=parser.BINARY_EVENT}var packet={type:parserType,data:args};packet.options={};packet.options.compress=!this.flags||false!==this.flags.compress;if(\"function\"==typeof args[args.length-1]){debug(\"emitting packet with ack id %d\",this.ids);this.acks[this.ids]=args.pop();packet.id=this.ids++}if(this.connected){this.packet(packet)}else{this.sendBuffer.push(packet)}delete this.flags;return this};Socket.prototype.packet=function(packet){packet.nsp=this.nsp;this.io.packet(packet)};Socket.prototype.onopen=function(){debug(\"transport is open - connecting\");if(\"/\"!=this.nsp){this.packet({type:parser.CONNECT})}};Socket.prototype.onclose=function(reason){debug(\"close (%s)\",reason);this.connected=false;this.disconnected=true;delete this.id;this.emit(\"disconnect\",reason)};Socket.prototype.onpacket=function(packet){if(packet.nsp!=this.nsp)return;switch(packet.type){case parser.CONNECT:this.onconnect();break;case parser.EVENT:this.onevent(packet);break;case parser.BINARY_EVENT:this.onevent(packet);break;case parser.ACK:this.onack(packet);break;case parser.BINARY_ACK:this.onack(packet);break;case parser.DISCONNECT:this.ondisconnect();break;case parser.ERROR:this.emit(\"error\",packet.data);break}};Socket.prototype.onevent=function(packet){var args=packet.data||[];debug(\"emitting event %j\",args);if(null!=packet.id){debug(\"attaching ack callback to event\");args.push(this.ack(packet.id))}if(this.connected){emit.apply(this,args)}else{this.receiveBuffer.push(args)}};Socket.prototype.ack=function(id){var self=this;var sent=false;return function(){if(sent)return;sent=true;var args=toArray(arguments);debug(\"sending ack %j\",args);var type=hasBin(args)?parser.BINARY_ACK:parser.ACK;self.packet({type:type,id:id,data:args})}};Socket.prototype.onack=function(packet){var ack=this.acks[packet.id];if(\"function\"==typeof ack){debug(\"calling ack %s with %j\",packet.id,packet.data);ack.apply(this,packet.data);delete this.acks[packet.id]}else{debug(\"bad ack %s\",packet.id)}};Socket.prototype.onconnect=function(){this.connected=true;this.disconnected=false;this.emit(\"connect\");this.emitBuffered()};Socket.prototype.emitBuffered=function(){var i;for(i=0;i<this.receiveBuffer.length;i++){emit.apply(this,this.receiveBuffer[i])}this.receiveBuffer=[];for(i=0;i<this.sendBuffer.length;i++){this.packet(this.sendBuffer[i])}this.sendBuffer=[]};Socket.prototype.ondisconnect=function(){debug(\"server disconnect (%s)\",this.nsp);this.destroy();this.onclose(\"io server disconnect\")};Socket.prototype.destroy=function(){if(this.subs){for(var i=0;i<this.subs.length;i++){this.subs[i].destroy()}this.subs=null}this.io.destroy(this)};Socket.prototype.close=Socket.prototype.disconnect=function(){if(this.connected){debug(\"performing disconnect (%s)\",this.nsp);this.packet({type:parser.DISCONNECT})}this.destroy();if(this.connected){this.onclose(\"io client disconnect\")}return this};Socket.prototype.compress=function(compress){this.flags=this.flags||{};this.flags.compress=compress;return this}},{\"./on\":33,\"component-bind\":37,\"component-emitter\":38,debug:39,\"has-binary\":41,\"socket.io-parser\":47,\"to-array\":51}],35:[function(_dereq_,module,exports){(function(global){var parseuri=_dereq_(\"parseuri\");var debug=_dereq_(\"debug\")(\"socket.io-client:url\");module.exports=url;function url(uri,loc){var obj=uri;var loc=loc||global.location;if(null==uri)uri=loc.protocol+\"//\"+loc.host;if(\"string\"==typeof uri){if(\"/\"==uri.charAt(0)){if(\"/\"==uri.charAt(1)){uri=loc.protocol+uri}else{uri=loc.host+uri}}if(!/^(https?|wss?):\\/\\//.test(uri)){debug(\"protocol-less url %s\",uri);if(\"undefined\"!=typeof loc){uri=loc.protocol+\"//\"+uri}else{uri=\"https://\"+uri}}debug(\"parse %s\",uri);obj=parseuri(uri)}if(!obj.port){if(/^(http|ws)$/.test(obj.protocol)){obj.port=\"80\"}else if(/^(http|ws)s$/.test(obj.protocol)){obj.port=\"443\"}}obj.path=obj.path||\"/\";var ipv6=obj.host.indexOf(\":\")!==-1;var host=ipv6?\"[\"+obj.host+\"]\":obj.host;obj.id=obj.protocol+\"://\"+host+\":\"+obj.port;obj.href=obj.protocol+\"://\"+host+(loc&&loc.port==obj.port?\"\":\":\"+obj.port);return obj}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{debug:39,parseuri:45}],36:[function(_dereq_,module,exports){module.exports=Backoff;function Backoff(opts){opts=opts||{};this.ms=opts.min||100;this.max=opts.max||1e4;this.factor=opts.factor||2;this.jitter=opts.jitter>0&&opts.jitter<=1?opts.jitter:0;this.attempts=0}Backoff.prototype.duration=function(){var ms=this.ms*Math.pow(this.factor,this.attempts++);if(this.jitter){var rand=Math.random();var deviation=Math.floor(rand*this.jitter*ms);ms=(Math.floor(rand*10)&1)==0?ms-deviation:ms+deviation}return Math.min(ms,this.max)|0};Backoff.prototype.reset=function(){this.attempts=0};Backoff.prototype.setMin=function(min){this.ms=min};Backoff.prototype.setMax=function(max){this.max=max};Backoff.prototype.setJitter=function(jitter){this.jitter=jitter}},{}],37:[function(_dereq_,module,exports){var slice=[].slice;module.exports=function(obj,fn){if(\"string\"==typeof fn)fn=obj[fn];if(\"function\"!=typeof fn)throw new Error(\"bind() requires a function\");var args=slice.call(arguments,2);return function(){return fn.apply(obj,args.concat(slice.call(arguments)))}}},{}],38:[function(_dereq_,module,exports){module.exports=Emitter;function Emitter(obj){if(obj)return mixin(obj)}function mixin(obj){for(var key in Emitter.prototype){obj[key]=Emitter.prototype[key]}return obj}Emitter.prototype.on=Emitter.prototype.addEventListener=function(event,fn){this._callbacks=this._callbacks||{};(this._callbacks[\"$\"+event]=this._callbacks[\"$\"+event]||[]).push(fn);return this};Emitter.prototype.once=function(event,fn){function on(){this.off(event,on);fn.apply(this,arguments)}on.fn=fn;this.on(event,on);return this};Emitter.prototype.off=Emitter.prototype.removeListener=Emitter.prototype.removeAllListeners=Emitter.prototype.removeEventListener=function(event,fn){this._callbacks=this._callbacks||{};if(0==arguments.length){this._callbacks={};return this}var callbacks=this._callbacks[\"$\"+event];if(!callbacks)return this;if(1==arguments.length){delete this._callbacks[\"$\"+event];return this}var cb;for(var i=0;i<callbacks.length;i++){cb=callbacks[i];if(cb===fn||cb.fn===fn){callbacks.splice(i,1);break}}return this};Emitter.prototype.emit=function(event){this._callbacks=this._callbacks||{};var args=[].slice.call(arguments,1),callbacks=this._callbacks[\"$\"+event];if(callbacks){callbacks=callbacks.slice(0);for(var i=0,len=callbacks.length;i<len;++i){callbacks[i].apply(this,args)}}return this};Emitter.prototype.listeners=function(event){this._callbacks=this._callbacks||{};return this._callbacks[\"$\"+event]||[]};Emitter.prototype.hasListeners=function(event){return!!this.listeners(event).length}},{}],39:[function(_dereq_,module,exports){arguments[4][17][0].apply(exports,arguments)},{\"./debug\":40,dup:17}],40:[function(_dereq_,module,exports){arguments[4][18][0].apply(exports,arguments)},{dup:18,ms:44}],41:[function(_dereq_,module,exports){(function(global){var isArray=_dereq_(\"isarray\");module.exports=hasBinary;function hasBinary(data){function _hasBinary(obj){if(!obj)return false;if(global.Buffer&&global.Buffer.isBuffer&&global.Buffer.isBuffer(obj)||global.ArrayBuffer&&obj instanceof ArrayBuffer||global.Blob&&obj instanceof Blob||global.File&&obj instanceof File){return true}if(isArray(obj)){for(var i=0;i<obj.length;i++){if(_hasBinary(obj[i])){return true}}}else if(obj&&\"object\"==typeof obj){if(obj.toJSON&&\"function\"==typeof obj.toJSON){obj=obj.toJSON()}for(var key in obj){if(Object.prototype.hasOwnProperty.call(obj,key)&&_hasBinary(obj[key])){return true}}}return false}return _hasBinary(data)}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{isarray:43}],42:[function(_dereq_,module,exports){arguments[4][23][0].apply(exports,arguments)},{dup:23}],43:[function(_dereq_,module,exports){arguments[4][24][0].apply(exports,arguments)},{dup:24}],44:[function(_dereq_,module,exports){arguments[4][25][0].apply(exports,arguments)},{dup:25}],45:[function(_dereq_,module,exports){arguments[4][28][0].apply(exports,arguments)},{dup:28}],46:[function(_dereq_,module,exports){(function(global){var isArray=_dereq_(\"isarray\");var isBuf=_dereq_(\"./is-buffer\");exports.deconstructPacket=function(packet){var buffers=[];var packetData=packet.data;function _deconstructPacket(data){if(!data)return data;if(isBuf(data)){var placeholder={_placeholder:true,num:buffers.length};buffers.push(data);return placeholder}else if(isArray(data)){var newData=new Array(data.length);for(var i=0;i<data.length;i++){newData[i]=_deconstructPacket(data[i])}return newData}else if(\"object\"==typeof data&&!(data instanceof Date)){var newData={};for(var key in data){newData[key]=_deconstructPacket(data[key])}return newData}return data}var pack=packet;pack.data=_deconstructPacket(packetData);pack.attachments=buffers.length;return{packet:pack,buffers:buffers}};exports.reconstructPacket=function(packet,buffers){var curPlaceHolder=0;function _reconstructPacket(data){if(data&&data._placeholder){var buf=buffers[data.num];return buf}else if(isArray(data)){for(var i=0;i<data.length;i++){data[i]=_reconstructPacket(data[i])}return data}else if(data&&\"object\"==typeof data){for(var key in data){data[key]=_reconstructPacket(data[key])}return data}return data}packet.data=_reconstructPacket(packet.data);packet.attachments=undefined;return packet};exports.removeBlobs=function(data,callback){function _removeBlobs(obj,curKey,containingObject){if(!obj)return obj;if(global.Blob&&obj instanceof Blob||global.File&&obj instanceof File){pendingBlobs++;var fileReader=new FileReader;fileReader.onload=function(){if(containingObject){containingObject[curKey]=this.result}else{bloblessData=this.result}if(!--pendingBlobs){callback(bloblessData)}};fileReader.readAsArrayBuffer(obj)}else if(isArray(obj)){for(var i=0;i<obj.length;i++){_removeBlobs(obj[i],i,obj)}}else if(obj&&\"object\"==typeof obj&&!isBuf(obj)){for(var key in obj){_removeBlobs(obj[key],key,obj)}}}var pendingBlobs=0;var bloblessData=data;_removeBlobs(bloblessData);if(!pendingBlobs){callback(bloblessData)}}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{\"./is-buffer\":48,isarray:43}],47:[function(_dereq_,module,exports){var debug=_dereq_(\"debug\")(\"socket.io-parser\");var json=_dereq_(\"json3\");var isArray=_dereq_(\"isarray\");var Emitter=_dereq_(\"component-emitter\");var binary=_dereq_(\"./binary\");var isBuf=_dereq_(\"./is-buffer\");exports.protocol=4;exports.types=[\"CONNECT\",\"DISCONNECT\",\"EVENT\",\"BINARY_EVENT\",\"ACK\",\"BINARY_ACK\",\"ERROR\"];exports.CONNECT=0;exports.DISCONNECT=1;exports.EVENT=2;exports.ACK=3;exports.ERROR=4;exports.BINARY_EVENT=5;exports.BINARY_ACK=6;exports.Encoder=Encoder;exports.Decoder=Decoder;function Encoder(){}Encoder.prototype.encode=function(obj,callback){debug(\"encoding packet %j\",obj);if(exports.BINARY_EVENT==obj.type||exports.BINARY_ACK==obj.type){encodeAsBinary(obj,callback)}else{var encoding=encodeAsString(obj);callback([encoding])}};function encodeAsString(obj){var str=\"\";var nsp=false;str+=obj.type;if(exports.BINARY_EVENT==obj.type||exports.BINARY_ACK==obj.type){str+=obj.attachments;str+=\"-\"}if(obj.nsp&&\"/\"!=obj.nsp){nsp=true;str+=obj.nsp}if(null!=obj.id){if(nsp){str+=\",\";nsp=false}str+=obj.id}if(null!=obj.data){if(nsp)str+=\",\";str+=json.stringify(obj.data)}debug(\"encoded %j as %s\",obj,str);return str}function encodeAsBinary(obj,callback){function writeEncoding(bloblessData){var deconstruction=binary.deconstructPacket(bloblessData);var pack=encodeAsString(deconstruction.packet);var buffers=deconstruction.buffers;buffers.unshift(pack);callback(buffers)}binary.removeBlobs(obj,writeEncoding)}function Decoder(){this.reconstructor=null}Emitter(Decoder.prototype);Decoder.prototype.add=function(obj){var packet;if(\"string\"==typeof obj){packet=decodeString(obj);if(exports.BINARY_EVENT==packet.type||exports.BINARY_ACK==packet.type){this.reconstructor=new BinaryReconstructor(packet);if(this.reconstructor.reconPack.attachments===0){this.emit(\"decoded\",packet)}}else{this.emit(\"decoded\",packet)}}else if(isBuf(obj)||obj.base64){if(!this.reconstructor){throw new Error(\"got binary data when not reconstructing a packet\")}else{packet=this.reconstructor.takeBinaryData(obj);if(packet){this.reconstructor=null;this.emit(\"decoded\",packet)}}}else{throw new Error(\"Unknown type: \"+obj)}};function decodeString(str){var p={};var i=0;p.type=Number(str.charAt(0));if(null==exports.types[p.type])return error();if(exports.BINARY_EVENT==p.type||exports.BINARY_ACK==p.type){var buf=\"\";while(str.charAt(++i)!=\"-\"){buf+=str.charAt(i);if(i==str.length)break}if(buf!=Number(buf)||str.charAt(i)!=\"-\"){throw new Error(\"Illegal attachments\")}p.attachments=Number(buf)}if(\"/\"==str.charAt(i+1)){p.nsp=\"\";while(++i){var c=str.charAt(i);if(\",\"==c)break;p.nsp+=c;if(i==str.length)break}}else{p.nsp=\"/\"}var next=str.charAt(i+1);if(\"\"!==next&&Number(next)==next){p.id=\"\";while(++i){var c=str.charAt(i);if(null==c||Number(c)!=c){--i;break}p.id+=str.charAt(i);if(i==str.length)break}p.id=Number(p.id)}if(str.charAt(++i)){try{p.data=json.parse(str.substr(i))}catch(e){return error()}}debug(\"decoded %s as %j\",str,p);return p}Decoder.prototype.destroy=function(){if(this.reconstructor){this.reconstructor.finishedReconstruction()}};function BinaryReconstructor(packet){this.reconPack=packet;this.buffers=[]}BinaryReconstructor.prototype.takeBinaryData=function(binData){this.buffers.push(binData);if(this.buffers.length==this.reconPack.attachments){var packet=binary.reconstructPacket(this.reconPack,this.buffers);this.finishedReconstruction();return packet}return null};BinaryReconstructor.prototype.finishedReconstruction=function(){this.reconPack=null;this.buffers=[]};function error(data){return{type:exports.ERROR,data:\"parser error\"}}},{\"./binary\":46,\"./is-buffer\":48,\"component-emitter\":49,debug:39,isarray:43,json3:50}],48:[function(_dereq_,module,exports){(function(global){module.exports=isBuf;function isBuf(obj){return global.Buffer&&global.Buffer.isBuffer(obj)||global.ArrayBuffer&&obj instanceof ArrayBuffer}}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{}],49:[function(_dereq_,module,exports){arguments[4][15][0].apply(exports,arguments)},{dup:15}],50:[function(_dereq_,module,exports){(function(global){(function(){var isLoader=typeof define===\"function\"&&define.amd;var objectTypes={\"function\":true,object:true};var freeExports=objectTypes[typeof exports]&&exports&&!exports.nodeType&&exports;var root=objectTypes[typeof window]&&window||this,freeGlobal=freeExports&&objectTypes[typeof module]&&module&&!module.nodeType&&typeof global==\"object\"&&global;if(freeGlobal&&(freeGlobal[\"global\"]===freeGlobal||freeGlobal[\"window\"]===freeGlobal||freeGlobal[\"self\"]===freeGlobal)){root=freeGlobal}function runInContext(context,exports){context||(context=root[\"Object\"]());exports||(exports=root[\"Object\"]());var Number=context[\"Number\"]||root[\"Number\"],String=context[\"String\"]||root[\"String\"],Object=context[\"Object\"]||root[\"Object\"],Date=context[\"Date\"]||root[\"Date\"],SyntaxError=context[\"SyntaxError\"]||root[\"SyntaxError\"],TypeError=context[\"TypeError\"]||root[\"TypeError\"],Math=context[\"Math\"]||root[\"Math\"],nativeJSON=context[\"JSON\"]||root[\"JSON\"];if(typeof nativeJSON==\"object\"&&nativeJSON){exports.stringify=nativeJSON.stringify;exports.parse=nativeJSON.parse}var objectProto=Object.prototype,getClass=objectProto.toString,isProperty,forEach,undef;var isExtended=new Date(-0xc782b5b800cec);try{isExtended=isExtended.getUTCFullYear()==-109252&&isExtended.getUTCMonth()===0&&isExtended.getUTCDate()===1&&isExtended.getUTCHours()==10&&isExtended.getUTCMinutes()==37&&isExtended.getUTCSeconds()==6&&isExtended.getUTCMilliseconds()==708}catch(exception){}function has(name){if(has[name]!==undef){return has[name]}var isSupported;if(name==\"bug-string-char-index\"){isSupported=\"a\"[0]!=\"a\"}else if(name==\"json\"){isSupported=has(\"json-stringify\")&&has(\"json-parse\")}else{var value,serialized='{\"a\":[1,true,false,null,\"\\\\u0000\\\\b\\\\n\\\\f\\\\r\\\\t\"]}';if(name==\"json-stringify\"){var stringify=exports.stringify,stringifySupported=typeof stringify==\"function\"&&isExtended;if(stringifySupported){(value=function(){return 1}).toJSON=value;try{stringifySupported=stringify(0)===\"0\"&&stringify(new Number)===\"0\"&&stringify(new String)=='\"\"'&&stringify(getClass)===undef&&stringify(undef)===undef&&stringify()===undef&&stringify(value)===\"1\"&&stringify([value])==\"[1]\"&&stringify([undef])==\"[null]\"&&stringify(null)==\"null\"&&stringify([undef,getClass,null])==\"[null,null,null]\"&&stringify({a:[value,true,false,null,\"\\x00\\b\\n\\f\\r\t\"]})==serialized&&stringify(null,value)===\"1\"&&stringify([1,2],null,1)==\"[\\n 1,\\n 2\\n]\"&&stringify(new Date(-864e13))=='\"-271821-04-20T00:00:00.000Z\"'&&stringify(new Date(864e13))=='\"+275760-09-13T00:00:00.000Z\"'&&stringify(new Date(-621987552e5))=='\"-000001-01-01T00:00:00.000Z\"'&&stringify(new Date(-1))=='\"1969-12-31T23:59:59.999Z\"'}catch(exception){stringifySupported=false}}isSupported=stringifySupported}if(name==\"json-parse\"){var parse=exports.parse;if(typeof parse==\"function\"){try{if(parse(\"0\")===0&&!parse(false)){value=parse(serialized);var parseSupported=value[\"a\"].length==5&&value[\"a\"][0]===1;if(parseSupported){try{parseSupported=!parse('\"\t\"')}catch(exception){}if(parseSupported){try{parseSupported=parse(\"01\")!==1}catch(exception){}}if(parseSupported){try{parseSupported=parse(\"1.\")!==1}catch(exception){}}}}}catch(exception){parseSupported=false}}isSupported=parseSupported}}return has[name]=!!isSupported}if(!has(\"json\")){var functionClass=\"[object Function]\",dateClass=\"[object Date]\",numberClass=\"[object Number]\",stringClass=\"[object String]\",arrayClass=\"[object Array]\",booleanClass=\"[object Boolean]\";var charIndexBuggy=has(\"bug-string-char-index\");if(!isExtended){var floor=Math.floor;var Months=[0,31,59,90,120,151,181,212,243,273,304,334];var getDay=function(year,month){return Months[month]+365*(year-1970)+floor((year-1969+(month=+(month>1)))/4)-floor((year-1901+month)/100)+floor((year-1601+month)/400)}}if(!(isProperty=objectProto.hasOwnProperty)){isProperty=function(property){var members={},constructor;if((members.__proto__=null,members.__proto__={toString:1},members).toString!=getClass){isProperty=function(property){var original=this.__proto__,result=property in(this.__proto__=null,this);this.__proto__=original;return result}}else{constructor=members.constructor;isProperty=function(property){var parent=(this.constructor||constructor).prototype;return property in this&&!(property in parent&&this[property]===parent[property])}}members=null;return isProperty.call(this,property)}}forEach=function(object,callback){var size=0,Properties,members,property;(Properties=function(){this.valueOf=0}).prototype.valueOf=0;members=new Properties;for(property in members){if(isProperty.call(members,property)){size++}}Properties=members=null;if(!size){members=[\"valueOf\",\"toString\",\"toLocaleString\",\"propertyIsEnumerable\",\"isPrototypeOf\",\"hasOwnProperty\",\"constructor\"];forEach=function(object,callback){var isFunction=getClass.call(object)==functionClass,property,length;var hasProperty=!isFunction&&typeof object.constructor!=\"function\"&&objectTypes[typeof object.hasOwnProperty]&&object.hasOwnProperty||isProperty;for(property in object){if(!(isFunction&&property==\"prototype\")&&hasProperty.call(object,property)){callback(property)}}for(length=members.length;property=members[--length];hasProperty.call(object,property)&&callback(property));}}else if(size==2){forEach=function(object,callback){var members={},isFunction=getClass.call(object)==functionClass,property;for(property in object){if(!(isFunction&&property==\"prototype\")&&!isProperty.call(members,property)&&(members[property]=1)&&isProperty.call(object,property)){callback(property)}}}}else{forEach=function(object,callback){var isFunction=getClass.call(object)==functionClass,property,isConstructor;for(property in object){if(!(isFunction&&property==\"prototype\")&&isProperty.call(object,property)&&!(isConstructor=property===\"constructor\")){callback(property)}}if(isConstructor||isProperty.call(object,property=\"constructor\")){callback(property)}}}return forEach(object,callback)};if(!has(\"json-stringify\")){var Escapes={92:\"\\\\\\\\\",34:'\\\\\"',8:\"\\\\b\",12:\"\\\\f\",10:\"\\\\n\",13:\"\\\\r\",9:\"\\\\t\"};var leadingZeroes=\"000000\";var toPaddedString=function(width,value){return(leadingZeroes+(value||0)).slice(-width)};var unicodePrefix=\"\\\\u00\";var quote=function(value){var result='\"',index=0,length=value.length,useCharIndex=!charIndexBuggy||length>10;var symbols=useCharIndex&&(charIndexBuggy?value.split(\"\"):value);for(;index<length;index++){var charCode=value.charCodeAt(index);switch(charCode){case 8:case 9:case 10:case 12:case 13:case 34:case 92:result+=Escapes[charCode];break;default:if(charCode<32){result+=unicodePrefix+toPaddedString(2,charCode.toString(16));break}result+=useCharIndex?symbols[index]:value.charAt(index)}}return result+'\"'};var serialize=function(property,object,callback,properties,whitespace,indentation,stack){var value,className,year,month,date,time,hours,minutes,seconds,milliseconds,results,element,index,length,prefix,result;try{value=object[property]}catch(exception){}if(typeof value==\"object\"&&value){className=getClass.call(value);if(className==dateClass&&!isProperty.call(value,\"toJSON\")){if(value>-1/0&&value<1/0){if(getDay){date=floor(value/864e5);for(year=floor(date/365.2425)+1970-1;getDay(year+1,0)<=date;year++);for(month=floor((date-getDay(year,0))/30.42);getDay(year,month+1)<=date;month++);date=1+date-getDay(year,month);time=(value%864e5+864e5)%864e5;hours=floor(time/36e5)%24;minutes=floor(time/6e4)%60;seconds=floor(time/1e3)%60;milliseconds=time%1e3}else{year=value.getUTCFullYear();month=value.getUTCMonth();date=value.getUTCDate();hours=value.getUTCHours();minutes=value.getUTCMinutes();seconds=value.getUTCSeconds();milliseconds=value.getUTCMilliseconds()}value=(year<=0||year>=1e4?(year<0?\"-\":\"+\")+toPaddedString(6,year<0?-year:year):toPaddedString(4,year))+\"-\"+toPaddedString(2,month+1)+\"-\"+toPaddedString(2,date)+\"T\"+toPaddedString(2,hours)+\":\"+toPaddedString(2,minutes)+\":\"+toPaddedString(2,seconds)+\".\"+toPaddedString(3,milliseconds)+\"Z\"}else{value=null}}else if(typeof value.toJSON==\"function\"&&(className!=numberClass&&className!=stringClass&&className!=arrayClass||isProperty.call(value,\"toJSON\"))){value=value.toJSON(property)}}if(callback){value=callback.call(object,property,value)}if(value===null){return\"null\"}className=getClass.call(value);if(className==booleanClass){return\"\"+value}else if(className==numberClass){return value>-1/0&&value<1/0?\"\"+value:\"null\"}else if(className==stringClass){return quote(\"\"+value)}if(typeof value==\"object\"){for(length=stack.length;length--;){if(stack[length]===value){throw TypeError()}}stack.push(value);results=[];prefix=indentation;indentation+=whitespace;if(className==arrayClass){for(index=0,length=value.length;index<length;index++){element=serialize(index,value,callback,properties,whitespace,indentation,stack);results.push(element===undef?\"null\":element)}result=results.length?whitespace?\"[\\n\"+indentation+results.join(\",\\n\"+indentation)+\"\\n\"+prefix+\"]\":\"[\"+results.join(\",\")+\"]\":\"[]\"}else{forEach(properties||value,function(property){var element=serialize(property,value,callback,properties,whitespace,indentation,stack);if(element!==undef){results.push(quote(property)+\":\"+(whitespace?\" \":\"\")+element)}});result=results.length?whitespace?\"{\\n\"+indentation+results.join(\",\\n\"+indentation)+\"\\n\"+prefix+\"}\":\"{\"+results.join(\",\")+\"}\":\"{}\"}stack.pop();return result}};exports.stringify=function(source,filter,width){var whitespace,callback,properties,className;if(objectTypes[typeof filter]&&filter){if((className=getClass.call(filter))==functionClass){callback=filter}else if(className==arrayClass){properties={};for(var index=0,length=filter.length,value;index<length;value=filter[index++],(className=getClass.call(value),className==stringClass||className==numberClass)&&(properties[value]=1));}}if(width){if((className=getClass.call(width))==numberClass){if((width-=width%1)>0){for(whitespace=\"\",width>10&&(width=10);whitespace.length<width;whitespace+=\" \");}}else if(className==stringClass){whitespace=width.length<=10?width:width.slice(0,10)}}return serialize(\"\",(value={},value[\"\"]=source,value),callback,properties,whitespace,\"\",[])}}if(!has(\"json-parse\")){var fromCharCode=String.fromCharCode;var Unescapes={92:\"\\\\\",34:'\"',47:\"/\",98:\"\\b\",116:\"\t\",110:\"\\n\",102:\"\\f\",114:\"\\r\"};var Index,Source;var abort=function(){Index=Source=null;throw SyntaxError()};var lex=function(){var source=Source,length=source.length,value,begin,position,isSigned,charCode;while(Index<length){charCode=source.charCodeAt(Index);switch(charCode){case 9:case 10:case 13:case 32:Index++;break;case 123:case 125:case 91:case 93:case 58:case 44:value=charIndexBuggy?source.charAt(Index):source[Index];Index++;return value;case 34:for(value=\"@\",Index++;Index<length;){charCode=source.charCodeAt(Index);if(charCode<32){abort()}else if(charCode==92){charCode=source.charCodeAt(++Index);switch(charCode){case 92:case 34:case 47:case 98:case 116:case 110:case 102:case 114:value+=Unescapes[charCode];Index++;break;case 117:begin=++Index;for(position=Index+4;Index<position;Index++){charCode=source.charCodeAt(Index);if(!(charCode>=48&&charCode<=57||charCode>=97&&charCode<=102||charCode>=65&&charCode<=70)){abort()}}value+=fromCharCode(\"0x\"+source.slice(begin,Index));break;default:abort()}}else{if(charCode==34){break}charCode=source.charCodeAt(Index);begin=Index;while(charCode>=32&&charCode!=92&&charCode!=34){charCode=source.charCodeAt(++Index)}value+=source.slice(begin,Index)}}if(source.charCodeAt(Index)==34){Index++;return value}abort();default:begin=Index;if(charCode==45){isSigned=true;charCode=source.charCodeAt(++Index)}if(charCode>=48&&charCode<=57){if(charCode==48&&(charCode=source.charCodeAt(Index+1),charCode>=48&&charCode<=57)){abort()}isSigned=false;for(;Index<length&&(charCode=source.charCodeAt(Index),charCode>=48&&charCode<=57);Index++);if(source.charCodeAt(Index)==46){position=++Index;for(;position<length&&(charCode=source.charCodeAt(position),charCode>=48&&charCode<=57);position++);if(position==Index){abort()}Index=position}charCode=source.charCodeAt(Index);if(charCode==101||charCode==69){charCode=source.charCodeAt(++Index);if(charCode==43||charCode==45){Index++}for(position=Index;position<length&&(charCode=source.charCodeAt(position),charCode>=48&&charCode<=57);position++);if(position==Index){abort()}Index=position}return+source.slice(begin,Index)}if(isSigned){abort()}if(source.slice(Index,Index+4)==\"true\"){Index+=4;return true}else if(source.slice(Index,Index+5)==\"false\"){Index+=5;return false}else if(source.slice(Index,Index+4)==\"null\"){Index+=4;return null}abort()}}return\"$\"};var get=function(value){var results,hasMembers;if(value==\"$\"){abort()}if(typeof value==\"string\"){if((charIndexBuggy?value.charAt(0):value[0])==\"@\"){return value.slice(1)}if(value==\"[\"){results=[];for(;;hasMembers||(hasMembers=true)){value=lex();if(value==\"]\"){break}if(hasMembers){if(value==\",\"){value=lex();if(value==\"]\"){abort()}}else{abort()}}if(value==\",\"){abort()}results.push(get(value))}return results}else if(value==\"{\"){results={};for(;;hasMembers||(hasMembers=true)){value=lex();if(value==\"}\"){break}if(hasMembers){if(value==\",\"){value=lex();if(value==\"}\"){abort()}}else{abort()}}if(value==\",\"||typeof value!=\"string\"||(charIndexBuggy?value.charAt(0):value[0])!=\"@\"||lex()!=\":\"){abort()}results[value.slice(1)]=get(lex())\n}return results}abort()}return value};var update=function(source,property,callback){var element=walk(source,property,callback);if(element===undef){delete source[property]}else{source[property]=element}};var walk=function(source,property,callback){var value=source[property],length;if(typeof value==\"object\"&&value){if(getClass.call(value)==arrayClass){for(length=value.length;length--;){update(value,length,callback)}}else{forEach(value,function(property){update(value,property,callback)})}}return callback.call(source,property,value)};exports.parse=function(source,callback){var result,value;Index=0;Source=\"\"+source;result=get(lex());if(lex()!=\"$\"){abort()}Index=Source=null;return callback&&getClass.call(callback)==functionClass?walk((value={},value[\"\"]=result,value),\"\",callback):result}}}exports[\"runInContext\"]=runInContext;return exports}if(freeExports&&!isLoader){runInContext(root,freeExports)}else{var nativeJSON=root.JSON,previousJSON=root[\"JSON3\"],isRestored=false;var JSON3=runInContext(root,root[\"JSON3\"]={noConflict:function(){if(!isRestored){isRestored=true;root.JSON=nativeJSON;root[\"JSON3\"]=previousJSON;nativeJSON=previousJSON=null}return JSON3}});root.JSON={parse:JSON3.parse,stringify:JSON3.stringify}}if(isLoader){define(function(){return JSON3})}}).call(this)}).call(this,typeof self!==\"undefined\"?self:typeof window!==\"undefined\"?window:typeof global!==\"undefined\"?global:{})},{}],51:[function(_dereq_,module,exports){module.exports=toArray;function toArray(list,index){var array=[];index=index||0;for(var i=index||0;i<list.length;i++){array[i-index]=list[i]}return array}},{}]},{},[31])(31)});\n\n    \n      ;var weight = document.getElementById('weight');\n      var socket = io('http://192.168.6.155:4001');\n      socket.on('getWeight', function(msg) {\n        weight.innerHTML = msg;\n    \n      }); \n    }, 1000);\n    </script>\n\n  </body>\n</html>\n","x":410,"y":520,"wires":[["c73f9d6f.4a58d"]]},{"id":"c73f9d6f.4a58d","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":630,"y":520,"wires":[]},{"id":"91ee6625.9c0458","type":"switch","z":"6ef4c562.c6f8bc","name":"Logging","property":"log","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":760,"y":240,"wires":[["a07053a8.9a2b5","acc5ee07.e7259"]]},{"id":"73bed8ea.4e0db8","type":"inject","z":"6ef4c562.c6f8bc","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":70,"y":80,"wires":[["fb4c59a8.9fa268"]]},{"id":"cf4909e1.ddc708","type":"function","z":"6ef4c562.c6f8bc","name":"CONFIG","func":"var config;\n\nconfig = {\n    'scale':'vesa',\n    'deltaWeight':250,\n    'sizeOfArrayOfWeights':5,\n    'inaccuracy':60\n}\n \nflow.set('config',config);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["5aeede45.ddd26"]]},{"id":"8ee435e6.860b08","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":718,"y":80,"wires":[]},{"id":"d226b229.3ade6","type":"comment","z":"6ef4c562.c6f8bc","name":"INITIALIZING","info":"","x":90,"y":40,"wires":[]},{"id":"bec8ccfd.35584","type":"ui_gauge","z":"6ef4c562.c6f8bc","name":"","group":"45516e85.612dc","order":3,"width":0,"height":0,"gtype":"donut","title":" ","label":".","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"x":550,"y":320,"wires":[]},{"id":"b531d76c.6965d8","type":"function","z":"6ef4c562.c6f8bc","name":"MAKE PAGE","func":"return msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["8da2ab93.ff1678"]]},{"id":"e92c1c24.25bb4","type":"comment","z":"6ef4c562.c6f8bc","name":"TRAFFIC LIGHT","info":"!","x":900,"y":20,"wires":[]},{"id":"a0f7f0da.ed9cd","type":"function","z":"6ef4c562.c6f8bc","name":"STATUSZERO","func":"var UID = msg.req.query.reader;\nvar lastUID = flow.get('lastUID');\nvar zero    = flow.get('zero');\n\nif (UID!==lastUID && !zero) \n{\n    msg.statusZero = false;    \n} else {\n    msg.statusZero = true;\n   flow.set('zero',false);\n   flow.set('lastUID',UID);\n}\n\nmsg.uid = UID; \n\nmsg.payload = zero;\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["91ee6625.9c0458","2ffe4529.32ba0a"]]},{"id":"a07053a8.9a2b5","type":"function","z":"6ef4c562.c6f8bc","name":"Logging to table","func":"var table = flow.get('table');\nvar currentWeight = flow.get('currentWeight');\nvar obj = {\n    'datetime': new Date(),\n    'uid': msg.uid,\n    'weight': currentWeight\n};\n\ntable.push(obj);\n\nflow.set('table',table);\nflow.set('lastWeight',currentWeight);\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":280,"wires":[["d8f517c5.ca2ce8","5e169072.9359a"]]},{"id":"370b603.90110a","type":"ui_chart","z":"6ef4c562.c6f8bc","name":"","group":"45516e85.612dc","order":2,"width":0,"height":0,"label":"   5 ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"80000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":550,"y":360,"wires":[[],[]]},{"id":"bf7c094a.1a3e08","type":"function","z":"6ef4c562.c6f8bc","name":"LAST WEIGHT","func":"var lastWeight    = flow.get('lastWeight');\nvar currentWeight = flow.get('currentWeight');\nvar deltaWeight   = flow.get('config').deltaWeight;\n\nvar log = 0;\nif ((lastWeight - currentWeight)>deltaWeight || (lastWeight - currentWeight) < -deltaWeight){\n    log = 1;\n} else if( lastWeight!==0 && currentWeight === 0){\n    log = 1;\n} else {\n    log = 0;\n}\n\nif (log){\n    if (currentWeight > lastWeight){\n        flow.set('in',true);\n        flow.set('out',false);\n    }else{\n        flow.set('in',false);\n        flow.set('out',true);\n    } \n}else{\n    flow.set('in',false);\n    flow.set('out',false);\n}\n\nif (currentWeight === 0){\n    flow.set('zero',true);\n} \n\nmsg.log = log;\nmsg.uid = '';\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["91ee6625.9c0458"]]},{"id":"2ffe4529.32ba0a","type":"function","z":"6ef4c562.c6f8bc","name":"MAKE BODY","func":"msg.payload = {\n    weight:flow.get('currentWeight'),\n    status:msg.statusZero,\n    stable:flow.get('stability'),    \n    perimetr:flow.get('perimetrStatus')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["2a59a354.85b2bc"]]},{"id":"2a59a354.85b2bc","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":730,"y":440,"wires":[]},{"id":"d8f517c5.ca2ce8","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"false","x":1170,"y":280,"wires":[]},{"id":"acc5ee07.e7259","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"13909284.37636d","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":570,"y":159,"wires":[]},{"id":"43283027.290c6","type":"function","z":"6ef4c562.c6f8bc","name":"STABLE","func":"var arrayOfWeights       = flow.get('arrayOfWeights');\nvar sizeOfArrayOfWeights = flow.get('config').sizeOfArrayOfWeights;\nvar inaccuracy           = flow.get('config').inaccuracy;\nvar size = arrayOfWeights.length - 1 - sizeOfArrayOfWeights;\n\narrayOfWeights.push(msg.payload);\n\nif (size > 0){\n    \n    flow.set('stability',true);\n    \n    for (var i = 0; i <= sizeOfArrayOfWeights; i++ ){\n        var ai = (arrayOfWeights.length - 1 - i);\n        var bi = (ai - 1);\n        var a = arrayOfWeights[ai];\n        var b = arrayOfWeights[bi];\n        if ((a-b)>inaccuracy || (a-b)<-inaccuracy){\n            flow.set('stability',false);\n            break;\n        }\n    }\n    \n}else {\n    flow.set('stability',false);\n}\n\nflow.set('arrayOfWeights',arrayOfWeights);\n\nmsg.payload = flow.get('stability');\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["b88fabfc.88ea58"]]},{"id":"b88fabfc.88ea58","type":"ui_text","z":"6ef4c562.c6f8bc","group":"45516e85.612dc","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":720,"y":280,"wires":[]},{"id":"5aeede45.ddd26","type":"function","z":"6ef4c562.c6f8bc","name":" ","func":"flow.set('inputString',String.fromCharCode(0x3d)); //  ,     ,  \n//flow.set('inputString',\"=\");\nflow.set('parser',function(v){\n        //  ,     \n     /*  var ves_b1 = v[4];\n       var ves_b2 = v[5];\n       var ves_b3 = v[6];\n       var ves_b4 = v[7];\n       var ves_b5 = v[8];\n       var ves_b6 = v[9];    \n       var ves_b7 = v[10]; \n       \n       if(ves_b2 == 58){\n           ves_b2 = \"\";\n       }\n       \n        if(ves_b3 == 58){\n           ves_b3 = \"\";\n       }\n       \n        if(ves_b4 == 58){\n           ves_b4 = \"\";\n       }\n       \n       \n        if(ves_b5 == 58){\n           ves_b5 = \"\";\n       }\n      \n       if(ves_b6 == 58){\n           ves_b6 = \"\";\n       }\n      \n       var vy = String.fromCharCode(ves_b2,ves_b3,ves_b4,ves_b5,ves_b6 );\n       vy = vy + \"0\";\n       */\n       /*\n       var six_tt = v.substring(5,6);\n       var five = v.substring(6,7);\n       var four = v.substring(7,8);\n       var three = v.substring(8,9);\n       var two = v.substring(9,10);\n       var one = v.substring(10,11);\n       \n       if( six_tt === \":\" || six_tt === \";\" ){\n            six_tt = 0;\n       }\n       if( five === \":\" || five === \";\" ){\n            five = 0;\n       }\n       if( four === \":\" || four === \";\" ){\n            four = 0;\n       }\n       if( three === \":\"|| three === \";\" ){\n            three = 0;\n       }\n       if( two === \":\" || two === \";\" ){\n            two = 0;\n       }\n       if( one === \":\" || one === \";\" ){\n            one = 0;\n       }\n       \n       var c_six_tt = (Number(six_tt)) * 100000;\n       var c_five = (Number(five)) * 10000;\n       var c_four = (Number(four)) * 1000;\n       var c_three = (Number(three)) * 100;\n       var c_two = (Number(two)) * 10;\n       var c_one = (Number(one)) * 1;\n       \n       \n       if( two === \";\" ||  three === \";\" ){\n            v =  (c_one  + c_two + c_three + c_four + c_five + c_six_tt) * (-1);   \n       }else{\n       v =  c_one  + c_two + c_three + c_four + c_five + c_six_tt;\n       }*/\n       v = v;\n        return Number(v);\n       //return six_tt ;\n        }\n  );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["8ee435e6.860b08"]]},{"id":"fb4c59a8.9fa268","type":"function","z":"6ef4c562.c6f8bc","name":"INIT","func":"flow.set('currentWeight',0);\nflow.set('perimetrStatus',0);\nflow.set('stability',true);\nflow.set('zero',false);\nflow.set('lastUID','');\nflow.set('lastWeight',0);\nflow.set('arrayOfWeights',[]);\nflow.set('table',[]);\nflow.set('log',0);\nflow.set('in',false);\nflow.set('out',true);\n  \n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["cf4909e1.ddc708"]]},{"id":"5e169072.9359a","type":"ui_template","z":"6ef4c562.c6f8bc","group":"56c2514f.8451d","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The logger is off</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1160,"y":340,"wires":[[]]},{"id":"531cb3e.b01b24c","type":"inject","z":"6ef4c562.c6f8bc","name":"","topic":"","payload":"arrayOfWeights","payloadType":"flow","repeat":"","crontab":"","once":false,"x":130,"y":640,"wires":[["fb3c9358.cc09f"]]},{"id":"fb3c9358.cc09f","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":true,"console":"false","complete":"false","x":330,"y":640,"wires":[]},{"id":"cf282122.c6ad9","type":"modbus-read","z":"6ef4c562.c6f8bc","name":"0-14","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"15","rate":"2","rateUnit":"s","server":"5d031c95.f8e3d4","x":55,"y":230,"wires":[["254566df.97ca9a","d50c1a9.1a57de8"],[]]},{"id":"254566df.97ca9a","type":"function","z":"6ef4c562.c6f8bc","name":"","func":"msg.payload = [msg.payload[1], msg.payload[2]];\nvar sumweight = msg.payload[11];\nflow.set('sumweight',sumweight);\nreturn msg;","outputs":1,"noerr":0,"x":116,"y":277,"wires":[["1b836279.182b0e"]]},{"id":"1b836279.182b0e","type":"function","z":"6ef4c562.c6f8bc","name":"conver_to int","func":"var buf = new ArrayBuffer(2);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint16Array(buf);\n\nintView[0] = msg.payload[0]; //low\nintView[1] = msg.payload[1]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":321,"wires":[["8c40fdfd.53bb5"]]},{"id":"981e4c7e.d42a4","type":"modbus-read","z":"6ef4c562.c6f8bc","name":"15 - 29","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"15","quantity":"15","rate":"2","rateUnit":"s","server":"5d031c95.f8e3d4","x":145.6071434020996,"y":1268.39284324646,"wires":[["6d5c0690.b2f6c8","978bf9df.e1b008"],[]]},{"id":"6d5c0690.b2f6c8","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":371.89284896850586,"y":1275.2499885559082,"wires":[]},{"id":"d0cf620d.4cf79","type":"modbus-read","z":"6ef4c562.c6f8bc","name":"30 - 44","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"30","quantity":"15","rate":"2","rateUnit":"s","server":"5d031c95.f8e3d4","x":147.3214225769043,"y":1422.821452140808,"wires":[["26012883.1f5ba8","49c30194.2487d"],[]]},{"id":"26012883.1f5ba8","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":339.1785545349121,"y":1405.5357217788696,"wires":[]},{"id":"b558865a.5ab7c8","type":"function","z":"6ef4c562.c6f8bc","name":"conver_to int","func":"var buf = new ArrayBuffer(2);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint16Array(buf);\n\nintView[0] = msg.payload[0]; //low\nintView[1] = msg.payload[1]; //high\n\nmsg.payload = parseInt(fltView[0]);\nvar total_weight = parseInt(fltView[0]);\nflow.set('total_weight',total_weight);\nreturn msg;","outputs":1,"noerr":0,"x":520.1785697937012,"y":1207.5357112884521,"wires":[["3d506b1d.e60a04"]]},{"id":"3d506b1d.e60a04","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":690.6071662902832,"y":1204.5357093811035,"wires":[]},{"id":"978bf9df.e1b008","type":"function","z":"6ef4c562.c6f8bc","name":"Upakovka","func":"var num_portsiy  = msg.payload[0];\nvar num_doz_mat  = msg.payload[4];\nvar num_recipe = msg.payload[5];\nvar all_load_weight = msg.payload[6];\nvar all_zadanoe_znach = msg.payload[8] ;\nvar m1_utog = msg.payload[10] ;\nvar m1_zad_znach = msg.payload[11] ;\nvar m2_utog = msg.payload[14] ;\n\n\nflow.set(\"num_portsiy\", num_portsiy);\nflow.set(\"num_doz_mat\", num_doz_mat);\nflow.set(\"num_recipe\", num_recipe);\nflow.set(\"all_load_weight\", all_load_weight);\nflow.set(\"all_zadanoe_znach\", all_zadanoe_znach);\nflow.set(\"m1_utog\", m1_utog);\nflow.set(\"m1_zad_znach\", m1_zad_znach);\nflow.set(\"m2_utog\", m2_utog);\nreturn msg;","outputs":1,"noerr":0,"x":343.4642906188965,"y":1322.9642753601074,"wires":[["bacce8ba.f52548"]]},{"id":"bacce8ba.f52548","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":536.3214225769043,"y":1322.1071395874023,"wires":[]},{"id":"49c30194.2487d","type":"function","z":"6ef4c562.c6f8bc","name":"Num_portsiy","func":"var m2_zad_znach = msg.payload[0] ;\nvar m3_utog = msg.payload[3] ;\nvar m3_zad_znach = msg.payload[4] ;\nvar m4_utog = msg.payload[7] ;\nvar m4_zad_znach = msg.payload[8] ;\n\n\n\n\nflow.set(\"m2_zad_znach\", m2_zad_znach);\nflow.set(\"m3_utog\", m3_utog);\nflow.set(\"m3_zad_znach\", m3_zad_znach);\nflow.set(\"m4_utog\", m4_utog);\nflow.set(\"m4_zad_znach\", m4_zad_znach);\n\nreturn msg;","outputs":1,"noerr":0,"x":330.32141494750977,"y":1453.8214445114136,"wires":[[]]},{"id":"8b912fc1.87f8f","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getTotalWeight","method":"get","swaggerDoc":"","x":314,"y":1596,"wires":[["bc183cc0.f4d73"]]},{"id":"bc183cc0.f4d73","type":"function","z":"6ef4c562.c6f8bc","name":"FAST WEIGHT","func":"msg.payload = {\n    weight_total: flow.get('total_weight')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":584,"y":1596,"wires":[["26aa6476.b17a0c"]]},{"id":"26aa6476.b17a0c","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":734,"y":1596,"wires":[]},{"id":"988d8852.51a048","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getNumPortsiy","method":"get","swaggerDoc":"","x":325.42857360839844,"y":1654.5714111328125,"wires":[["f10d8ef8.8a302"]]},{"id":"f10d8ef8.8a302","type":"function","z":"6ef4c562.c6f8bc","name":"num_portsiy","func":"msg.payload = {\n    num_portsiy: flow.get('num_portsiy')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":585.4285736083984,"y":1654.5714111328125,"wires":[["21c1eb6e.a9f574"]]},{"id":"21c1eb6e.a9f574","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":745.4285736083984,"y":1654.5714111328125,"wires":[]},{"id":"7ddc5f.c141d3a","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getNumRecipe","method":"get","swaggerDoc":"","x":306.8571472167969,"y":1721.7142944335938,"wires":[["eaf0f9e1.f7b3e8"]]},{"id":"eaf0f9e1.f7b3e8","type":"function","z":"6ef4c562.c6f8bc","name":"num_recipe","func":"msg.payload = {\n    num_recipe: flow.get('num_recipe')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":566.8571472167969,"y":1721.7142944335938,"wires":[["49c7cfc6.260a5"]]},{"id":"49c7cfc6.260a5","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":726.8571472167969,"y":1721.7142944335938,"wires":[]},{"id":"2b4d2fa5.23e22","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getAllLoadWeight","method":"get","swaggerDoc":"","x":312.57142639160156,"y":1806,"wires":[["2e86179d.2418d8"]]},{"id":"2e86179d.2418d8","type":"function","z":"6ef4c562.c6f8bc","name":"all_load_weight","func":"msg.payload = {\n    all_load_weight: flow.get('all_load_weight')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":572.5714263916016,"y":1806,"wires":[["730e49d9.fdabe8"]]},{"id":"730e49d9.fdabe8","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":722.5714263916016,"y":1806,"wires":[]},{"id":"a86950b1.8874b","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getAllZadanoeZnach","method":"get","swaggerDoc":"","x":329.8928527832031,"y":1892.25,"wires":[["1394a67.4c6255a"]]},{"id":"1394a67.4c6255a","type":"function","z":"6ef4c562.c6f8bc","name":"all_zadanoe_znach","func":"msg.payload = {\n    all_zadanoe_znach: flow.get('all_zadanoe_znach')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":633.6428604125977,"y":1891.0000114440918,"wires":[["5682dc2f.175e74"]]},{"id":"5682dc2f.175e74","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":809.8928623199463,"y":1892.2500114440918,"wires":[]},{"id":"15cfd59.2b1852a","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM1Utog","method":"get","swaggerDoc":"","x":292.3928527832031,"y":1969.75,"wires":[["bbd0c7d1.e37f48"]]},{"id":"bbd0c7d1.e37f48","type":"function","z":"6ef4c562.c6f8bc","name":"m1_utog","func":"msg.payload = {\n    m1_utog: flow.get('m1_utog')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":596.1428604125977,"y":1968.5000114440918,"wires":[["f8999d99.76d3e"]]},{"id":"f8999d99.76d3e","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":802.3928623199463,"y":1969.7500114440918,"wires":[]},{"id":"e9f05d62.6ea85","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM2Utog","method":"get","swaggerDoc":"","x":293.6428527832031,"y":2024.75,"wires":[["d878238.054e4e"]]},{"id":"d878238.054e4e","type":"function","z":"6ef4c562.c6f8bc","name":"m2_utog","func":"msg.payload = {\n    m2_utog: flow.get('m2_utog')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":597.3928604125977,"y":2023.5000114440918,"wires":[["53d11264.381b5c"]]},{"id":"53d11264.381b5c","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":803.6428623199463,"y":2024.7500114440918,"wires":[]},{"id":"2dd9e7de.871528","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM3Utog","method":"get","swaggerDoc":"","x":293.6428527832031,"y":2074.75,"wires":[["6ff33f5c.c1973"]]},{"id":"6ff33f5c.c1973","type":"function","z":"6ef4c562.c6f8bc","name":"m3_utog","func":"msg.payload = {\n    m3_utog: flow.get('m3_utog')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":597.3928604125977,"y":2073.500011444092,"wires":[["a749da5.0111a28"]]},{"id":"a749da5.0111a28","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":803.6428623199463,"y":2074.750011444092,"wires":[]},{"id":"984777fd.528f38","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM4Utog","method":"get","swaggerDoc":"","x":299.8928527832031,"y":2123.5,"wires":[["7b6a89a4.866dc8"]]},{"id":"7b6a89a4.866dc8","type":"function","z":"6ef4c562.c6f8bc","name":"m4_utog","func":"msg.payload = {\n    m4_utog: flow.get('m4_utog')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":603.6428604125977,"y":2122.250011444092,"wires":[["d36d501b.73a8a"]]},{"id":"d36d501b.73a8a","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":809.8928623199463,"y":2123.500011444092,"wires":[]},{"id":"7e0f805b.ad42","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM1ZadZnach","method":"get","swaggerDoc":"","x":324.8928527832031,"y":2188.5,"wires":[["f952875e.f59b38"]]},{"id":"f952875e.f59b38","type":"function","z":"6ef4c562.c6f8bc","name":"m1_zad_znach","func":"msg.payload = {\n    m1_zad_znach: flow.get('m1_zad_znach')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":638.6428604125977,"y":2187.250011444092,"wires":[["c1aaab8e.e7fca8"]]},{"id":"c1aaab8e.e7fca8","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":824.8928623199463,"y":2188.500011444092,"wires":[]},{"id":"cc230a02.f37388","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM2ZadZnach","method":"get","swaggerDoc":"","x":302.3928527832031,"y":2247.25,"wires":[["d77ecd62.464b8"]]},{"id":"d77ecd62.464b8","type":"function","z":"6ef4c562.c6f8bc","name":"m2_zad_znach","func":"msg.payload = {\n    m2_zad_znach: flow.get('m2_zad_znach')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":616.1428604125977,"y":2246.000011444092,"wires":[["dd33f52a.bd47b8"]]},{"id":"dd33f52a.bd47b8","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":802.3928623199463,"y":2247.250011444092,"wires":[]},{"id":"9a10a8e5.53efe8","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM3ZadZnach","method":"get","swaggerDoc":"","x":286.1428527832031,"y":2306,"wires":[["1851a9ba.0b5c66"]]},{"id":"1851a9ba.0b5c66","type":"function","z":"6ef4c562.c6f8bc","name":"m3_zad_znach","func":"msg.payload = {\n    m3_zad_znach: flow.get('m3_zad_znach')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":599.8928604125977,"y":2304.750011444092,"wires":[["3fa19c79.970174"]]},{"id":"3fa19c79.970174","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":786.1428623199463,"y":2306.000011444092,"wires":[]},{"id":"4d4bc3b7.9a9f0c","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getM4ZadZnach","method":"get","swaggerDoc":"","x":286.1428527832031,"y":2372.25,"wires":[["18200fd7.0d627"]]},{"id":"18200fd7.0d627","type":"function","z":"6ef4c562.c6f8bc","name":"m4_zad_znach","func":"msg.payload = {\n    m4_zad_znach: flow.get('m4_zad_znach')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":599.8928604125977,"y":2371.000011444092,"wires":[["79c7485b.3fb908"]]},{"id":"79c7485b.3fb908","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":786.1428623199463,"y":2372.250011444092,"wires":[]},{"id":"d50c1a9.1a57de8","type":"debug","z":"6ef4c562.c6f8bc","name":"","active":false,"console":"false","complete":"payload","x":371,"y":361,"wires":[]},{"id":"fd70c8f2.327908","type":"modbus-read","z":"6ef4c562.c6f8bc","name":"0-14","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"15","rate":"2.3","rateUnit":"s","server":"5d031c95.f8e3d4","x":166,"y":1174,"wires":[["a78c591.44a0da8"],[]]},{"id":"a78c591.44a0da8","type":"function","z":"6ef4c562.c6f8bc","name":"","func":"msg.payload = [msg.payload[11] , msg.payload[12]] ;\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":1188,"wires":[["b558865a.5ab7c8"]]},{"id":"599bb380.1b7b8c","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":281.5477294921875,"y":68.45239067077637,"wires":[["aff42371.29467"]]},{"id":"aff42371.29467","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"//var order = msg.payload;\n \n var order = \n {\n   val: 4,\n };\n \nflow.set('order',order);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":503.9763984680176,"y":134.19902110099792,"wires":[["e64a30a0.ba9fd"]]},{"id":"e64a30a0.ba9fd","type":"function","z":"c8d11d94.4d1d9","name":"1","func":"var order = flow.get('order');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': order.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 15 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":639.8020248413086,"y":136.73869490623474,"wires":[["d4888592.f5ae58"]]},{"id":"d4888592.f5ae58","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":800.135196685791,"y":135.9288740158081,"wires":[["b738eb69.8ba808"],[]]},{"id":"c10acaf7.ddcea8","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":489.32551193237305,"y":57.34133338928223,"wires":[]},{"id":"b738eb69.8ba808","type":"debug","z":"c8d11d94.4d1d9","name":"","active":true,"console":"false","complete":"payload","x":982.5795631408691,"y":137.19875812530518,"wires":[]},{"id":"64df873.137c578","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/sendNumberPorts","method":"post","swaggerDoc":"","x":191.5477294921875,"y":134.16666984558105,"wires":[["aff42371.29467","c10acaf7.ddcea8"]]},{"id":"66a7de9b.7fec2","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var doz_mat = msg.payload;\n /*\n var doz_mat = \n {\n   val: 4,\n };\n */\nflow.set('doz_mat',doz_mat);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":512.976318359375,"y":275.59525871276855,"wires":[["3005b85b.3a2628"]]},{"id":"4157fdd6.52dee4","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":290.5476493835449,"y":209.848628282547,"wires":[["66a7de9b.7fec2"]]},{"id":"3005b85b.3a2628","type":"function","z":"c8d11d94.4d1d9","name":"19","func":"var doz_mat = flow.get('doz_mat');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': doz_mat.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 19 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":648.801944732666,"y":278.13493251800537,"wires":[["85449efd.86be9"]]},{"id":"85449efd.86be9","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":809.1351165771484,"y":277.32511162757874,"wires":[["c4a53c31.a419e"],[]]},{"id":"b7e25741.557c88","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":498.32543182373047,"y":198.73757100105286,"wires":[]},{"id":"c4a53c31.a419e","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":991.5794830322266,"y":278.5949957370758,"wires":[]},{"id":"a6d096f2.3b3908","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var num_resept = msg.payload;\n /*\n var num_resept = \n {\n   val: 4,\n };\n */\nflow.set('num_resept',num_resept);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":518.6905517578125,"y":397.02381706237793,"wires":[["9e320bb0.f13888"]]},{"id":"5ea662ff.d7d74c","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":296.2618827819824,"y":331.2771866321564,"wires":[["a6d096f2.3b3908"]]},{"id":"9e320bb0.f13888","type":"function","z":"c8d11d94.4d1d9","name":"20","func":"var num_resept = flow.get('num_resept');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': num_resept.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 20 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":654.5161781311035,"y":399.56349086761475,"wires":[["34426434.b495dc"]]},{"id":"34426434.b495dc","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":814.8493499755859,"y":398.7536699771881,"wires":[["dbc15c90.7a1d8"],[]]},{"id":"c6851289.45e13","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":504.03966522216797,"y":320.16612935066223,"wires":[]},{"id":"dbc15c90.7a1d8","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":997.2937164306641,"y":400.0235540866852,"wires":[]},{"id":"dd2cf25c.35215","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var znachM1_zadan = msg.payload;\n /*\n var znachM1_zadan = \n {\n   val: 4,\n };\n */\nflow.set('znachM1_zadan',znachM1_zadan);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":514.40478515625,"y":601.3095531463623,"wires":[["3cb18c92.1a6c24"]]},{"id":"e057ad4c.69244","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":291.9761161804199,"y":535.5629227161407,"wires":[["dd2cf25c.35215"]]},{"id":"3cb18c92.1a6c24","type":"function","z":"c8d11d94.4d1d9","name":"26","func":"var znachM1_zadan = flow.get('znachM1_zadan');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': znachM1_zadan.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 26 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":650.230411529541,"y":603.8492269515991,"wires":[["33dd7739.f4caa8"]]},{"id":"33dd7739.f4caa8","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":810.5635833740234,"y":603.0394060611725,"wires":[["a1e6153a.dba308"],[]]},{"id":"7ac794b1.f27b2c","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":499.75389862060547,"y":524.4518654346466,"wires":[]},{"id":"a1e6153a.dba308","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":993.0079498291016,"y":604.3092901706696,"wires":[]},{"id":"7b89a8cc.04c988","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var znachM2_zadan = msg.payload;\n /*\n var znachM2_zadan = \n {\n   val: 4,\n };\n */\nflow.set('znachM2_zadan',znachM2_zadan);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":505.8333740234375,"y":762.7381420135498,"wires":[["aa361774.a60308"]]},{"id":"6077b2ff.47256c","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":283.4047050476074,"y":696.9915115833282,"wires":[["7b89a8cc.04c988"]]},{"id":"aa361774.a60308","type":"function","z":"c8d11d94.4d1d9","name":"30","func":"var znachM2_zadan = flow.get('znachM2_zadan');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': znachM2_zadan.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 30 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":641.6590003967285,"y":765.2778158187866,"wires":[["f3fb19ca.f1b738"]]},{"id":"f3fb19ca.f1b738","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":801.9921722412109,"y":764.46799492836,"wires":[["ce1151eb.58b41"],[]]},{"id":"3f2a7c96.0450c4","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":491.18248748779297,"y":685.8804543018341,"wires":[]},{"id":"ce1151eb.58b41","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":984.4365386962891,"y":765.737879037857,"wires":[]},{"id":"ae901487.4099a8","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var znachM3_zadan = msg.payload;\n /*\n var znachM3_zadan = \n {\n   val: 4,\n };\n */\nflow.set('znachM3_zadan',znachM3_zadan);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":487.261962890625,"y":925.5952587127686,"wires":[["600d0f1a.131be"]]},{"id":"63bbcde9.beb264","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":264.8332939147949,"y":859.848628282547,"wires":[["ae901487.4099a8"]]},{"id":"600d0f1a.131be","type":"function","z":"c8d11d94.4d1d9","name":"34","func":"var znachM3_zadan = flow.get('znachM3_zadan');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': znachM3_zadan.znachM3_zadan, \n    'fc': 6, \n    'unitid': 1, \n    'address': 34 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":623.087589263916,"y":928.1349325180054,"wires":[["2972a20a.0cd4be"]]},{"id":"2972a20a.0cd4be","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":783.4207611083984,"y":927.3251116275787,"wires":[["78893376.7083cc"],[]]},{"id":"60e05589.9b052c","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":472.61107635498047,"y":848.7375710010529,"wires":[]},{"id":"78893376.7083cc","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":965.8651275634766,"y":928.5949957370758,"wires":[]},{"id":"170117fa.fee7b8","type":"function","z":"c8d11d94.4d1d9","name":"wirh_1C","func":"var znachM4_zadan = msg.payload;\n /*\n var znachM4_zadan = \n {\n   val: 4,\n };\n */\nflow.set('znachM4_zadan',znachM4_zadan);\nmsg.payload = \"\";\nreturn msg;","outputs":"1","noerr":0,"x":511.5477294921875,"y":1079.881025314331,"wires":[["c1d9443b.de0928"]]},{"id":"110db27a.f4ecde","type":"inject","z":"c8d11d94.4d1d9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":289.1190605163574,"y":1014.1343948841095,"wires":[["170117fa.fee7b8"]]},{"id":"c1d9443b.de0928","type":"function","z":"c8d11d94.4d1d9","name":"38","func":"var znachM4_zadan = flow.get('znachM4_zadan');\nmsg.req = '';\nmsg.res = '';\nmsg.payload = { \n    'value': znachM4_zadan.val, \n    'fc': 6, \n    'unitid': 1, \n    'address': 38 , \n    'quantity': 1 \n    \n} ;\nreturn msg;","outputs":1,"noerr":0,"x":647.3733558654785,"y":1082.4206991195679,"wires":[["aeeeacd7.c1dd5"]]},{"id":"aeeeacd7.c1dd5","type":"modbus-flex-write","z":"c8d11d94.4d1d9","name":"","showStatusActivities":false,"showErrors":false,"server":"5d031c95.f8e3d4","x":807.7065277099609,"y":1081.6108782291412,"wires":[["3dd1c22d.c65b7e"],[]]},{"id":"fdf97d6e.21a08","type":"http response","z":"c8d11d94.4d1d9","name":"send to 1C","x":496.89684295654297,"y":1003.0233376026154,"wires":[]},{"id":"3dd1c22d.c65b7e","type":"debug","z":"c8d11d94.4d1d9","name":"","active":false,"console":"false","complete":"payload","x":990.1508941650391,"y":1082.8807623386383,"wires":[]},{"id":"268abda1.9f0bf2","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/numberDozMat","method":"post","swaggerDoc":"","x":187.261962890625,"y":269.8809642791748,"wires":[["66a7de9b.7fec2","b7e25741.557c88"]]},{"id":"7d92a3bc.7f094c","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/numberResept","method":"post","swaggerDoc":"","x":217.261962890625,"y":407.02381706237793,"wires":[["a6d096f2.3b3908","c6851289.45e13"]]},{"id":"6af16705.fe8b98","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/zadZnachM1","method":"post","swaggerDoc":"","x":204.40476989746094,"y":604.1666669845581,"wires":[["7ac794b1.f27b2c","dd2cf25c.35215"]]},{"id":"286071d6.3dce1e","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/zadZnachM2","method":"post","swaggerDoc":"","x":222.23016357421875,"y":762.642765045166,"wires":[["7b89a8cc.04c988","3f2a7c96.0450c4"]]},{"id":"9ced5ac5.15e038","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/zadZnachM3","method":"post","swaggerDoc":"","x":209.37306213378906,"y":932.6428318023682,"wires":[["ae901487.4099a8","60e05589.9b052c"]]},{"id":"d7fa91c1.e3f54","type":"http in","z":"c8d11d94.4d1d9","name":"","url":"/zadZnachM4","method":"post","swaggerDoc":"","x":240.80152893066406,"y":1096.9286136627197,"wires":[["fdf97d6e.21a08","170117fa.fee7b8"]]},{"id":"809f9a34.575d48","type":"http in","z":"71005e31.cc51","name":"   1","url":"/getMethods","method":"get","swaggerDoc":"","x":286.6666564941406,"y":165,"wires":[["5ba8e38c.47536c"]]},{"id":"5ba8e38c.47536c","type":"template","z":"71005e31.cc51","name":"  ","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"source\":\"/api/platform\",\n    \"scales\":\"/scale2\",\n    \"methods\":[\n                {\n                    \"description\":\"     \",\n                    \"source\":\"/vesa/getWeight/status\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"weight\":13000,\n                        \"status\":true,\n                        \"stable\":false,\n                        \"perimetr\":true\n                        \n                    }\n                },\n                {\n                    \"description\":\"      \",\n                    \"source\":\"/vesa/getWeight\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"weight\":0,\n                        \"status\":true,\n                        \"stable\":true,\n                        \"perimetr\":true\n                        \n                        \n                    }\n                },\n                {\n                    \"description\":\"    HTML       \",\n                    \"source\":\"/vesa/socket\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \n                    }\n                },\n                {\n                    \"description\":\" \",\n                    \"source\":\"/vesa/getTotalWeight\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"weight_total\": 12345\n                    }\n                },\n                {\n                    \"description\":\"  \",\n                    \"source\":\"/vesa/getNumPortsiy\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"num_portsiy\":12345\n                    }\n                },\n                {\n                    \"description\":\" \",\n                    \"source\":\"/vesa/getNumRecipe\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"num_recipe\":12345\n                    }\n                },\n                {\n                    \"description\":\"  \",\n                    \"source\":\"/vesa/getNumDozMat\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"num_doz_mat\":12345\n                    }\n                },\n                {\n                    \"description\":\"  \",\n                    \"source\":\"/vesa/getAllLoadWeight\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"all_load_weight\":12345\n                    }\n                },\n                {\n                    \"description\":\"  \",\n                    \"source\":\"/vesa/getAllZadanoeZnach\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"all_zadanoe_znach\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M1\",\n                    \"source\":\"/vesa/getM1Utog\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m1_utog\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M2\",\n                    \"source\":\"/vesa/getM2Utog\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m2_utog\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M3\",\n                    \"source\":\"/vesa/getM3Utog\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m3_utog\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M4\",\n                    \"source\":\"/vesa/getM4Utog\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m4_utog\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M1\",\n                    \"source\":\"/vesa/getM1ZadZnach\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m1_zad_znach\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M2\",\n                    \"source\":\"/vesa/getM2ZadZnach\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m2_zad_znach\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M3\",\n                    \"source\":\"/vesa/getM3ZadZnach\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m3_zad_znach\":12345\n                    }\n                },\n                {\n                    \"description\":\"   M4\",\n                    \"source\":\"/vesa/getM4ZadZnach\",\n                    \"type\":\"GET\",\n                    \"out_body\":{\n                        \"m4_zad_znach\":12345\n                    }\n                },\n                {\n                    \"description\":\"   \",\n                    \"source\":\"/sendNumberPorts\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"   \",\n                    \"source\":\"/numberDozMat\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"  \",\n                    \"source\":\"/numberResept\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"    M1\",\n                    \"source\":\"/zadZnachM1\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"    M2\",\n                    \"source\":\"/zadZnachM2\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"    M3\",\n                    \"source\":\"/zadZnachM3\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                },\n                {\n                    \"description\":\"    M4\",\n                    \"source\":\"/zadZnachM4\",\n                    \"type\":\"POST\",\n                    \"in_body\":{\n                        \"val\": 2\n                    }\n                }\n                \n            ]\n            \n}","x":605.6706237792969,"y":163.4531409740448,"wires":[["b58cd0c3.79e96","aad6d85d.2e5de8"]]},{"id":"b58cd0c3.79e96","type":"http response","z":"71005e31.cc51","name":"","x":820.6627731323242,"y":164.22658801078796,"wires":[]},{"id":"aad6d85d.2e5de8","type":"debug","z":"71005e31.cc51","name":"","active":true,"console":"false","complete":"false","x":776.8762817382812,"y":288.2760474681854,"wires":[]},{"id":"e784f15b.b14e5","type":"http in","z":"6ef4c562.c6f8bc","name":"","url":"/vesa/getNumDozMat","method":"get","swaggerDoc":"","x":316.6666564941406,"y":1761.6666259765625,"wires":[["ddf490c5.e9c3f"]]},{"id":"ddf490c5.e9c3f","type":"function","z":"6ef4c562.c6f8bc","name":"num_doz_mat","func":"msg.payload = {\n    num_doz_mat: flow.get('num_doz_mat')\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":586.6666564941406,"y":1761.6666259765625,"wires":[["12a3f23b.e5103e"]]},{"id":"12a3f23b.e5103e","type":"http response","z":"6ef4c562.c6f8bc","name":"","x":736.6666564941406,"y":1761.6666259765625,"wires":[]}]
