Blagovishenka/bunkerni.js
[{"id":"ff7e1cc4.391a1","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"9ac39eef.62065","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"c6d19f47.118d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c6e1f336.20d75","type":"ui_group","z":"","name":"Default2","tab":"c6d19f47.118d8","disp":true,"width":"6"},{"id":"d08a37a1.a42db8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"a34c6b6a.abfd88","type":"ui_group","z":"","name":"Default","tab":"c6d19f47.118d8","disp":true,"width":"6"},{"id":"dc2d175f.fab798","type":"ui_group","z":"","name":"Стан зв'язку","tab":"c5e95b75.4a4828","disp":true,"width":"6"},{"id":"c5e95b75.4a4828","type":"ui_tab","z":"","name":"Smart Scales","icon":"dashboard"},{"id":"add33f68.812be","type":"modbus-read","z":"ff7e1cc4.391a1","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"9ac39eef.62065","x":120,"y":98.50000190734863,"wires":[["4c039a49.279124","25d23491.d576fc"],[]]},{"id":"4c039a49.279124","type":"function","z":"ff7e1cc4.391a1","name":"netto","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nvar trs = flow.get('netto');\n\nif(trs >= 10000){\n    flow.set('netto',0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":320.00000381469727,"y":127.25000190734863,"wires":[[]]},{"id":"3771a5ae.0b6f3a","type":"modbus-read","z":"ff7e1cc4.391a1","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1","rateUnit":"s","server":"9ac39eef.62065","x":112.5,"y":172.25000190734863,"wires":[["6f1be5e.359ef1c","6fa74fb6.d5d85","3b23339d.1f6c3c"],[]]},{"id":"3e64988a.eed118","type":"function","z":"ff7e1cc4.391a1","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":594.1071853637695,"y":30.82141876220703,"wires":[["4b1ce884.c88558","a829e116.6b636"]]},{"id":"4b1ce884.c88558","type":"function","z":"ff7e1cc4.391a1","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":731.8571739196777,"y":26.571415901184082,"wires":[["4814f47b.9168bc"]]},{"id":"4814f47b.9168bc","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"false","complete":"false","x":913.3571815490723,"y":25.321417808532715,"wires":[]},{"id":"16d1f62c.9d048a","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":163.50000762939453,"y":856.7500076293945,"wires":[["cec112f6.22a91","3184e9ba.09e366"]]},{"id":"a2e80bf8.b76588","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":164.50000762939453,"y":902.7500076293945,"wires":[["699f140c.02d72c"]]},{"id":"cec112f6.22a91","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":1,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":645.6250343322754,"y":872.2500076293945,"wires":[]},{"id":"699f140c.02d72c","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":2,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":641.2500114440918,"y":892.2500114440918,"wires":[]},{"id":"21c7eb0e.11b494","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":4,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":552.7500076293945,"y":647.7499980926514,"wires":[]},{"id":"9247abb4.ac9978","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":5,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":558.3750038146973,"y":763,"wires":[]},{"id":"7c5ff5a0.43798c","type":"modbus-read","z":"ff7e1cc4.391a1","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"9ac39eef.62065","x":101.49999618530273,"y":736.9999980926514,"wires":[["1eba3ce7.2c3a53","2ed55.7f84f2ab8","a366350e.7fcc98"],[]]},{"id":"11c08600.9f98fa","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"true","complete":"payload","x":550.2500190734863,"y":607.7499990463257,"wires":[]},{"id":"1eba3ce7.2c3a53","type":"function","z":"ff7e1cc4.391a1","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":323.625,"y":670.7499980926514,"wires":[["11c08600.9f98fa","21c7eb0e.11b494","9837ff2b.7cccb"]]},{"id":"b4874778.476c58","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"true","complete":"payload","x":564.0000038146973,"y":712.75,"wires":[]},{"id":"2ed55.7f84f2ab8","type":"function","z":"ff7e1cc4.391a1","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set('counter_po', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":724,"wires":[["b4874778.476c58","9247abb4.ac9978"]]},{"id":"6fa74fb6.d5d85","type":"function","z":"ff7e1cc4.391a1","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":366.37499237060547,"y":184.74999523162842,"wires":[["72da0a3b.8c6414","9fc32105.dd113"]]},{"id":"72da0a3b.8c6414","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":3,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":580.7500686645508,"y":179.00000286102295,"wires":[]},{"id":"9fc32105.dd113","type":"ui_chart","z":"ff7e1cc4.391a1","name":"","group":"a34c6b6a.abfd88","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":570.125,"y":220,"wires":[[],[]]},{"id":"3184e9ba.09e366","type":"ui_chart","z":"ff7e1cc4.391a1","name":"","group":"a34c6b6a.abfd88","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":637.5000114440918,"y":829.7500095367432,"wires":[[],[]]},{"id":"8210f859.2cbe98","type":"http in","z":"ff7e1cc4.391a1","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":190.625,"y":1153.5000228881836,"wires":[["c9c95075.fb951"]]},{"id":"a667462c.3fb4f8","type":"http in","z":"ff7e1cc4.391a1","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":202.50000762939453,"y":1198.500036239624,"wires":[["3e386af8.cca696"]]},{"id":"a366350e.7fcc98","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"true","complete":"payload","x":305.75000381469727,"y":769.75,"wires":[]},{"id":"8046030b.0e9f","type":"ui_text","z":"ff7e1cc4.391a1","group":"c6e1f336.20d75","order":6,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":912.1071739196777,"y":60.82141590118408,"wires":[]},{"id":"a829e116.6b636","type":"function","z":"ff7e1cc4.391a1","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":733.4821739196777,"y":64.82141590118408,"wires":[["8046030b.0e9f"]]},{"id":"6f1be5e.359ef1c","type":"switch","z":"ff7e1cc4.391a1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":122.12499618530273,"y":288.5,"wires":[["da0adb6a.0c8e68"],["d7b7a0f7.5f58b"]]},{"id":"f5da38b6.0e86e8","type":"function","z":"ff7e1cc4.391a1","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}else{\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\n    if(record.Weight > 1500){\n        record = {\n                    Date: flow.get(\"time\"),\n                    Weight: 0,\n                    TotalWeight:0\n                }  \n    }\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":667.125,"y":280.7500305175781,"wires":[["f32f9651.735418","3990e42.c4d051c"]]},{"id":"c9c95075.fb951","type":"function","z":"ff7e1cc4.391a1","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":421.87500762939453,"y":1153.5000171661377,"wires":[["953a3d52.bd5d1"]]},{"id":"953a3d52.bd5d1","type":"http response","z":"ff7e1cc4.391a1","name":"","x":571.875,"y":1151.0000038146973,"wires":[]},{"id":"15627e94.0d1951","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":223.12500762939453,"y":38.5,"wires":[["b94e0072.72b93"]]},{"id":"b94e0072.72b93","type":"function","z":"ff7e1cc4.391a1","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":381.87500762939453,"y":37.25,"wires":[[]]},{"id":"d7b7a0f7.5f58b","type":"function","z":"ff7e1cc4.391a1","name":"trigger","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":121.37499618530273,"y":331.00000190734863,"wires":[[]]},{"id":"da0adb6a.0c8e68","type":"switch","z":"ff7e1cc4.391a1","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":260.875,"y":282.75,"wires":[["736f1ba8.925d04","a712ec6a.4933d","f5da38b6.0e86e8","342f80c2.5763b"]]},{"id":"9837ff2b.7cccb","type":"ui_chart","z":"ff7e1cc4.391a1","name":"","group":"a34c6b6a.abfd88","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":532.7500076293945,"y":681.4999980926514,"wires":[[],[]]},{"id":"3e386af8.cca696","type":"function","z":"ff7e1cc4.391a1","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":425.00000762939453,"y":1198.5000171661377,"wires":[["e5a4d087.7087e"]]},{"id":"e5a4d087.7087e","type":"http response","z":"ff7e1cc4.391a1","name":"","x":575,"y":1196.0000038146973,"wires":[]},{"id":"f32f9651.735418","type":"file","z":"ff7e1cc4.391a1","name":"","filename":"/distr/data/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":901.8750076293945,"y":500.750036239624,"wires":[]},{"id":"8d0e4337.7d0ef","type":"file in","z":"ff7e1cc4.391a1","name":"","filename":"/distr/data/bulkweights_data.json","format":"utf8","x":511.87500381469727,"y":1243.5000276565552,"wires":[["5f32535d.86ef4c"]]},{"id":"7c4f7805.60d528","type":"http in","z":"ff7e1cc4.391a1","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":206.25,"y":1237.250015258789,"wires":[["8d0e4337.7d0ef"]]},{"id":"5f32535d.86ef4c","type":"http response","z":"ff7e1cc4.391a1","name":"","x":729.75,"y":1232,"wires":[]},{"id":"3990e42.c4d051c","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"false","complete":"false","x":884.8750610351562,"y":263.2499694824219,"wires":[]},{"id":"22aa24fc.e0053c","type":"http in","z":"ff7e1cc4.391a1","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":195.00000762939453,"y":1108.500015258789,"wires":[["654e5689.958ae8","98f587be.8ab6b8"]]},{"id":"654e5689.958ae8","type":"file","z":"ff7e1cc4.391a1","name":"","filename":"/distr/data/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":509.37500762939453,"y":1111.000015258789,"wires":[]},{"id":"98f587be.8ab6b8","type":"http response","z":"ff7e1cc4.391a1","name":"","x":401.5357093811035,"y":1067.607089996338,"wires":[]},{"id":"846d96f4.2804d8","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":166,"y":1447.250020980835,"wires":[["187959c6.e9f746","405f75ca.3ea09c"]]},{"id":"7f158ac7.9c1634","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"false","complete":"false","x":511.25000762939453,"y":1456.250023841858,"wires":[]},{"id":"187959c6.e9f746","type":"function","z":"ff7e1cc4.391a1","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":334.25000381469727,"y":1452.000023841858,"wires":[["7f158ac7.9c1634"]]},{"id":"405f75ca.3ea09c","type":"function","z":"ff7e1cc4.391a1","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340.50000381469727,"y":1498.0000247955322,"wires":[["7f158ac7.9c1634"]]},{"id":"2df0d31c.3209cc","type":"function","z":"ff7e1cc4.391a1","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":368.75000762939453,"y":535.2500076293945,"wires":[[]]},{"id":"25d23491.d576fc","type":"debug","z":"ff7e1cc4.391a1","name":"","active":false,"console":"true","complete":"payload","x":354.50000762939453,"y":90.00000095367432,"wires":[]},{"id":"1aeb5826.788c08","type":"delay","z":"ff7e1cc4.391a1","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":492.00000381469727,"y":388.75000190734863,"wires":[["f5da38b6.0e86e8"]]},{"id":"53948cda.086b54","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":176.25,"y":1601.750020980835,"wires":[["75b1b07a.26cea"]]},{"id":"75b1b07a.26cea","type":"debug","z":"ff7e1cc4.391a1","name":"","active":true,"console":"false","complete":"false","x":364.75,"y":1603.750020980835,"wires":[]},{"id":"fd86cdb7.4a3d6","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":183.50000381469727,"y":1637.2500438690186,"wires":[["f98938e3.8278d8"]]},{"id":"f98938e3.8278d8","type":"debug","z":"ff7e1cc4.391a1","name":"","active":true,"console":"false","complete":"false","x":362.00000381469727,"y":1639.2500438690186,"wires":[]},{"id":"3e6809.630057f8","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":519,"wires":[["47e8337d.76565c"]]},{"id":"47e8337d.76565c","type":"function","z":"ff7e1cc4.391a1","name":"ручне","func":"msg.payload = {       \n                Date: \"2020-01-14T07:27:21.434Z\",\n                Weight:192,\n                TotalWeight: 648363\n            }     \n   \n//\"Date\":\"2019-04-04T07:12:59.342Z\"\n//        2019-04-05T07:30:59.342Z\n\n//\"Date\":\"2019-12-14T23:17:32.484Z\",\"Weight\":72058,\"TotalWeight\":72058\n//\"Date\":\"2019-12-15T16:34:58.899Z\",\"Weight\":1156919,\"TotalWeight\":1156919\nreturn msg;","outputs":1,"noerr":0,"x":378.25,"y":503.0000305175781,"wires":[["e0859d4e.c745e","f32f9651.735418"]]},{"id":"e0859d4e.c745e","type":"debug","z":"ff7e1cc4.391a1","name":"","active":true,"console":"true","complete":"payload","x":541.2500114440918,"y":472.000036239624,"wires":[]},{"id":"736f1ba8.925d04","type":"function","z":"ff7e1cc4.391a1","name":"обнулення Prev_t_n","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\n\nif(total_w === 0){\n   flow.set('prev_total_netto', 0); \n}\nreturn msg;","outputs":1,"noerr":0,"x":149.25,"y":446.25,"wires":[[]]},{"id":"a712ec6a.4933d","type":"delay","z":"ff7e1cc4.391a1","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":429.75,"y":328.75,"wires":[["f5da38b6.0e86e8"]]},{"id":"45f5d0a3.d6bc8","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":1300,"y":44.28571319580078,"wires":[["350687ec.983ef8"]]},{"id":"350687ec.983ef8","type":"function","z":"ff7e1cc4.391a1","name":"відправка при зміні","func":"flow.set(\"old_event_h\", 0);\nflow.set(\"old_event_zv\", 0);\nflow.set(\"old_event_tw\", 0);\nflow.set(\"old_event_co\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":44.28571319580078,"wires":[["e1380b23.b59028"]]},{"id":"e1380b23.b59028","type":"debug","z":"ff7e1cc4.391a1","name":"","active":true,"console":false,"complete":"false","x":1735.7142944335938,"y":41.428565979003906,"wires":[]},{"id":"63115af0.21f154","type":"inject","z":"ff7e1cc4.391a1","name":"init","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":871.4285888671875,"y":151.4285888671875,"wires":[["f99aeca9.5420a"]]},{"id":"961f546d.96a978","type":"inject","z":"ff7e1cc4.391a1","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":870.9805030822754,"y":110.56763458251953,"wires":[["3b23339d.1f6c3c"]]},{"id":"3b23339d.1f6c3c","type":"function","z":"ff7e1cc4.391a1","name":"Запис дати з потку від ВесПроц","func":"flow.set('dateFromSerial', Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":1092.8711700439453,"y":119.48164558410645,"wires":[[]]},{"id":"f99aeca9.5420a","type":"function","z":"ff7e1cc4.391a1","name":"Запис дати в NODE-Red","func":"flow.set('dateFromNode',Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.1429176330566,"y":155.28583526611328,"wires":[[]]},{"id":"342f80c2.5763b","type":"delay","z":"ff7e1cc4.391a1","name":"","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329.50000381469727,"y":389.00000190734863,"wires":[["1aeb5826.788c08"]]},{"id":"59f3c9b.7dc3838","type":"file in","z":"ff7e1cc4.391a1","name":"","filename":"/bulkweights_data.json","format":"utf8","x":389,"y":1740,"wires":[["d7db5d40.563108"]]},{"id":"d60e1831.56c1b8","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152,"y":1735,"wires":[["59f3c9b.7dc3838"]]},{"id":"d7db5d40.563108","type":"debug","z":"ff7e1cc4.391a1","name":"","active":true,"console":"false","complete":"false","x":629,"y":1722,"wires":[]},{"id":"8861210.f68abe","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":202,"y":1045,"wires":[["654e5689.958ae8"]]},{"id":"7ada0a08.7b1fdc","type":"inject","z":"ff7e1cc4.391a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":573,"wires":[["4bd3512b.ab31d8"]]},{"id":"4bd3512b.ab31d8","type":"template","z":"ff7e1cc4.391a1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":346,"y":586,"wires":[["f32f9651.735418"]]}]
