Ratsevo/bunkerni.js
[{"id":"eeeb8206.5fbb7","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"a7f70a6b.81bec8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":true},{"id":"bc714488.aa15a8","type":"socket-io-event","z":"","addr":"getWeight"},{"id":"dd9ba194.810be","type":"socket-io-server","z":"","port":"4001"},{"id":"d19d5b95.559388","type":"ui_group","z":"","name":"Автомобільні ваги 80т","tab":"6e07ffb1.83c02","order":1,"disp":true,"width":"6"},{"id":"e2b48925.fa3318","type":"ui_group","z":"","name":"Поточний стан контрольних точок","tab":"6e07ffb1.83c02","order":2,"disp":true,"width":"3"},{"id":"e218f817.be3548","type":"ui_group","z":"","name":"Події","tab":"6e07ffb1.83c02","order":3,"disp":true,"width":"6"},{"id":"235eb49d.beab0c","type":"ui_group","z":"","name":"Стан зв'язку","tab":"6e07ffb1.83c02","order":5,"disp":true,"width":"6"},{"id":"6e07ffb1.83c02","type":"ui_tab","z":"","name":"Smart Scales","icon":"dashboard"},{"id":"2432f75f.fa8dc8","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"39c8fa6b.66ce36","type":"ui_group","z":"","name":"Default2","tab":"441fdd46.5015e4","order":2,"disp":true,"width":"6"},{"id":"e5810c8b.4532b","type":"ui_group","z":"","name":"Default","tab":"441fdd46.5015e4","order":3,"disp":true,"width":"6"},{"id":"6fa54458.1bcacc","type":"ui_group","z":"","name":"Стан зв'язку","tab":"441fdd46.5015e4","order":1,"disp":true,"width":"6"},{"id":"441fdd46.5015e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"bcade5b8.9e3648","type":"modbus-read","z":"eeeb8206.5fbb7","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"2432f75f.fa8dc8","x":115,"y":113,"wires":[["d446df4c.94c4d","87c21fcb.5ca86"],[]]},{"id":"d446df4c.94c4d","type":"function","z":"eeeb8206.5fbb7","name":"set_w","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":113,"wires":[[]]},{"id":"78b65b95.e4faa4","type":"modbus-read","z":"eeeb8206.5fbb7","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1","rateUnit":"s","server":"2432f75f.fa8dc8","x":130,"y":196,"wires":[["c805ca69.2f8738","7123d831.dc4b08"],[]]},{"id":"d3030f5.6a251f","type":"function","z":"eeeb8206.5fbb7","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":596.25,"y":62.25,"wires":[["d8d35336.4f4e3","d44b77.50a97488"]]},{"id":"d8d35336.4f4e3","type":"function","z":"eeeb8206.5fbb7","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":808.9999961853027,"y":57.99999713897705,"wires":[["4410118a.6b154"]]},{"id":"4410118a.6b154","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"false","complete":"false","x":990.5000038146973,"y":56.749999046325684,"wires":[]},{"id":"e465aee1.4da1d","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":478.25,"y":685,"wires":[["455af767.875608","7b8f8ef9.85dc6"]]},{"id":"da3d45ff.62a098","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":479.25,"y":731,"wires":[["654843f9.6d489c"]]},{"id":"455af767.875608","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":1,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":646.3750610351562,"y":700.5,"wires":[]},{"id":"654843f9.6d489c","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":2,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":647,"y":734.5,"wires":[]},{"id":"4d2f230f.168fcc","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":4,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":674.75,"y":483.5,"wires":[]},{"id":"cfcd5f97.f9fc8","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":5,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":685.625,"y":630.5,"wires":[]},{"id":"f480e58a.439b78","type":"modbus-read","z":"eeeb8206.5fbb7","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"500","rateUnit":"ms","server":"2432f75f.fa8dc8","x":75,"y":491.5,"wires":[["8510de00.9e20f","b6b0a92b.fa26a8","32667706.73b928","a9c91453.03f048","bc952fb4.f2432"],[]]},{"id":"558f6206.f2453c","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"true","complete":"payload","x":673.5,"y":557.5,"wires":[]},{"id":"8510de00.9e20f","type":"function","z":"eeeb8206.5fbb7","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":303.375,"y":532.75,"wires":[["558f6206.f2453c","4d2f230f.168fcc","2b41a637.75d0ca"]]},{"id":"384c9017.4e17e","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"true","complete":"payload","x":676,"y":595,"wires":[]},{"id":"b6b0a92b.fa26a8","type":"function","z":"eeeb8206.5fbb7","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set('counter_po', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":269.25,"y":578,"wires":[["384c9017.4e17e","cfcd5f97.f9fc8"]]},{"id":"7123d831.dc4b08","type":"function","z":"eeeb8206.5fbb7","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":439.125,"y":165.75,"wires":[["49d07cde.c170d4","f0d3c0f4.d92d1"]]},{"id":"49d07cde.c170d4","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":3,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":653.2500610351562,"y":148,"wires":[]},{"id":"f0d3c0f4.d92d1","type":"ui_chart","z":"eeeb8206.5fbb7","name":"","group":"e5810c8b.4532b","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":642.875,"y":185.75,"wires":[[],[]]},{"id":"7b8f8ef9.85dc6","type":"ui_chart","z":"eeeb8206.5fbb7","name":"","group":"e5810c8b.4532b","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":647.25,"y":666,"wires":[[],[]]},{"id":"12880f9c.abf76","type":"http in","z":"eeeb8206.5fbb7","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":196.875,"y":932,"wires":[["7bde1f2b.c7a0b"]]},{"id":"138484db.b4145b","type":"http in","z":"eeeb8206.5fbb7","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":209.75,"y":976.5,"wires":[["19938d2c.0ecd83"]]},{"id":"32667706.73b928","type":"debug","z":"eeeb8206.5fbb7","name":"","active":true,"console":"true","complete":"payload","x":109.25,"y":629.25,"wires":[]},{"id":"ccae02d6.10071","type":"ui_text","z":"eeeb8206.5fbb7","group":"39c8fa6b.66ce36","order":6,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":989.2499961853027,"y":92.24999713897705,"wires":[]},{"id":"d44b77.50a97488","type":"function","z":"eeeb8206.5fbb7","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":810.6249961853027,"y":96.24999713897705,"wires":[["ccae02d6.10071"]]},{"id":"c805ca69.2f8738","type":"switch","z":"eeeb8206.5fbb7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":97.875,"y":283,"wires":[["a6b3e726.34d078"],["1f19c334.e9967d"]]},{"id":"ca090df.550f0f","type":"function","z":"eeeb8206.5fbb7","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}else{\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.375,"y":280.5000305175781,"wires":[["7c2c7a7e.452674","7067ca7e.cda704"]]},{"id":"7bde1f2b.c7a0b","type":"function","z":"eeeb8206.5fbb7","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":412.125,"y":933,"wires":[["3fd8342.b1aeccc"]]},{"id":"3fd8342.b1aeccc","type":"http response","z":"eeeb8206.5fbb7","name":"","x":568.125,"y":933.5,"wires":[]},{"id":"f1a96181.4ff52","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":112.125,"y":27.25,"wires":[["4ec980c2.bc86f"]]},{"id":"4ec980c2.bc86f","type":"function","z":"eeeb8206.5fbb7","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":254.625,"y":26,"wires":[[]]},{"id":"1f19c334.e9967d","type":"function","z":"eeeb8206.5fbb7","name":"s_trig","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":120.875,"y":336,"wires":[[]]},{"id":"a6b3e726.34d078","type":"switch","z":"eeeb8206.5fbb7","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":233.375,"y":279.25,"wires":[["d7790651.8724d8","7cc2714.c553c9","672526fe.89d888","ca090df.550f0f"]]},{"id":"2b41a637.75d0ca","type":"ui_chart","z":"eeeb8206.5fbb7","name":"","group":"e5810c8b.4532b","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":648,"y":518.75,"wires":[[],[]]},{"id":"19938d2c.0ecd83","type":"function","z":"eeeb8206.5fbb7","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":413.25,"y":981.5,"wires":[["c4cec2f.02dfa4"]]},{"id":"c4cec2f.02dfa4","type":"http response","z":"eeeb8206.5fbb7","name":"","x":569.25,"y":978,"wires":[]},{"id":"7c2c7a7e.452674","type":"file","z":"eeeb8206.5fbb7","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":959.875,"y":363.5000305175781,"wires":[]},{"id":"5a724554.43ee3c","type":"file in","z":"eeeb8206.5fbb7","name":"","filename":"/bulkweights_data.json","format":"utf8","x":454.375,"y":1026.25,"wires":[["5baefef.8ca73"]]},{"id":"98d8abff.07a808","type":"http in","z":"eeeb8206.5fbb7","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":207.75,"y":1021,"wires":[["5a724554.43ee3c"]]},{"id":"5baefef.8ca73","type":"http response","z":"eeeb8206.5fbb7","name":"","x":622.25,"y":1027.75,"wires":[]},{"id":"7067ca7e.cda704","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"false","complete":"false","x":936.6250610351562,"y":229.99996948242188,"wires":[]},{"id":"527b52cd.578a2c","type":"http in","z":"eeeb8206.5fbb7","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":203.75,"y":879.75,"wires":[["23d34eac.1384e2","6a9d7c6f.e6e5b4"]]},{"id":"23d34eac.1384e2","type":"file","z":"eeeb8206.5fbb7","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":488.125,"y":882.25,"wires":[]},{"id":"6a9d7c6f.e6e5b4","type":"http response","z":"eeeb8206.5fbb7","name":"","x":550,"y":846,"wires":[]},{"id":"9eb2c66e.c55678","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":107.5,"y":1369,"wires":[["ae749602.3c48e8","fc822d96.905bf"]]},{"id":"7f79aba3.4ea254","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"false","complete":"false","x":407.5,"y":1383,"wires":[]},{"id":"ae749602.3c48e8","type":"function","z":"eeeb8206.5fbb7","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":241.5,"y":1345,"wires":[["7f79aba3.4ea254"]]},{"id":"fc822d96.905bf","type":"function","z":"eeeb8206.5fbb7","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":239,"y":1396,"wires":[["7f79aba3.4ea254"]]},{"id":"4d961348.b8785c","type":"function","z":"eeeb8206.5fbb7","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":463,"wires":[[]]},{"id":"87c21fcb.5ca86","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"true","complete":"payload","x":335,"y":77,"wires":[]},{"id":"d7790651.8724d8","type":"delay","z":"eeeb8206.5fbb7","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":465.5,"y":328.5,"wires":[["ca090df.550f0f"]]},{"id":"2dc9dea3.2429e2","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":117.5,"y":1433,"wires":[["72271ab4.1cb914"]]},{"id":"72271ab4.1cb914","type":"debug","z":"eeeb8206.5fbb7","name":"","active":true,"console":"false","complete":"false","x":306,"y":1435,"wires":[]},{"id":"11001eee.470131","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":109,"y":1480,"wires":[["464bc1c5.6ca47"]]},{"id":"464bc1c5.6ca47","type":"debug","z":"eeeb8206.5fbb7","name":"","active":true,"console":"false","complete":"false","x":287.5,"y":1482,"wires":[]},{"id":"b2725b98.3d4028","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":402,"wires":[["8ae2351b.759e88"]]},{"id":"8ae2351b.759e88","type":"function","z":"eeeb8206.5fbb7","name":"ручне","func":"msg.payload = {\n                Date: \"2018-09-24T13:40:49.689Z\",\n                Weight: 72,\n                TotalWeight:237071\n            }     \n   \n\nreturn msg;","outputs":1,"noerr":0,"x":621.25,"y":397.0000305175781,"wires":[["1cdc4bf7.c58b64","7c2c7a7e.452674"]]},{"id":"1cdc4bf7.c58b64","type":"debug","z":"eeeb8206.5fbb7","name":"","active":true,"console":"true","complete":"payload","x":780,"y":421.0000305175781,"wires":[]},{"id":"7cc2714.c553c9","type":"function","z":"eeeb8206.5fbb7","name":"обнулення Prev_t_n","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\n\nif(total_w === 0){\n   flow.set('prev_total_netto', 0); \n}\nreturn msg;","outputs":1,"noerr":0,"x":402.75,"y":370.25,"wires":[[]]},{"id":"e6015351.2bbec","type":"delay","z":"eeeb8206.5fbb7","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":558.75,"y":244.5,"wires":[["ca090df.550f0f"]]},{"id":"672526fe.89d888","type":"delay","z":"eeeb8206.5fbb7","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":245,"wires":[["e6015351.2bbec"]]},{"id":"a9c91453.03f048","type":"debug","z":"eeeb8206.5fbb7","name":"","active":false,"console":"true","complete":"payload","x":352,"y":634,"wires":[]},{"id":"bc952fb4.f2432","type":"function","z":"eeeb8206.5fbb7","name":"Запис дати з потку від ВесПроц","func":"flow.set('dateFromSerial', Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":1194.0000429153442,"wires":[[]]},{"id":"ee6ac262.ecfeb","type":"inject","z":"eeeb8206.5fbb7","name":"init","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"x":94.12884902954102,"y":1227.3756103515625,"wires":[["596e09c8.8fd328"]]},{"id":"596e09c8.8fd328","type":"function","z":"eeeb8206.5fbb7","name":"Запис дати в NODE-Red","func":"flow.set('dateFromNode',Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":281.9859924316406,"y":1228.5184326171875,"wires":[[]]},{"id":"190ae80d.02da78","type":"ui_text","z":"eeeb8206.5fbb7","group":"6fa54458.1bcacc","order":0,"width":0,"height":0,"name":"","label":"Зв'язок","format":"{{msg.payload}}","layout":"row-spread","x":475.42462158203125,"y":1230.047607421875,"wires":[]},{"id":"a63fac8d.413ac","type":"function","z":"eeeb8206.5fbb7","name":"Порівняння дат","func":"var eq = flow.get('dateFromSerial');\nvar vt = flow.get('dateFromNode');\nvar sub = (vt - eq);\nif(sub > 2000){\n    msg.payload = \"відключено\";\n}else {\n    msg.payload = \"підключено\";\n}\n\n\n//msg.payload = sub;\nreturn msg;","outputs":1,"noerr":0,"x":298.7104187011719,"y":1271.14306640625,"wires":[["190ae80d.02da78","bca63455.9dbce8"]]},{"id":"9842c6a7.8d0178","type":"inject","z":"eeeb8206.5fbb7","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":114.43243408203125,"y":1270.23388671875,"wires":[["a63fac8d.413ac"]]},{"id":"bca63455.9dbce8","type":"function","z":"eeeb8206.5fbb7","name":"Різниця дат","func":"var eq = flow.get('dateFromSerial');\nvar vt = flow.get('dateFromNode');\nvar sub = (vt - eq);\nmsg.payload = sub/1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":485.8431701660156,"y":1269.6614990234375,"wires":[["6a043319.9c52dc"]]},{"id":"f825ed6e.3721b","type":"inject","z":"eeeb8206.5fbb7","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":96.82361221313477,"y":1192.2288694381714,"wires":[["bc952fb4.f2432"]]},{"id":"6a043319.9c52dc","type":"switch","z":"eeeb8206.5fbb7","name":"support","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":628.4939575195312,"y":1269.0802001953125,"wires":[["e723be8f.9e007"],["3d162c3d.824b94"]]},{"id":"3d162c3d.824b94","type":"function","z":"eeeb8206.5fbb7","name":"обнулення, є ЗВ","func":"msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":801.5509033203125,"y":1300.096435546875,"wires":[["e723be8f.9e007"]]},{"id":"c7726b03.a83108","type":"comment","z":"eeeb8206.5fbb7","name":"Control Status setting","info":"","x":277.10933685302734,"y":1154.8002843856812,"wires":[]},{"id":"e723be8f.9e007","type":"ui_text","z":"eeeb8206.5fbb7","group":"6fa54458.1bcacc","order":0,"width":0,"height":0,"name":"","label":"Скільки немає зв'язку,с","format":"{{msg.payload}}","layout":"row-spread","x":887.9859619140625,"y":1225.8043823242188,"wires":[]}]
