Ratsevo/bunkerni.js
[{"id":"24fe36b7.f0501a","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"80894e90.ef945","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"3692e526.950b4a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e48c80a5.4a53a","type":"ui_group","z":"","name":"Default2","tab":"3692e526.950b4a","disp":true,"width":"6"},{"id":"b2f06313.be701","type":"ui_group","z":"","name":"Default","tab":"3692e526.950b4a","disp":true,"width":"6"},{"id":"b87416fc.a0b1d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"eba64d3c.430ff","type":"ui_tab","z":"","name":"rezerv","icon":"dashboard"},{"id":"43ecad3.1164054","type":"modbus-read","z":"24fe36b7.f0501a","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"80894e90.ef945","x":115,"y":113,"wires":[["32be36c.c6f7aca","eb695980.153968"],[]]},{"id":"32be36c.c6f7aca","type":"function","z":"24fe36b7.f0501a","name":"set_w","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":113,"wires":[[]]},{"id":"8395a1f.50a6f6","type":"modbus-read","z":"24fe36b7.f0501a","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1","rateUnit":"s","server":"80894e90.ef945","x":130,"y":196,"wires":[["c4a7c478.1d4978","9d3c6275.fae9f"],[]]},{"id":"fd4b49ec.b69ed8","type":"function","z":"24fe36b7.f0501a","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":596.25,"y":62.25,"wires":[["df875856.0adae8","f3fe5d89.c9eac"]]},{"id":"df875856.0adae8","type":"function","z":"24fe36b7.f0501a","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":808.9999961853027,"y":57.99999713897705,"wires":[["dd40d5ff.3c6948"]]},{"id":"dd40d5ff.3c6948","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"false","complete":"false","x":990.5000038146973,"y":56.749999046325684,"wires":[]},{"id":"f5d7cdee.2aaa5","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":478.25,"y":685,"wires":[["e7e6ec5a.3512d","53a7d494.4844fc"]]},{"id":"3f3f3830.112958","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":479.25,"y":731,"wires":[["54532519.c0e74c"]]},{"id":"e7e6ec5a.3512d","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":1,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":646.3750610351562,"y":700.5,"wires":[]},{"id":"54532519.c0e74c","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":2,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":647,"y":734.5,"wires":[]},{"id":"d22c36c3.612058","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":4,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":674.75,"y":483.5,"wires":[]},{"id":"1921993f.a47237","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":5,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":685.625,"y":630.5,"wires":[]},{"id":"122849b3.38df46","type":"modbus-read","z":"24fe36b7.f0501a","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"80894e90.ef945","x":75,"y":491.5,"wires":[["bdc5a076.8a39b","de54b034.8d6ce","6ce5684e.3fcca8"],[]]},{"id":"94ce553f.fa3208","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"true","complete":"payload","x":673.5,"y":557.5,"wires":[]},{"id":"bdc5a076.8a39b","type":"function","z":"24fe36b7.f0501a","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":303.375,"y":532.75,"wires":[["94ce553f.fa3208","d22c36c3.612058","14f67e99.705171"]]},{"id":"79a492a1.e541ec","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"true","complete":"payload","x":676,"y":595,"wires":[]},{"id":"de54b034.8d6ce","type":"function","z":"24fe36b7.f0501a","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set('counter_po', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":269.25,"y":578,"wires":[["79a492a1.e541ec","1921993f.a47237"]]},{"id":"9d3c6275.fae9f","type":"function","z":"24fe36b7.f0501a","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":439.125,"y":165.75,"wires":[["24a8b8d0.5bed78","3ec2970f.6d6048"]]},{"id":"24a8b8d0.5bed78","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":3,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":653.2500610351562,"y":148,"wires":[]},{"id":"3ec2970f.6d6048","type":"ui_chart","z":"24fe36b7.f0501a","name":"","group":"b2f06313.be701","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":642.875,"y":185.75,"wires":[[],[]]},{"id":"53a7d494.4844fc","type":"ui_chart","z":"24fe36b7.f0501a","name":"","group":"b2f06313.be701","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":647.25,"y":666,"wires":[[],[]]},{"id":"5a9fe670.9a86b8","type":"http in","z":"24fe36b7.f0501a","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":196.875,"y":932,"wires":[["bb5578a1.bcf8b8"]]},{"id":"10acf234.18db8e","type":"http in","z":"24fe36b7.f0501a","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":209.75,"y":976.5,"wires":[["d1c8fcbe.bcd43"]]},{"id":"6ce5684e.3fcca8","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"true","complete":"payload","x":109.25,"y":629.25,"wires":[]},{"id":"ca91eca.ae3b91","type":"ui_text","z":"24fe36b7.f0501a","group":"e48c80a5.4a53a","order":6,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":989.2499961853027,"y":92.24999713897705,"wires":[]},{"id":"f3fe5d89.c9eac","type":"function","z":"24fe36b7.f0501a","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":810.6249961853027,"y":96.24999713897705,"wires":[["ca91eca.ae3b91"]]},{"id":"c4a7c478.1d4978","type":"switch","z":"24fe36b7.f0501a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":97.875,"y":283,"wires":[["9a798bfa.245af8"],["c2cd7ae5.27f3d8"]]},{"id":"2f4eee30.ff89b2","type":"function","z":"24fe36b7.f0501a","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}else{\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.375,"y":280.5000305175781,"wires":[["93673634.4f1698","c957f7a5.a3a9c8"]]},{"id":"bb5578a1.bcf8b8","type":"function","z":"24fe36b7.f0501a","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":412.125,"y":933,"wires":[["afa01477.c7f168"]]},{"id":"afa01477.c7f168","type":"http response","z":"24fe36b7.f0501a","name":"","x":568.125,"y":933.5,"wires":[]},{"id":"14d3ea01.384516","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":112.125,"y":27.25,"wires":[["a46ba83e.8bac38"]]},{"id":"a46ba83e.8bac38","type":"function","z":"24fe36b7.f0501a","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":254.625,"y":26,"wires":[[]]},{"id":"c2cd7ae5.27f3d8","type":"function","z":"24fe36b7.f0501a","name":"s_trig","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":120.875,"y":336,"wires":[[]]},{"id":"9a798bfa.245af8","type":"switch","z":"24fe36b7.f0501a","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":233.375,"y":279.25,"wires":[["e3977877.34fc18","d0924ef.c8e4cb","84fd0c99.522d5"]]},{"id":"14f67e99.705171","type":"ui_chart","z":"24fe36b7.f0501a","name":"","group":"b2f06313.be701","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":648,"y":518.75,"wires":[[],[]]},{"id":"d1c8fcbe.bcd43","type":"function","z":"24fe36b7.f0501a","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":413.25,"y":981.5,"wires":[["5b5eb13d.6544b"]]},{"id":"5b5eb13d.6544b","type":"http response","z":"24fe36b7.f0501a","name":"","x":569.25,"y":978,"wires":[]},{"id":"93673634.4f1698","type":"file","z":"24fe36b7.f0501a","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":959.875,"y":363.5000305175781,"wires":[]},{"id":"7f08e76e.e2ffc8","type":"file in","z":"24fe36b7.f0501a","name":"","filename":"/bulkweights_data.json","format":"utf8","x":454.375,"y":1026.25,"wires":[["d31566ca.0076d8"]]},{"id":"c8f41c49.6e825","type":"http in","z":"24fe36b7.f0501a","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":207.75,"y":1021,"wires":[["7f08e76e.e2ffc8"]]},{"id":"d31566ca.0076d8","type":"http response","z":"24fe36b7.f0501a","name":"","x":622.25,"y":1027.75,"wires":[]},{"id":"c957f7a5.a3a9c8","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"false","complete":"false","x":936.6250610351562,"y":229.99996948242188,"wires":[]},{"id":"cae17ba1.7cee38","type":"http in","z":"24fe36b7.f0501a","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":203.75,"y":879.75,"wires":[["6a4efed4.86977","5bd5d1f7.9833c"]]},{"id":"6a4efed4.86977","type":"file","z":"24fe36b7.f0501a","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":488.125,"y":882.25,"wires":[]},{"id":"5bd5d1f7.9833c","type":"http response","z":"24fe36b7.f0501a","name":"","x":550,"y":846,"wires":[]},{"id":"e70285ad.4c6218","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":128.5,"y":1216,"wires":[["2fd75aaf.c04306","181b1951.abcff7"]]},{"id":"9fadee47.561aa","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"false","complete":"false","x":352.5,"y":1210,"wires":[]},{"id":"2fd75aaf.c04306","type":"function","z":"24fe36b7.f0501a","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":230.5,"y":1277,"wires":[["9fadee47.561aa"]]},{"id":"181b1951.abcff7","type":"function","z":"24fe36b7.f0501a","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":228,"y":1328,"wires":[["9fadee47.561aa"]]},{"id":"3372040a.49461c","type":"function","z":"24fe36b7.f0501a","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":463,"wires":[[]]},{"id":"eb695980.153968","type":"debug","z":"24fe36b7.f0501a","name":"","active":false,"console":"true","complete":"payload","x":302,"y":67,"wires":[]},{"id":"e3977877.34fc18","type":"delay","z":"24fe36b7.f0501a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.5,"y":282.5,"wires":[["2f4eee30.ff89b2"]]},{"id":"1e7e7e2d.e238b2","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":117.5,"y":1433,"wires":[["46bd8f77.63322"]]},{"id":"46bd8f77.63322","type":"debug","z":"24fe36b7.f0501a","name":"","active":true,"console":"false","complete":"false","x":306,"y":1435,"wires":[]},{"id":"66760a7e.053894","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":326,"y":1506,"wires":[["8af02954.ec8818"]]},{"id":"8af02954.ec8818","type":"debug","z":"24fe36b7.f0501a","name":"","active":true,"console":"false","complete":"false","x":504.5,"y":1508,"wires":[]},{"id":"767ba936.857d48","type":"inject","z":"24fe36b7.f0501a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":402,"wires":[["61c5c53b.3ab03c"]]},{"id":"61c5c53b.3ab03c","type":"function","z":"24fe36b7.f0501a","name":"ручне","func":"msg.payload = {\n                Date: \"2018-09-24T13:40:49.689Z\",\n                Weight: 72,\n                TotalWeight:237071\n            }     \n   \n\nreturn msg;","outputs":1,"noerr":0,"x":621.25,"y":397.0000305175781,"wires":[["1ba62a19.14f576","93673634.4f1698"]]},{"id":"1ba62a19.14f576","type":"debug","z":"24fe36b7.f0501a","name":"","active":true,"console":"true","complete":"payload","x":780,"y":421.0000305175781,"wires":[]},{"id":"d0924ef.c8e4cb","type":"function","z":"24fe36b7.f0501a","name":"обнулення Prev_t_n","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\n\nif(total_w === 0){\n   flow.set('prev_total_netto', 0); \n}\nreturn msg;","outputs":1,"noerr":0,"x":398.75,"y":332.25,"wires":[[]]},{"id":"585b729e.9092fc","type":"delay","z":"24fe36b7.f0501a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":558.75,"y":244.5,"wires":[["2f4eee30.ff89b2"]]},{"id":"84fd0c99.522d5","type":"delay","z":"24fe36b7.f0501a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":245,"wires":[["585b729e.9092fc"]]}]
