Bunkerni-Thingsboard/5.04
[{"id":"819bfe9c.ed4f","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"c796563b.4b0948","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"d13e4573.96b538","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"aba36961.e78d08","type":"ui_group","z":"","name":"Default2","tab":"d13e4573.96b538","disp":true,"width":"6"},{"id":"8fdb8974.28cd58","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"f1f1a16b.d06f4","type":"ui_group","z":"","name":"Default","tab":"d13e4573.96b538","disp":true,"width":"6"},{"id":"762e2fcb.114208","type":"ui_group","z":"","name":"Стан зв'язку","tab":"8ad6c295.353d8","disp":true,"width":"6"},{"id":"8ad6c295.353d8","type":"ui_tab","z":"","name":"Smart Scales","icon":"dashboard"},{"id":"d6fb9661.41b6b8","type":"modbus-read","z":"819bfe9c.ed4f","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"c796563b.4b0948","x":95,"y":96.00000190734863,"wires":[["5e31e68b.3dd0d8","9a5e0bf0.7e2778"],[]]},{"id":"5e31e68b.3dd0d8","type":"function","z":"819bfe9c.ed4f","name":"","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nvar trs = flow.get('netto');\n\nif(trs >= 10000){\n    flow.set('netto',0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":136,"wires":[[]]},{"id":"470df3a8.8b396c","type":"modbus-read","z":"819bfe9c.ed4f","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1","rateUnit":"s","server":"c796563b.4b0948","x":95,"y":189.75000381469727,"wires":[["55253719.85b5b8","49f82b55.241234","601d7807.aef978"],[]]},{"id":"33709d86.d8e7f2","type":"function","z":"819bfe9c.ed4f","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":519.107177734375,"y":30.82141876220703,"wires":[["4375b858.b727a8","85a8e103.35f6e"]]},{"id":"4375b858.b727a8","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":731.8571739196777,"y":26.571415901184082,"wires":[["fe1ca362.73729"]]},{"id":"fe1ca362.73729","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":913.3571815490723,"y":25.321417808532715,"wires":[]},{"id":"90b524c0.1b1ef8","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":163.50000762939453,"y":856.7500076293945,"wires":[["4119b6ec.4690a8","dc57e594.61da18"]]},{"id":"b29c01fa.3b8ac","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":164.50000762939453,"y":902.7500076293945,"wires":[["ad4c488b.5ad148"]]},{"id":"4119b6ec.4690a8","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":1,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":645.6250343322754,"y":872.2500076293945,"wires":[]},{"id":"ad4c488b.5ad148","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":2,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":641.2500114440918,"y":892.2500114440918,"wires":[]},{"id":"9291e6d.5a6cf18","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":4,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":528.7500114440918,"y":569.7500076293945,"wires":[]},{"id":"977d5ccf.bd7b9","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":5,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":538.1250076293945,"y":671.2500095367432,"wires":[]},{"id":"3b0731d0.edc0fe","type":"modbus-read","z":"819bfe9c.ed4f","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"c796563b.4b0948","x":77.5,"y":659.0000076293945,"wires":[["3af8796.b145886","b1600928.ec5bd8","c2cc0bd9.42a7f8"],[]]},{"id":"134a1d3.9fcbbe3","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":275.00000762939453,"y":559.7500076293945,"wires":[]},{"id":"3af8796.b145886","type":"function","z":"819bfe9c.ed4f","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":299.62500381469727,"y":592.7500076293945,"wires":[["134a1d3.9fcbbe3","9291e6d.5a6cf18","c6b7b295.9c2c6"]]},{"id":"73b00efa.cbcc8","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":518.7500076293945,"y":641.0000095367432,"wires":[]},{"id":"b1600928.ec5bd8","type":"function","z":"819bfe9c.ed4f","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set('counter_po', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":280.00000381469727,"y":646.0000095367432,"wires":[["73b00efa.cbcc8","977d5ccf.bd7b9"]]},{"id":"49f82b55.241234","type":"function","z":"819bfe9c.ed4f","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":450.125,"y":194.75,"wires":[["43e5887d.2d3158","699b7f06.c475f"]]},{"id":"43e5887d.2d3158","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":3,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":728.2500610351562,"y":189,"wires":[]},{"id":"699b7f06.c475f","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":715.875,"y":227.75,"wires":[[],[]]},{"id":"dc57e594.61da18","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":637.5000114440918,"y":829.7500095367432,"wires":[[],[]]},{"id":"35b0cf38.fc15a","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":190.625,"y":1153.5000228881836,"wires":[["9b883885.e79788"]]},{"id":"52d1344b.58ea6c","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":202.50000762939453,"y":1198.500036239624,"wires":[["50fe93f0.fc01ec"]]},{"id":"c2cc0bd9.42a7f8","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":309.25,"y":685.5000095367432,"wires":[]},{"id":"b138992b.645ff8","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":6,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":912.1071739196777,"y":60.82141590118408,"wires":[]},{"id":"85a8e103.35f6e","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":733.4821739196777,"y":64.82141590118408,"wires":[["b138992b.645ff8"]]},{"id":"55253719.85b5b8","type":"switch","z":"819bfe9c.ed4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":82.375,"y":282.2500047683716,"wires":[["2023758b.51fa2a"],["fd6807a1.bad7f8"]]},{"id":"e7de4688.5d99d8","type":"function","z":"819bfe9c.ed4f","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}else{\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":567.3750076293945,"y":285.5000352859497,"wires":[["bfb88320.e0438","d9131df1.c33f1"]]},{"id":"9b883885.e79788","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":421.87500762939453,"y":1153.5000171661377,"wires":[["5f44aa8d.9b1974"]]},{"id":"5f44aa8d.9b1974","type":"http response","z":"819bfe9c.ed4f","name":"","x":571.875,"y":1151.0000038146973,"wires":[]},{"id":"4749aa01.3937a4","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":223.12500762939453,"y":38.5,"wires":[["4557b764.253c18"]]},{"id":"4557b764.253c18","type":"function","z":"819bfe9c.ed4f","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":381.87500762939453,"y":37.25,"wires":[[]]},{"id":"fd6807a1.bad7f8","type":"function","z":"819bfe9c.ed4f","name":"","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":74.125,"y":332.25,"wires":[[]]},{"id":"2023758b.51fa2a","type":"switch","z":"819bfe9c.ed4f","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":211.12500381469727,"y":276.50000381469727,"wires":[["21a8fa77.03bc7e","f315a062.6fae4","e7de4688.5d99d8","811969ca.2956e8"]]},{"id":"c6b7b295.9c2c6","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":508.7500114440918,"y":603.5000076293945,"wires":[[],[]]},{"id":"50fe93f0.fc01ec","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":425.00000762939453,"y":1198.5000171661377,"wires":[["8b082cf0.01184"]]},{"id":"8b082cf0.01184","type":"http response","z":"819bfe9c.ed4f","name":"","x":575,"y":1196.0000038146973,"wires":[]},{"id":"bfb88320.e0438","type":"file","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":735.875,"y":378.5000305175781,"wires":[]},{"id":"c8e6e2eb.e6bdd","type":"file in","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","format":"utf8","x":471.87500381469727,"y":1243.5000276565552,"wires":[["f454afa3.5a516"]]},{"id":"5dcacde1.3a9ab4","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":206.25,"y":1237.250015258789,"wires":[["c8e6e2eb.e6bdd"]]},{"id":"f454afa3.5a516","type":"http response","z":"819bfe9c.ed4f","name":"","x":668.75,"y":1231.000015258789,"wires":[]},{"id":"d9131df1.c33f1","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":766.6250610351562,"y":295.9999694824219,"wires":[]},{"id":"13f83d36.afae63","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":195.00000762939453,"y":1108.500015258789,"wires":[["af50c7f0.5642b8","3693cc73.ffea64"]]},{"id":"af50c7f0.5642b8","type":"file","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":479.37500762939453,"y":1111.000015258789,"wires":[]},{"id":"3693cc73.ffea64","type":"http response","z":"819bfe9c.ed4f","name":"","x":597.2500076293945,"y":1074.750015258789,"wires":[]},{"id":"5d025bd6.9cd014","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":166,"y":1447.250020980835,"wires":[["38e4a335.ae15dc","378e6f11.2c9b7"]]},{"id":"ff7cad00.b2628","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":511.25000762939453,"y":1456.250023841858,"wires":[]},{"id":"38e4a335.ae15dc","type":"function","z":"819bfe9c.ed4f","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":334.25000381469727,"y":1452.000023841858,"wires":[["ff7cad00.b2628"]]},{"id":"378e6f11.2c9b7","type":"function","z":"819bfe9c.ed4f","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340.50000381469727,"y":1498.0000247955322,"wires":[["ff7cad00.b2628"]]},{"id":"e6260f35.c2d96","type":"function","z":"819bfe9c.ed4f","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":420.25000762939453,"y":493.00000762939453,"wires":[[]]},{"id":"9a5e0bf0.7e2778","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":317,"y":90,"wires":[]},{"id":"287f9e07.a0cb52","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":453.5,"y":347.5,"wires":[["e7de4688.5d99d8"]]},{"id":"5955789.41aae88","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":176.25,"y":1601.750020980835,"wires":[["d0719dcc.5fc18"]]},{"id":"d0719dcc.5fc18","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"false","complete":"false","x":364.75,"y":1603.750020980835,"wires":[]},{"id":"a7a50139.cb045","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":183.50000381469727,"y":1637.2500438690186,"wires":[["f7c76ccb.bedd6"]]},{"id":"f7c76ccb.bedd6","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"false","complete":"false","x":362.00000381469727,"y":1639.2500438690186,"wires":[]},{"id":"2897201.74b56e","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":473,"wires":[["e97e7c55.07df"]]},{"id":"e97e7c55.07df","type":"function","z":"819bfe9c.ed4f","name":"ручне","func":"msg.payload = {\n                Date: \"2019-04-05T07:30:59.342Z\",\n                Weight: 1435293,\n                TotalWeight: 1931947\n            }     \n   \n//\"Date\":\"2019-04-04T07:12:59.342Z\"\n//        2019-04-05T07:30:59.342Z\nreturn msg;","outputs":1,"noerr":0,"x":372.25,"y":457.0000305175781,"wires":[["3f718f79.18c5b8","bfb88320.e0438"]]},{"id":"3f718f79.18c5b8","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"true","complete":"payload","x":714,"y":421.0000305175781,"wires":[]},{"id":"21a8fa77.03bc7e","type":"function","z":"819bfe9c.ed4f","name":"обнулення Prev_t_n","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\n\nif(total_w === 0){\n   flow.set('prev_total_netto', 0); \n}\nreturn msg;","outputs":1,"noerr":0,"x":143.25,"y":400.25,"wires":[[]]},{"id":"f315a062.6fae4","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":378.75,"y":237.5,"wires":[["e7de4688.5d99d8"]]},{"id":"71fcb56c.ce6014","type":"http request","z":"819bfe9c.ed4f","name":"ThingsBoard Smart Scale","method":"POST","ret":"txt","url":"http://46.101.136.148:8080/api/v1/JmPBj9ZzaOY1SIioWi5f/telemetry","tls":"","x":1958.4444885253906,"y":249.55548477172852,"wires":[["bb0f3b96.8c0148"]]},{"id":"f25a6f7f.991b18","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload = msg.payload.telemetry;\nreturn msg;","outputs":1,"noerr":0,"x":1748.444480895996,"y":274.55548572540283,"wires":[["bb0f3b96.8c0148"]]},{"id":"bb0f3b96.8c0148","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":2144.6944885253906,"y":309.5554847717285,"wires":[]},{"id":"880d5ac0.4b64d","type":"function","z":"819bfe9c.ed4f","name":"currentWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"weight\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1293.4444427490234,"y":289.55548095703125,"wires":[["f25a6f7f.991b18"]]},{"id":"de24405.aaa614","type":"function","z":"819bfe9c.ed4f","name":"totalWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"totalWeight\": msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1783.4444580078125,"y":368.12689208984375,"wires":[["f25a6f7f.991b18"]]},{"id":"288c1dc9.b30dba","type":"function","z":"819bfe9c.ed4f","name":"ThingsBoard integrations","func":"var resultTH = {\n   \"deviceName\": \"scales 1\",\n   \"deviceType\": \"bulkweigh\",\n   \"attributes\": {\n       \"model\": \"BST\",\n       \"serialNumber\": \"SN012345\",\n       \"integrationName\": \"Smart scale MQTT integration\"\n   }\n};\nflow.set('resultTH',resultTH);   \nflow.set('event',\"зупинка\"); \nflow.set('previous',0); \nflow.set(\"date\", new Date());\nreturn msg;","outputs":1,"noerr":0,"x":1565.6666259765625,"y":173.99990844726562,"wires":[[]]},{"id":"17e9273e.0a1be1","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1345.6666259765625,"y":173.99990844726562,"wires":[["288c1dc9.b30dba"]]},{"id":"4ad90cdc.08ff1c","type":"function","z":"819bfe9c.ed4f","name":"counter","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"counter\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1777.7300415039062,"y":410.9840087890625,"wires":[["f25a6f7f.991b18"]]},{"id":"5bf6e5d0.c784d4","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"2","crontab":"","once":false,"x":1100.1111450195312,"y":281,"wires":[["880d5ac0.4b64d","ba3d26e2.608e7"]]},{"id":"45638a8f.28ae9c","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"2","crontab":"","once":false,"x":1014.3490905761719,"y":325.76190185546875,"wires":[["46295df9.d12134"]]},{"id":"cc4c3b86.8c5018","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"counter_po","payloadType":"flow","repeat":"2","crontab":"","once":false,"x":996.6666564941406,"y":387.7778015136719,"wires":[["b7561a89.9df6b8"]]},{"id":"e8440949.efa368","type":"function","z":"819bfe9c.ed4f","name":"event","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"event\" : flow.get(\"event\")\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1603,"y":435.2856140136719,"wires":[["c21d99bd.5f75a8","f25a6f7f.991b18"]]},{"id":"be4f038c.e3db5","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"event","payloadType":"flow","repeat":"2","crontab":"","once":false,"x":1011.5714416503906,"y":439.5713806152344,"wires":[["ebd57880.77db08"]]},{"id":"ba3d26e2.608e7","type":"function","z":"819bfe9c.ed4f","name":"event","func":"var previous = flow.get(\"previous\");\n\nif(previous == msg.payload){\n    flow.set(\"event\", \"Зупинка\");\n} else{\n    flow.set(\"event\", \"Відвантаження\");\n}\nflow.set(\"previous\", msg.payload);\nmsg.payload = flow.get(\"event\");\nreturn msg;","outputs":1,"noerr":0,"x":1258,"y":228,"wires":[["38d97ae9.9e2e96"]]},{"id":"38d97ae9.9e2e96","type":"function","z":"819bfe9c.ed4f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1382,"y":231,"wires":[["6ed0d824.de025"]]},{"id":"6ed0d824.de025","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":1531,"y":223,"wires":[]},{"id":"c21d99bd.5f75a8","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":1794.428466796875,"y":462.4285583496094,"wires":[]},{"id":"c2bb0a43.4a075","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":1032,"y":496,"wires":[["2aa8e8f8.e7221"]]},{"id":"2aa8e8f8.e7221","type":"function","z":"819bfe9c.ed4f","name":"тривалість увімкнення пантеона","func":"var now = new Date();\nvar time_on = flow.get(\"date\");\nmsg.payload = (now - time_on)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":1246,"y":532,"wires":[["7136da5.7b8fca4","1ed8f957.a705b7"]]},{"id":"7136da5.7b8fca4","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":1568,"y":498,"wires":[]},{"id":"1ed8f957.a705b7","type":"function","z":"819bfe9c.ed4f","name":"time_on","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"timeOn\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1264,"y":491.4285583496094,"wires":[["f25a6f7f.991b18"]]},{"id":"3e2e3e82.b3c83a","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":1300,"y":44.28571319580078,"wires":[["56595650.acd208"]]},{"id":"56595650.acd208","type":"function","z":"819bfe9c.ed4f","name":"відправка при зміні","func":"flow.set(\"old_event_h\", 0);\nflow.set(\"old_event_zv\", 0);\nflow.set(\"old_event_tw\", 0);\nflow.set(\"old_event_co\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":44.28571319580078,"wires":[["584619ab.e841e8"]]},{"id":"584619ab.e841e8","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":false,"complete":"false","x":1735.7142944335938,"y":41.428565979003906,"wires":[]},{"id":"662b8f6c.de6da","type":"switch","z":"819bfe9c.ed4f","name":"","property":"num_tw","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":1502.8569946289062,"y":360.0000305175781,"wires":[[],["de24405.aaa614"]]},{"id":"46295df9.d12134","type":"function","z":"819bfe9c.ed4f","name":"Передача при змін","func":"var v = msg.payload;\nvar old_event = flow.get(\"old_event_tw\");\n\nif(v == old_event ){\n    flow.set(\"num_tw\",1);\n}else{\n    flow.set(\"num_tw\",2);\n}\n\nflow.set(\"old_event_tw\", msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":1285.71435546875,"y":359.5236511230469,"wires":[["662b8f6c.de6da"]]},{"id":"b7561a89.9df6b8","type":"function","z":"819bfe9c.ed4f","name":"Передача при змін","func":"var v = msg.payload;\nvar old_event = flow.get(\"old_event_co\");\n\nif(v == old_event ){\n    flow.set(\"num_co\",1);\n}else{\n    flow.set(\"num_co\",2);\n}\n\nflow.set(\"old_event_co\", msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":1212.8572998046875,"y":398.0950012207031,"wires":[["5cb8c8c7.ade328"]]},{"id":"5cb8c8c7.ade328","type":"switch","z":"819bfe9c.ed4f","name":"","property":"num_co","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":1384.28564453125,"y":399.9999084472656,"wires":[[],["4ad90cdc.08ff1c"]]},{"id":"ebd57880.77db08","type":"function","z":"819bfe9c.ed4f","name":"Передача при змін","func":"var v = msg.payload;\nvar old_event = flow.get(\"old_event_h\");\n\nif(v == old_event ){\n    flow.set(\"num_h\",1);\n}else{\n    flow.set(\"num_h\",2);\n}\n\nflow.set(\"old_event_h\", msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":1212.1431274414062,"y":441.9045104980469,"wires":[["32935e6c.9786aa"]]},{"id":"32935e6c.9786aa","type":"switch","z":"819bfe9c.ed4f","name":"","property":"num_h","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":1435.0000610351562,"y":449.0475158691406,"wires":[[],["e8440949.efa368"]]},{"id":"3869a471.6a1eec","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":910,"y":742.8571166992188,"wires":[["febeba8d.a403d8"]]},{"id":"febeba8d.a403d8","type":"function","z":"819bfe9c.ed4f","name":"Порівняння дат","func":"var eq = flow.get('dateFromSerial');\nvar vt = flow.get('dateFromNode');\nvar sub = (vt - eq);\nif(sub > 4000){\n    msg.payload = \"disconnect\";\n}else {\n    msg.payload = \"connect\";\n}\n\n\n//msg.payload = sub;\nreturn msg;","outputs":1,"noerr":0,"x":1094.9922637939453,"y":741.337685585022,"wires":[["8d97fe8f.9f0ff","4a0b2806.533ea8"]]},{"id":"8d97fe8f.9f0ff","type":"ui_text","z":"819bfe9c.ed4f","group":"762e2fcb.114208","order":0,"width":0,"height":0,"name":"","label":"Зв'язок","format":"{{msg.payload}}","layout":"row-spread","x":1272.992202758789,"y":794.0993490219116,"wires":[]},{"id":"4a0b2806.533ea8","type":"function","z":"819bfe9c.ed4f","name":"Різниця дат","func":"var eq = flow.get('dateFromSerial');\nvar vt = flow.get('dateFromNode');\nvar sub = (vt - eq);\nmsg.payload = Math.round(sub/1000);\n\nreturn msg;","outputs":1,"noerr":0,"x":1269.125,"y":741.4275045394897,"wires":[["f4576d2c.285758"]]},{"id":"f4576d2c.285758","type":"switch","z":"819bfe9c.ed4f","name":"support","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":1420.2043380737305,"y":740.1319856643677,"wires":[["3109542a.918c2c","3bcafa56.9dba1e"],["abf18c10.a8d06"]]},{"id":"abf18c10.a8d06","type":"function","z":"819bfe9c.ed4f","name":"обнулення, є ЗВ","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1614.118423461914,"y":737.4339628219604,"wires":[["3109542a.918c2c","3bcafa56.9dba1e"]]},{"id":"3bcafa56.9dba1e","type":"function","z":"819bfe9c.ed4f","name":"","func":"if(msg.paylaod === 0 ){\n    msg.paylaod = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1663.892578125,"y":667.0441427230835,"wires":[["8a7c16ca.8f0058"]]},{"id":"8a7c16ca.8f0058","type":"function","z":"819bfe9c.ed4f","name":"connect_time","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"connectionLostTimeOut\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1831.23193359375,"y":667.5702657699585,"wires":[["4df721d.0d881e"]]},{"id":"3109542a.918c2c","type":"ui_text","z":"819bfe9c.ed4f","group":"762e2fcb.114208","order":0,"width":0,"height":0,"name":"","label":"Скільки немає зв'язку,с","format":"{{msg.payload}}","layout":"row-spread","x":1826.1250305175781,"y":799.4275598526001,"wires":[]},{"id":"4df721d.0d881e","type":"function","z":"819bfe9c.ed4f","name":"Передача при змін","func":"var v = msg.payload;\nvar old_event = flow.get(\"old_event_zv\");\n\nif(v == old_event ){\n    flow.set(\"num_zv\",1);\n}else{\n    flow.set(\"num_zv\",2);\n}\n\nflow.set(\"old_event_zv\", msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":1805.51806640625,"y":590.4276266098022,"wires":[["c8d22ded.4f24"]]},{"id":"c8d22ded.4f24","type":"switch","z":"819bfe9c.ed4f","name":"","property":"num_zv","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":1968.3753662109375,"y":590.9039449691772,"wires":[["3f7579f1.5854c6"],["f25a6f7f.991b18","23b3d154.ba7c0e"]]},{"id":"75ec00a4.db37e8","type":"inject","z":"819bfe9c.ed4f","name":"init","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":871.4285888671875,"y":151.4285888671875,"wires":[["d3fdb03a.e32018"]]},{"id":"63723fd1.5085d","type":"inject","z":"819bfe9c.ed4f","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":870.9805030822754,"y":110.56763458251953,"wires":[["601d7807.aef978"]]},{"id":"601d7807.aef978","type":"function","z":"819bfe9c.ed4f","name":"Запис дати з потку від ВесПроц","func":"flow.set('dateFromSerial', Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":1092.8711700439453,"y":119.48164558410645,"wires":[[]]},{"id":"d3fdb03a.e32018","type":"function","z":"819bfe9c.ed4f","name":"Запис дати в NODE-Red","func":"flow.set('dateFromNode',Date.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.1429176330566,"y":155.28583526611328,"wires":[[]]},{"id":"3f7579f1.5854c6","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2106.250030517578,"y":461.2500104904175,"wires":[["f25a6f7f.991b18"]]},{"id":"23b3d154.ba7c0e","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":2195,"y":596.25,"wires":[]},{"id":"811969ca.2956e8","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":296,"y":349,"wires":[["287f9e07.a0cb52"]]}]
