Bunkerni-Thingsboard/Blagovishcenka
[{"id":"819bfe9c.ed4f","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"c796563b.4b0948","type":"modbus-client","z":"","name":"Bulkweigh","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"5000"},{"id":"d13e4573.96b538","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"aba36961.e78d08","type":"ui_group","z":"","name":"Default2","tab":"d13e4573.96b538","disp":true,"width":"6"},{"id":"8fdb8974.28cd58","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"f1f1a16b.d06f4","type":"ui_group","z":"","name":"Default","tab":"d13e4573.96b538","disp":true,"width":"6"},{"id":"d6fb9661.41b6b8","type":"modbus-read","z":"819bfe9c.ed4f","name":"Read current gross","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"c796563b.4b0948","x":130,"y":136,"wires":[["5e31e68b.3dd0d8","9a5e0bf0.7e2778"],[]]},{"id":"5e31e68b.3dd0d8","type":"function","z":"819bfe9c.ed4f","name":"","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":136,"wires":[[]]},{"id":"470df3a8.8b396c","type":"modbus-read","z":"819bfe9c.ed4f","name":"Get current STATUS","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1","rateUnit":"s","server":"c796563b.4b0948","x":130,"y":196,"wires":[["55253719.85b5b8","49f82b55.241234"],[]]},{"id":"33709d86.d8e7f2","type":"function","z":"819bfe9c.ed4f","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":596.25,"y":62.25,"wires":[["4375b858.b727a8","85a8e103.35f6e"]]},{"id":"4375b858.b727a8","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = msg.payload[6];\n\nreturn msg;","outputs":1,"noerr":0,"x":808.9999961853027,"y":57.99999713897705,"wires":[["fe1ca362.73729"]]},{"id":"fe1ca362.73729","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":990.5000038146973,"y":56.749999046325684,"wires":[]},{"id":"90b524c0.1b1ef8","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":227.25000762939453,"y":698.0000095367432,"wires":[["4119b6ec.4690a8","dc57e594.61da18"]]},{"id":"b29c01fa.3b8ac","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":228.25000762939453,"y":744.0000095367432,"wires":[["ad4c488b.5ad148"]]},{"id":"4119b6ec.4690a8","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":1,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":709.3750343322754,"y":713.5000095367432,"wires":[]},{"id":"ad4c488b.5ad148","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":2,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":705.0000114440918,"y":733.5000133514404,"wires":[]},{"id":"9291e6d.5a6cf18","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":4,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":778.7500076293945,"y":473.5000047683716,"wires":[]},{"id":"977d5ccf.bd7b9","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":5,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":660.625,"y":632.5,"wires":[]},{"id":"3b0731d0.edc0fe","type":"modbus-read","z":"819bfe9c.ed4f","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"c796563b.4b0948","x":75,"y":491.5,"wires":[["3af8796.b145886","b1600928.ec5bd8","c2cc0bd9.42a7f8"],[]]},{"id":"134a1d3.9fcbbe3","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":572.5000076293945,"y":543.5000057220459,"wires":[]},{"id":"3af8796.b145886","type":"function","z":"819bfe9c.ed4f","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":303.375,"y":532.75,"wires":[["134a1d3.9fcbbe3","9291e6d.5a6cf18","c6b7b295.9c2c6"]]},{"id":"73b00efa.cbcc8","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":620.0000076293945,"y":586.0000076293945,"wires":[]},{"id":"b1600928.ec5bd8","type":"function","z":"819bfe9c.ed4f","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set('counter_po', msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":286.25,"y":586,"wires":[["73b00efa.cbcc8","977d5ccf.bd7b9"]]},{"id":"49f82b55.241234","type":"function","z":"819bfe9c.ed4f","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":450.125,"y":194.75,"wires":[["43e5887d.2d3158","699b7f06.c475f"]]},{"id":"43e5887d.2d3158","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":3,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":728.2500610351562,"y":189,"wires":[]},{"id":"699b7f06.c475f","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":715.875,"y":227.75,"wires":[[],[]]},{"id":"dc57e594.61da18","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":701.2500114440918,"y":671.0000114440918,"wires":[[],[]]},{"id":"35b0cf38.fc15a","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":186.875,"y":936.0000190734863,"wires":[["9b883885.e79788"]]},{"id":"52d1344b.58ea6c","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":198.75,"y":1003.5000190734863,"wires":[["50fe93f0.fc01ec"]]},{"id":"c2cc0bd9.42a7f8","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":109.25,"y":629.25,"wires":[]},{"id":"b138992b.645ff8","type":"ui_text","z":"819bfe9c.ed4f","group":"aba36961.e78d08","order":6,"width":0,"height":0,"name":"","label":"Авто/ручний bit0","format":"{{msg.payload}}","layout":"row-spread","x":989.2499961853027,"y":92.24999713897705,"wires":[]},{"id":"85a8e103.35f6e","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = msg.payload[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":810.6249961853027,"y":96.24999713897705,"wires":[["b138992b.645ff8"]]},{"id":"55253719.85b5b8","type":"switch","z":"819bfe9c.ed4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":99.875,"y":296,"wires":[["2023758b.51fa2a"],["fd6807a1.bad7f8"]]},{"id":"e7de4688.5d99d8","type":"function","z":"819bfe9c.ed4f","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}else{\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":557.375,"y":295.5000305175781,"wires":[["bfb88320.e0438","d9131df1.c33f1"]]},{"id":"9b883885.e79788","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":418.12500762939453,"y":936.0000133514404,"wires":[["5f44aa8d.9b1974"]]},{"id":"5f44aa8d.9b1974","type":"http response","z":"819bfe9c.ed4f","name":"","x":568.125,"y":933.5,"wires":[]},{"id":"4749aa01.3937a4","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":268.125,"y":37.25,"wires":[["4557b764.253c18"]]},{"id":"4557b764.253c18","type":"function","z":"819bfe9c.ed4f","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":410.625,"y":36,"wires":[[]]},{"id":"fd6807a1.bad7f8","type":"function","z":"819bfe9c.ed4f","name":"","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":158.875,"y":354,"wires":[[]]},{"id":"2023758b.51fa2a","type":"switch","z":"819bfe9c.ed4f","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":242.375,"y":280.25,"wires":[["287f9e07.a0cb52","21a8fa77.03bc7e","f315a062.6fae4"]]},{"id":"c6b7b295.9c2c6","type":"ui_chart","z":"819bfe9c.ed4f","name":"","group":"f1f1a16b.d06f4","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":765,"y":519.75,"wires":[[],[]]},{"id":"50fe93f0.fc01ec","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":421.25,"y":1003.5,"wires":[["8b082cf0.01184"]]},{"id":"8b082cf0.01184","type":"http response","z":"819bfe9c.ed4f","name":"","x":571.2499923706055,"y":1000.9999866485596,"wires":[]},{"id":"bfb88320.e0438","type":"file","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":735.875,"y":378.5000305175781,"wires":[]},{"id":"c8e6e2eb.e6bdd","type":"file in","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","format":"utf8","x":479.37500381469727,"y":1077.250012397766,"wires":[["f454afa3.5a516"]]},{"id":"5dcacde1.3a9ab4","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":213.75,"y":1071,"wires":[["c8e6e2eb.e6bdd"]]},{"id":"f454afa3.5a516","type":"http response","z":"819bfe9c.ed4f","name":"","x":676.25,"y":1064.75,"wires":[]},{"id":"d9131df1.c33f1","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":766.6250610351562,"y":295.9999694824219,"wires":[]},{"id":"13f83d36.afae63","type":"http in","z":"819bfe9c.ed4f","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":203.75,"y":879.75,"wires":[["af50c7f0.5642b8","3693cc73.ffea64"]]},{"id":"af50c7f0.5642b8","type":"file","z":"819bfe9c.ed4f","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":488.125,"y":882.25,"wires":[]},{"id":"3693cc73.ffea64","type":"http response","z":"819bfe9c.ed4f","name":"","x":606,"y":846,"wires":[]},{"id":"5d025bd6.9cd014","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":128.5,"y":1216,"wires":[["38e4a335.ae15dc","378e6f11.2c9b7"]]},{"id":"ff7cad00.b2628","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":352.5,"y":1210,"wires":[]},{"id":"38e4a335.ae15dc","type":"function","z":"819bfe9c.ed4f","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":230.5,"y":1277,"wires":[["ff7cad00.b2628"]]},{"id":"378e6f11.2c9b7","type":"function","z":"819bfe9c.ed4f","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":228,"y":1328,"wires":[["ff7cad00.b2628"]]},{"id":"e6260f35.c2d96","type":"function","z":"819bfe9c.ed4f","name":"Fill weights table_hand","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto,\n                Mode:\"hand\"\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":478,"wires":[[]]},{"id":"9a5e0bf0.7e2778","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"true","complete":"payload","x":317,"y":90,"wires":[]},{"id":"287f9e07.a0cb52","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":378.5,"y":289.5,"wires":[["e7de4688.5d99d8"]]},{"id":"5955789.41aae88","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":117.5,"y":1433,"wires":[["d0719dcc.5fc18"]]},{"id":"d0719dcc.5fc18","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"false","complete":"false","x":306,"y":1435,"wires":[]},{"id":"a7a50139.cb045","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":326,"y":1506,"wires":[["f7c76ccb.bedd6"]]},{"id":"f7c76ccb.bedd6","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"false","complete":"false","x":504.5,"y":1508,"wires":[]},{"id":"2897201.74b56e","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":416,"wires":[["e97e7c55.07df"]]},{"id":"e97e7c55.07df","type":"function","z":"819bfe9c.ed4f","name":"ручне","func":"msg.payload = {\n                Date: \"2018-09-24T13:40:49.689Z\",\n                Weight: 72,\n                TotalWeight:237071\n            }     \n   \n\nreturn msg;","outputs":1,"noerr":0,"x":367.25,"y":406.0000305175781,"wires":[["3f718f79.18c5b8","bfb88320.e0438"]]},{"id":"3f718f79.18c5b8","type":"debug","z":"819bfe9c.ed4f","name":"","active":true,"console":"true","complete":"payload","x":714,"y":421.0000305175781,"wires":[]},{"id":"21a8fa77.03bc7e","type":"function","z":"819bfe9c.ed4f","name":"обнулення Prev_t_n","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\n\nif(total_w === 0){\n   flow.set('prev_total_netto', 0); \n}\nreturn msg;","outputs":1,"noerr":0,"x":367.75,"y":344.25,"wires":[[]]},{"id":"f315a062.6fae4","type":"delay","z":"819bfe9c.ed4f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":378.75,"y":237.5,"wires":[["e7de4688.5d99d8"]]},{"id":"71fcb56c.ce6014","type":"http request","z":"819bfe9c.ed4f","name":"ThingsBoard Smart Scale","method":"POST","ret":"txt","url":"http://104.248.138.164:8080/api/v1/JmPBj9ZzaOY1SIioWi5f/telemetry","tls":"","x":1683.4444427490234,"y":309.55548095703125,"wires":[["bb0f3b96.8c0148"]]},{"id":"f25a6f7f.991b18","type":"function","z":"819bfe9c.ed4f","name":"","func":"msg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload = msg.payload.telemetry;\nreturn msg;","outputs":1,"noerr":0,"x":1483.4444427490234,"y":309.55548095703125,"wires":[["71fcb56c.ce6014"]]},{"id":"bb0f3b96.8c0148","type":"debug","z":"819bfe9c.ed4f","name":"","active":false,"console":"false","complete":"false","x":1903.4444427490234,"y":309.55548095703125,"wires":[]},{"id":"880d5ac0.4b64d","type":"function","z":"819bfe9c.ed4f","name":"currentWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"currentWeight\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1293.4444427490234,"y":289.55548095703125,"wires":[["f25a6f7f.991b18"]]},{"id":"de24405.aaa614","type":"function","z":"819bfe9c.ed4f","name":"totalWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"totalWeight\": msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1283.4444427490234,"y":329.55548095703125,"wires":[["f25a6f7f.991b18"]]},{"id":"288c1dc9.b30dba","type":"function","z":"819bfe9c.ed4f","name":"ThingsBoard integrations","func":"var resultTH = {\n   \"deviceName\": \"scales 1\",\n   \"deviceType\": \"scale\",\n   \"attributes\": {\n       \"model\": \"KODA D400\",\n       \"serialNumber\": \"SN012345\",\n       \"integrationName\": \"Smart scale MQTT integration\"\n   }\n};\nflow.set('resultTH',resultTH);   \nreturn msg;","outputs":1,"noerr":0,"x":1565.6666259765625,"y":173.99990844726562,"wires":[[]]},{"id":"17e9273e.0a1be1","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1345.6666259765625,"y":173.99990844726562,"wires":[["288c1dc9.b30dba"]]},{"id":"4ad90cdc.08ff1c","type":"function","z":"819bfe9c.ed4f","name":"counter","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"counter\" : msg.payload\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1273.4444427490234,"y":369.55548095703125,"wires":[["f25a6f7f.991b18"]]},{"id":"5bf6e5d0.c784d4","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":1100.1111450195312,"y":281,"wires":[["880d5ac0.4b64d"]]},{"id":"45638a8f.28ae9c","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"total_netto","payloadType":"flow","repeat":"1","crontab":"","once":false,"x":1105.7776794433594,"y":324.3333435058594,"wires":[["de24405.aaa614"]]},{"id":"cc4c3b86.8c5018","type":"inject","z":"819bfe9c.ed4f","name":"","topic":"","payload":"counter_po","payloadType":"flow","repeat":"1","crontab":"","once":false,"x":1086.6666564941406,"y":367.77777099609375,"wires":[["4ad90cdc.08ff1c"]]}]
