Bunkerni-Thingsboard/Kamyanka
[{"id":"4eec0fa7.e45ff","type":"tab","label":"BST106-B68 Bulkweigh"},{"id":"fa3e955e.1f7eb8","type":"tab","label":"Flow 2"},{"id":"ee41a81a.a24348","type":"tab","label":"rezerv"},{"id":"5d031c95.f8e3d4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":10,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"730312af.4af50c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7a58f547.7c1bbc","type":"ui_group","z":"","name":"Default2","tab":"be247188.d15b5","disp":true,"width":"6"},{"id":"1f544cd1.330bc3","type":"ui_group","z":"","name":"Default","tab":"730312af.4af50c","disp":true,"width":"6"},{"id":"be247188.d15b5","type":"ui_tab","z":"","name":"rezerv","icon":"dashboard"},{"id":"ef45985e.c34d58","type":"ui_group","z":"","name":"Default","tab":"be247188.d15b5","disp":true,"width":"6"},{"id":"f1fd0231.99ee2","type":"function","z":"4eec0fa7.e45ff","name":"","func":"flow.set('brutto',msg.payload[1]);\nflow.set('netto',msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[[]]},{"id":"91ff9cce.32026","type":"function","z":"4eec0fa7.e45ff","name":"","func":"var temp = msg.payload;\nvar b = [];\nvar alias = {\n    0: 'Авто',\n    1: 'Выполнение',\n    2: 'Последняя порция',\n    3: 'Авария положительного отклонения',\n    4: 'Авария отрицательного отколнения',\n    5: 'Разгрузка',\n    6: 'Разгрузка текущей порции завершена',\n    7: 'Последняя порция завершена',\n    8: 'Пауза',\n    9: 'Авария верхнего предела превышения брутто',\n    10: '',\n    11: '',\n    12: 'Диапазон нулевого веса',\n    13: 'Значение веса стабильно',\n    14: 'Авария перегрузки',\n    15: 'Неисправность контроллера'\n}\nfor(var i = 0; i < 16; i++){\n    \n    //добавим отвес в текущую таблицу\n    // var t = {\n    //     name: alias[i],\n    //     value: (temp >> i) & 1 \n    // }\n    \n    // if(i==6 && t.value == 1){\n    //     flow.get('weights').push(\n    //         {\n    //             Date: new Date(),\n    //             Weight: flow.get('brutto')\n    //         });\n    // }\n    // b.push(t);\n}\nflow.set('status',b);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":363.75000381469727,"y":181.25000286102295,"wires":[["22266482.1f09dc"]]},{"id":"22266482.1f09dc","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"false","complete":"false","x":758.0000076293945,"y":175.75000190734863,"wires":[]},{"id":"de17009b.5ebf2","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"netto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":227.25000762939453,"y":702.0000095367432,"wires":[["37803208.56541e","7fcf670c.26be68"]]},{"id":"e01a2031.545b8","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"brutto","payloadType":"flow","repeat":"0.5","crontab":"","once":false,"x":228.25000762939453,"y":748.0000095367432,"wires":[["693b4823.66e858"]]},{"id":"37803208.56541e","type":"ui_text","z":"4eec0fa7.e45ff","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"name":"","label":"Netto","format":"{{msg.payload}}","layout":"row-spread","x":709.3750343322754,"y":717.5000095367432,"wires":[]},{"id":"693b4823.66e858","type":"ui_text","z":"4eec0fa7.e45ff","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"name":"","label":"Brutto","format":"{{msg.payload}}","layout":"row-spread","x":704,"y":768.5,"wires":[]},{"id":"35cd91fc.c2d24e","type":"ui_text","z":"4eec0fa7.e45ff","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"name":"","label":"Сумарний вес","format":"{{msg.payload}}","layout":"row-spread","x":778.7500076293945,"y":477.5000047683716,"wires":[]},{"id":"39b94852.2642c8","type":"ui_text","z":"4eec0fa7.e45ff","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"name":"","label":"Счетчик Порций","format":"{{msg.payload}}","layout":"row-spread","x":361.62501525878906,"y":590.5,"wires":[]},{"id":"a7dda546.426238","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"true","complete":"payload","x":617.5,"y":555.5,"wires":[]},{"id":"9bf882a8.6def1","type":"function","z":"4eec0fa7.e45ff","name":"сумарний вес","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseInt(fltView[0]);\n\n\n\nflow.set('total_netto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":361.375,"y":510.75,"wires":[["a7dda546.426238","35cd91fc.c2d24e","1d6e8b05.be49c5"]]},{"id":"aefb3e73.296ed","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"true","complete":"payload","x":620.0000076293945,"y":590.0000076293945,"wires":[]},{"id":"981b6f14.883fc","type":"function","z":"4eec0fa7.e45ff","name":"порци","func":"var buf = new ArrayBuffer(4);\nvar intView = new Uint16Array(buf);\nvar fltView = new Uint32Array(buf);\n\nintView[0] = msg.payload[3]; //low\nintView[1] = msg.payload[2]; //high\n\nmsg.payload = parseInt(fltView[0]);\nflow.set(\"counter_po\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":332.25,"y":547,"wires":[["aefb3e73.296ed","39b94852.2642c8"]]},{"id":"b134fe91.90854","type":"function","z":"4eec0fa7.e45ff","name":"5 рег","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":361.875,"y":221,"wires":[["876bca4e.8d18d8","7166b4bf.ba5ffc"]]},{"id":"876bca4e.8d18d8","type":"ui_text","z":"4eec0fa7.e45ff","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"name":"","label":"5 регістр","format":"{{msg.payload}}","layout":"row-spread","x":723.7500114440918,"y":311.2500057220459,"wires":[]},{"id":"7166b4bf.ba5ffc","type":"ui_chart","z":"4eec0fa7.e45ff","name":"","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"label":"5 Регістр","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":710.6250114440918,"y":351.2500066757202,"wires":[[],[]]},{"id":"7fcf670c.26be68","type":"ui_chart","z":"4eec0fa7.e45ff","name":"","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"label":"Netto","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":701.2500114440918,"y":675.0000114440918,"wires":[[],[]]},{"id":"bd1f08a2.48f308","type":"http in","z":"4eec0fa7.e45ff","name":"","url":"/getAll","method":"get","swaggerDoc":"","x":186.875,"y":940.0000190734863,"wires":[["c02f72ea.974d9"]]},{"id":"21b15932.944956","type":"http in","z":"4eec0fa7.e45ff","name":"","url":"/getTotal","method":"get","swaggerDoc":"","x":198.75,"y":1007.5000190734863,"wires":[["c3bf7498.392198"]]},{"id":"58b9f1e7.88f3f","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"true","complete":"payload","x":501.25,"y":121.25,"wires":[]},{"id":"c73aec0f.a6c53","type":"switch","z":"4eec0fa7.e45ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":95.875,"y":327,"wires":[["eac42442.58ad78","11c9fe93.8770e1"],["4f69ff6b.32b13"]]},{"id":"cf3aae2.42dff5","type":"function","z":"4eec0fa7.e45ff","name":"Fill weights table","func":"\nvar prev_total_netto = flow.get('prev_total_netto');\nvar cur_total_netto = flow.get('total_netto');\n\nif(prev_total_netto){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto-prev_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n} \n\nif(prev_total_netto === 0){\n    var record = {\n                Date: flow.get(\"time\"),\n                Weight: cur_total_netto,\n                TotalWeight:cur_total_netto\n            }     \n    flow.set('trigger',false);\n}\n\nflow.get('weights').push(record);  \nflow.set('prev_total_netto',cur_total_netto);\n\nmsg.payload = record;\n\nreturn msg;","outputs":1,"noerr":0,"x":536.0535888671875,"y":384.5,"wires":[["cc74c460.4fb2e8","b5bbc184.828da"]]},{"id":"c02f72ea.974d9","type":"function","z":"4eec0fa7.e45ff","name":"","func":"msg.payload = flow.get('weights');\nreturn msg;","outputs":1,"noerr":0,"x":418.12500762939453,"y":940.0000133514404,"wires":[["7b00abf7.84c804"]]},{"id":"7b00abf7.84c804","type":"http response","z":"4eec0fa7.e45ff","name":"","x":568.125,"y":937.5,"wires":[]},{"id":"6bb60084.524f1","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":268.125,"y":41.25,"wires":[["84e754d6.571cd8"]]},{"id":"84e754d6.571cd8","type":"function","z":"4eec0fa7.e45ff","name":"init","func":"flow.set('weights',[]);\nflow.set('trigger',false);\nreturn msg;","outputs":1,"noerr":0,"x":410.625,"y":40,"wires":[[]]},{"id":"4f69ff6b.32b13","type":"function","z":"4eec0fa7.e45ff","name":"","func":"flow.set('trigger',true);\nreturn msg;","outputs":1,"noerr":0,"x":161.875,"y":387.1428461074829,"wires":[[]]},{"id":"eac42442.58ad78","type":"switch","z":"4eec0fa7.e45ff","name":"","property":"trigger","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":242.375,"y":327.25,"wires":[["3dbba327.6a63ec","b4d75f7b.de8f3"]]},{"id":"1d6e8b05.be49c5","type":"ui_chart","z":"4eec0fa7.e45ff","name":"","group":"1f544cd1.330bc3","order":0,"width":0,"height":0,"label":"sum weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":765,"y":523.75,"wires":[[],[]]},{"id":"c3bf7498.392198","type":"function","z":"4eec0fa7.e45ff","name":"","func":"msg.payload = flow.get('total_netto');\nreturn msg;","outputs":1,"noerr":0,"x":421.25,"y":1007.5,"wires":[["3efa92ce.0085de"]]},{"id":"3efa92ce.0085de","type":"http response","z":"4eec0fa7.e45ff","name":"","x":571.2499923706055,"y":1004.9999866485596,"wires":[]},{"id":"cc74c460.4fb2e8","type":"file","z":"4eec0fa7.e45ff","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":766.5178375244141,"y":408.9285640716553,"wires":[]},{"id":"c19c4460.baea38","type":"file in","z":"4eec0fa7.e45ff","name":"","filename":"/bulkweights_data.json","format":"utf8","x":479.37500381469727,"y":1081.250012397766,"wires":[["d2a9838f.02c83"]]},{"id":"61bf0f26.059de","type":"http in","z":"4eec0fa7.e45ff","name":"","url":"/getAllFile","method":"get","swaggerDoc":"","x":213.75,"y":1075,"wires":[["c19c4460.baea38"]]},{"id":"d2a9838f.02c83","type":"http response","z":"4eec0fa7.e45ff","name":"","x":676.25,"y":1068.75,"wires":[]},{"id":"b5bbc184.828da","type":"debug","z":"4eec0fa7.e45ff","name":"","active":true,"console":"false","complete":"false","x":735.9821701049805,"y":446.78571128845215,"wires":[]},{"id":"761821b8.7c317","type":"http in","z":"4eec0fa7.e45ff","name":"","url":"/Clear","method":"get","swaggerDoc":"","x":203.75,"y":883.75,"wires":[["330f42ea.affa0e","ec0b3f9e.9adc6"]]},{"id":"330f42ea.affa0e","type":"file","z":"4eec0fa7.e45ff","name":"","filename":"/bulkweights_data.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":488.125,"y":886.25,"wires":[]},{"id":"ec0b3f9e.9adc6","type":"http response","z":"4eec0fa7.e45ff","name":"","x":606,"y":850,"wires":[]},{"id":"56f7e2d2.16774c","type":"modbus-read","z":"4eec0fa7.e45ff","name":"Gross weight","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"500","rateUnit":"ms","server":"5d031c95.f8e3d4","x":116,"y":136,"wires":[["f1fd0231.99ee2","269f3228.8e778e"],[]]},{"id":"a806ff39.29a42","type":"modbus-read","z":"4eec0fa7.e45ff","name":"status weight","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"5","quantity":"1","rate":"1000","rateUnit":"ms","server":"5d031c95.f8e3d4","x":101,"y":208,"wires":[["c73aec0f.a6c53","b134fe91.90854","58b9f1e7.88f3f"],[]]},{"id":"859a76f6.da6328","type":"modbus-read","z":"4eec0fa7.e45ff","name":"10.11.12.13","showStatusActivities":true,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"10","quantity":"4","rate":"200","rateUnit":"ms","server":"5d031c95.f8e3d4","x":99,"y":542,"wires":[["9bf882a8.6def1","981b6f14.883fc"],[]]},{"id":"11f994ab.69d50b","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":149,"y":1184,"wires":[["10482379.d408cd","66b8528f.223d7c"]]},{"id":"e7bec1e6.85d08","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"false","complete":"false","x":373,"y":1178,"wires":[]},{"id":"10482379.d408cd","type":"function","z":"4eec0fa7.e45ff","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 3; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate;\n//msg.payload = newDate.toLocaleString();\nflow.set(\"time\", newDate );\nreturn msg;\n","outputs":1,"noerr":0,"x":251,"y":1245,"wires":[["e7bec1e6.85d08"]]},{"id":"66b8528f.223d7c","type":"function","z":"4eec0fa7.e45ff","name":"","func":"\n\nmsg.payload = flow.get(\"time\");\n//msg.payload = newDate.toLocaleString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":248.5,"y":1296,"wires":[["e7bec1e6.85d08"]]},{"id":"269f3228.8e778e","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"true","complete":"payload","x":279,"y":84,"wires":[]},{"id":"3dbba327.6a63ec","type":"delay","z":"4eec0fa7.e45ff","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":326.1428680419922,"y":387.7142639160156,"wires":[["cf3aae2.42dff5"]]},{"id":"b4d75f7b.de8f3","type":"delay","z":"4eec0fa7.e45ff","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440.5714416503906,"y":328.85712909698486,"wires":[["cf3aae2.42dff5"]]},{"id":"e77ebd38.1b57b","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78,"y":446,"wires":[["50ad25e7.f4519c"]]},{"id":"50ad25e7.f4519c","type":"function","z":"4eec0fa7.e45ff","name":"","func":"msg.payload = {\n                Date: \"2018-09-05T08:25:50.012Z\",\n                Weight: 1003,\n                TotalWeight:800516\n            } \nreturn msg;","outputs":1,"noerr":0,"x":228,"y":450,"wires":[["b5bbc184.828da"]]},{"id":"11c9fe93.8770e1","type":"function","z":"4eec0fa7.e45ff","name":"prev_total_обнулення","func":"var total_w = flow.get('total_netto');\nvar prev_t = flow.get('prev_total_netto');\nif(total_w === 0){\n    flow.set('prev_total_netto',0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":279,"wires":[[]]},{"id":"e6cd6bb1.2aea08","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"prev_total_netto","payloadType":"flow","repeat":"","crontab":"","once":false,"x":164.5,"y":1423,"wires":[["8a702b4a.684898"]]},{"id":"8a702b4a.684898","type":"debug","z":"4eec0fa7.e45ff","name":"","active":true,"console":"false","complete":"false","x":375.5,"y":1423,"wires":[]},{"id":"b308127.454ef7","type":"http request","z":"4eec0fa7.e45ff","name":"ThingsBoard Smart Scale","method":"POST","ret":"txt","url":"http://104.248.138.164:8080/api/v1/2U3ZiBUq7DebAjLyUN76/telemetry","tls":"","x":1572,"y":229,"wires":[["81848f7.7f012f"]]},{"id":"5cdef3cb.552064","type":"function","z":"4eec0fa7.e45ff","name":"","func":"msg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload = msg.payload.telemetry;\nreturn msg;","outputs":1,"noerr":0,"x":1392,"y":229,"wires":[["b308127.454ef7"]]},{"id":"81848f7.7f012f","type":"debug","z":"4eec0fa7.e45ff","name":"","active":false,"console":"false","complete":"false","x":1772,"y":229,"wires":[]},{"id":"b36d5b71.b148d8","type":"function","z":"4eec0fa7.e45ff","name":"currentWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"currentWeight\" : flow.get(\"netto\")\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1202,"y":269,"wires":[["5cdef3cb.552064"]]},{"id":"26e9411a.34ad86","type":"function","z":"4eec0fa7.e45ff","name":"totalWeight","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"totalWeight\": flow.get(\"total_netto\")\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1192,"y":309,"wires":[["5cdef3cb.552064"]]},{"id":"2cf7baa2.66a5be","type":"function","z":"4eec0fa7.e45ff","name":"ThingsBoard integrations","func":"var resultTH = {\n   \"deviceName\": \"scales 1\",\n   \"deviceType\": \"scale\",\n   \"attributes\": {\n       \"model\": \"KODA D400\",\n       \"serialNumber\": \"SN012345\",\n       \"integrationName\": \"Smart scale MQTT integration\"\n   }\n};\nflow.set('resultTH',resultTH);   \nreturn msg;","outputs":1,"noerr":0,"x":1484,"y":94,"wires":[[]]},{"id":"815472a7.aa6b3","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1255,"y":91,"wires":[["2cf7baa2.66a5be"]]},{"id":"4338a43.3fdd65c","type":"function","z":"4eec0fa7.e45ff","name":"counter","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"counter\" : flow.get(\"counter_po\")\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1182,"y":349,"wires":[["5cdef3cb.552064"]]},{"id":"3372f251.c706de","type":"inject","z":"4eec0fa7.e45ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":1037,"y":192,"wires":[["b36d5b71.b148d8","26e9411a.34ad86","4338a43.3fdd65c"]]}]
